{% extends "base.html" %}

{% block title %}Orphan VMs{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.multi_checkbox_selector.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            check_box_selector();
                $("#orphanlist").tablesorter({
                        headers: {
                                0: { sorter: 'false' },
                        }
                });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Import Virtual Machines</h1>
    
    <p class="info">
        If you manually create virtual machines they will exist in ganeti, and
        must be manually imported.
    </p>
    
    <form action="{% url import-missing_db %}" method="post">
        {{form.errors}}
        {{form.owner.label}} {{form.owner}}
        <input type="submit" value="Import Selected" {%if not vms%}disabled{%endif%}>
        <table id="orphanlist" class="sorted">
        <thead>
            <tr>
                <th></th>
                <th>Cluster</th>
                <th>Hostname</th>
            </tr>
        </thead>
        <tbody id="orphans">
                {% for vm in vms %}
                    <tr><td><input type="checkbox" name="virtual_machines" value="{{vm.0}}" /></td><td>{{vm.1}}</td><td>{{vm.2}}</td></tr>
                {% empty %}
                    <tr><td colspan="3">All virtual machines are synchronized.</td></tr>
                {% endfor %}
        </tbody>
        </table>
    </form>
{% endblock %}
