{% extends "base.html" %}

{% block title %}Orphan VMs{% endblock %}

{% block content %}
    <h1>Import Virtual Machines</h1>
    
    <p class="info">
        If you manually create virtual machines they will exist in ganeti, and
        must be manually imported.
    </p>
    
        <form action="{% url import-missing %}" method="post">
        {{form.errors}}
        {{form.owner.label}} {{form.owner}}
        <input type="submit" value="Import Selected" {%if not vms%}disabled{%endif%}>
        <ul id="orphans">
            {% for vm in vms %}
                <li><input type="checkbox" name="virtual_machines" value="{{vm.0}}">{{vm.1}}</li>
            {% empty %}
                <p>All Virtual Machines Synchronized.</p>
            {% endfor %}
        </ul>
        </form>
{% endblock %}