{% extends "base.html" %}

{% block title %}Orphan VMs{% endblock %}

{% block content %}
    <h1>Orphaned Virtual Machines</h1>
    
    <p class="info">
        Orphaned virtual machines are those that do not have an owner.  Owners
        are not required but they allow you to track who a virtual machine was
        created for.  Ownership does not grant permissions to a user or group
        but it does consume their resource quota.
    </p>
    
    {% if vms %}
        <form action="{% url import-orphans %}" method="post">
        {{form.errors}}
        {{form.owner.label}} {{form.owner}}
        <input type="submit" value="Update Selected">
        <ul id="orphans">
            {% for vm in vms %}
                <li><input type="checkbox" name="virtual_machines" value="{{vm.0}}">{{vm.1}}</li>
            {% endfor %}
        </ul>
        </form>
    {% endif %}    
    {% if not vms and vmcount > 0 %}
        <p>All virtual machines currently have owners!</p>
    {% endif %}
    {% if vmcount == 0 %}
        <p>There are currently no VMs.</p>
    {% endif %}
{% endblock %}