{% extends "base.html" %}
{% block title %} Organization: {{ org.name }}{% endblock %}

{% block head %}
<style>
    li {
        margin-left:0;
        list-style:none;
    }
    
    #users {
        width:100%;
    }

    #users .permissions, #add_user {
        cursor:pointer;
    }

    #users .delete {
        color:red;
        cursor:pointer;
    }
    
    ul.errors {
        color:#AD2E2E;
    }
    
    ul.errors {
        list-style:square;
    }
    
    
</style>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.form.js"></script>
<script type="text/javascript">
    
    
    var add_user_options = 
    
    $(document).ready(function() {
        
        // Add user button
        $('#add_user').qtip({
            content: {
               url: '{{SITE_ROOT}}/organization/{{org.id}}/user/add/',
               title: {text:'Add User', button:'close'},
            },
            position: {  corner:{target:'center', tooltip:'center'}},
            style: {name: 'blue', border:{radius:5}},
            show: {when:{event:"click"}},
            hide: {fixed: true, when:false}
        });
        
        // Add user submit button
        $("#add_user_submit").live("click", function(){
            $("#add_user_form .errors").empty();
            data = $("#add_user_form").ajaxSubmit({
                    success: add_user_response
                });
        });
        
        // Delete user button
        $('#users .delete').live("click", function() {
            id = this.parentNode.parentNode.id.substring(5);
            $.post('/organization/{{org.id}}/user/remove/', {'user':id},
                function(code){
                    if(code==1) {
                        console.log($(this.parentNode.parentNode));
                    }
                }, "json");
        });
        
        // Update Permission Button
        $(".permissions").live("click", function() {
            id = this.parentNode.id.substring(5);
            $this = $(this);
            
            // destroy old qtip before showing new one
            $(".permissions").each(function(){
                if($(this).data("qtip") != undefined) {$(this).qtip("destroy");}
            });
            
            $this.qtip({
                content: {
                   url: "{{SITE_ROOT}}/organization/{{org.id}}/user/" + id,
                   title: {text:'Permissions: '+id, button:'close'},
                },
                position: {corner:{ target:"topMiddle", tooltip:"bottomMiddle"}},
                style: {name: 'blue',
                        border:{radius:5},
                        width:200,
                        tip: 'bottomMiddle'
                        },
                show: {when:false, ready:true},
                hide: {fixed: true, when:false}
            });
        });
        
        // Update Permission Submit
        $("#permissions_submit").live("click", function(){
            $("#errors").empty();
            data = $("#permissions_form").ajaxSubmit({
                    success: update_permissions_response
                });
        });
    });
    
    function add_user_response(responseText, statusText, xhr, $form) {
        mimetype = xhr.getResponseHeader('Content-Type');
        if (mimetype == 'application/json') {
            // parse errors
            errors = responseText
            for (key in errors) {
                $("#errors").append("<li>"+ errors[key] +"</li>")
            }
        } else {
            // successful user, add the new html to the row and fire any
            // javascript required to make it functional
            $("#users").append(responseText);
        }
    }
    
    function update_permissions_response(responseText, statusText, xhr, $form) {
        mimetype = xhr.getResponseHeader('Content-Type');
        if (mimetype == 'application/json') {
            // parse errors
            errors = responseText
            for (key in errors) {
                $("#errors").append("<li>"+ errors[key] +"</li>")
            }
        } else {
            // successful permissions change.  replace the user row with the
            // newly rendered html
            html = $(responseText);
            $("#users " + html.attr('id')).replaceWith(html);
        }
    }
    
    
</script>
{% endblock %}

{% block content %}

<h2>{{org.name}}</h2>
<h2>Users<h2>
<div id="add_user">Add User</div>
<table id="users">
    <tr>
        <th>Name</th>
        <th>Permissions</th>
    </tr>
    {% for user in org.users.all %}
        {% include "organizations/user_row.html" %}
    {% endfor %}
</table>

{% endblock %}
