{% extends "base.html" %}

{% block title %}
    {% if username %}Edit User{% else %}Add User{% endif %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            {% if username %}
                Edit {{ username }}
            {% else %}
                Create New User
            {% endif %}
        </legend>
        {{ form.as_p }}
        <input type="submit" value="{% if username %}Save{% else %}Create{% endif %}">
    </fieldset>
</form>
{% endblock %}