{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block head %}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("a.delete").live("click", function(){
            name = $(this).parents("tr").children("[name=\"username\"]").html();
            if (confirm("Remove User: " + name)) {
                parent = this.parentNode.parentNode;
                $.delete_(this.href, function(){
                    $(parent).remove();
                });
            }
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
{% include "users/table.html" %}
{% endblock %}