/* base.css */
* {
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
}

html {width: 100%;}
html, body {height:100%; /* Sticky Footer */ } 
body {
    background:url(/media/images/body_background.png) repeat-x top #eee;
    color:#333333;
    min-width:974px;
}

/*Sticky footer - Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#body_wrapper {
    background: url(/media/images/background_with_menu.png) repeat-y center #eee !important;
}

h1 {font-size: 1.5em; margin-top: 0;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.1em; margin: 15px 0 0.5ex 0;}
h3 a, h3 a:visited {color: #559BD7; font-size: 1em; text-decoration: none;}

a:link, a:visited{color: #5B80B2; text-decoration: none;}
a:hover, a:active {color: #7AB0DC;}

table {border-collapse:collapse;}
tr.even {background: #fafafa;}
td a {border:0;}

ul {margin-top: 0; list-style-type: square;}

li {
    font-size:12px;
    line-height:16px;
    list-style:none;
    margin-left:0;
}

/**
 * Forms and Form Elements
 **/
/*  Default Settings */
form input.submit {color:black; }
form p label {
    float: left;
    text-align: right;
    margin-top: 0.3ex;
    margin-right: 0.5em;
    display: block;
}
form ul.errorlist {color:red;padding:1ex 1ex;}
form p {padding:0.5ex 0;}
fieldset {border:0; padding-top:0.7em;}
legend {font-size: 1.1em; font-weight:bold; padding-top: 10px;}
form table, form table td, form table td {border:0 !important;}
form p label {width:12em;}
form input.submit{margin-left:12.5em;}

pre {
    background-color:#eee;
    border: 1px solid #ddd;
    font-family:monospace;
    font-size:10px;
    overflow:scroll;
    padding:5px;
}
pre.op_log{
    border-right-color:#000;
    border-top-color:#000;
}
pre.error {
    overflow:visible;
    color:#000;
    font-family:monospace;
    padding:5px;
    background-color:transparent;
    border:transparent;
    font-weight:normal;
    font-size:12px;
}

.first_fieldset {margin-top:0px;padding-top:0px;}

#body_wrapper {
    min-height: 100%; /* Sticky footer */
    width:979px;
    margin:0 auto;
}

#header {
    background-color: #222;
    color:white;
    height:64px;
    margin:0 auto;
    position:relative;
    padding-top:10px;
    width: 100%;
}
#header a img {border:0;}
#header a:active, #header a:link,
#header a:visited, #header a:hover {color: white; font-weight: bold;}
#header_strip {height:5px; background-color:#C16328; border-bottom:1px solid #ccc;}

#langform {display:inline;}

.select_lang{color: white; font-weight: normal !important;}

#logo {display:block; margin-left:145px;}

#content_wrapper {background:#eee; width:100%;}
#content_column {margin: 0 auto; width:979px;}
#content {
    background:white;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    float:left;
    min-height:400px;
    padding:10px 10px 87px 10px; /* Sticky footer - bottom padding must be at least the height of the footer */
    width: 817px;
}
#content h1 {margin:10px 0 10px 0;}
#content table {margin-top:15px;  width:100%;}
#content th {background:#eeeeee; border:1px solid #dddddd !important;}
#content td.actions {width:16px;}
#content tr {border-right:0;}
#content tr.group_row {margin:auto;}
#content tr.none td {border-bottom: 1px solid white; font-style:italic;}
#content td.error {padding-right:0 !important; width:16px;}
#content td, #content th, #content td a {
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:12px;
    line-height:14px;
    padding:5px;
    text-align: center;
    vertical-align:top;
}
#content th.status, #content th.actions { background:none; padding:0;}
#content td a {border:0; padding:0;}

/* horizontal info tables */
#content table.horizontal td { text-align:left; }
#content table.horizontal th { width:15em; }

/* tablesorter style */
#content table.sorted th {
    background: url(/media/images/bg.gif) no-repeat center right #eee;
    padding-right: 15px;
    cursor: s-resize;
}
#content table.sorted .ascending {background-image: url(/media/images/asc.gif);}
#content table.sorted .descending {background-image: url(/media/images/desc.gif);}

#footer {
    background: url(/media/images/footerBack.jpg) repeat-x 0 0 #1d1d1d;
    border-top: 2px solid #666;
    clear:both; /* sticky footer */
    color: #C8CED3;
    height: 60px; /* sticky footer - must have fixed height */
    margin: -67px auto 0 auto; /* Sticky footer - top is negative value of footer height, includes padding */
    position:relative; /* Sticky Footer */
    padding: 5px 0 0 0;
    text-align: center;
    min-width:979px;
    width: 100%;
}
#footer a {color:#C16328;}

.floatfix {clear:both;}

/**
 * Top menu bar
 **/
#user_menu {
    background-color:#C16328;
    border: 1px solid #ccc;
    border-top:0;
    font-weight:normal;
    font-size:11px;
    min-height:18px;
    padding:5px 5px 0 10px;
    position:absolute;
    right:50px;
    top:-1px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    z-index:100;
}
#user_menu a {font-size:11px !important; margin:0 !important; padding:0 !important;}
#user_menu a:hover {text-decoration:underline;}
#language {cursor:pointer;}
#languages {
    background-color:#C16328;
    display:none;
    margin: 5px 0 5px 15px;
    width:230px;
}
#languages li {
    float:left;
    list-style:disc !important;
    margin:3px;
    width:70px;
}
#languages li.current {font-weight:bold;}


/**
 * Main menu
 **/
 .menu {

     
    float:left;
    color:#555555;
    padding:30px 10px 0 0;
    width:130px;
}
.menu ul {float:left; list-style-type: none; padding-left: 20px; width:110px;}
.menu ul li { height:18px; margin: 0px; }
.menu ul li a {color: #666666 !important; text-decoration: none;}
.menu ul li a:hover {color: black !important;}
.menu ul li:hover {list-style: disc;}
.menu h3 {
    border-bottom:1px solid #BBBBBB;
    margin: 15px 0 5px 0;
    width:100%;
}

/**
 * Search
 */
#search_box{
    width:111px;
}

.ui-autocomplete{
    background: white;
    border:     1px solid #BBBBBB;

    /* box shadow */
    -moz-box-shadow:    0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 20px black;
    box-shadow:         0px 0px 20px black;
}

/** Bread Crumbs **/
h1.breadcrumb a, h1.breadcrumb span {color:#C16328 !important; font-size:inherit;}
h1.breadcrumb a:hover {text-decoration:underline;}


/**
 *Tabs
 */
.ui-tabs-nav {
    border-radius:0 !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
}
.ui-widget-header {
    background:none !important;
    border-radius:0 !important;
    border-width:0 0 1px 0 !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
}
.ui-widget-content {border:0 !important;}
#tabs h3 {margin-top:25px;}
#tabs table {margin-top:5px;}

/** Buttons and Icons **/
.icon {
    background-repeat:no-repeat;
    height:16px;
    padding:0;
    width:16px;
}
.button {
    background-color: #eeeeee !important;
    /*background-position:4px 4px !important;*/
    background-position: 4px center !important;
    border: 1px solid #cccccc;
    clear:both;
    color:#666 !important;
    cursor:pointer;
    float:right;
    padding:4px 4px 4px 24px;
    margin:2px 2px 4px 2px;
    width:140px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.button:hover {
    background-color: #dadada !important;
    color:black !important;
    border-color:#aaaaaa;
}
.button.enabled {
    background-color: #cccccc !important;
    color:black !important;
    border-color:#999;
}
.button.disabled {color: #aaa !important;}
.button.disabled:hover {background-color: #eee !important; border-color:#ccc;}
.button.disabled.enabled:hover {border-color:#999;}

/** Button backgrounds **/
div.edit, a.edit{background:url(/media/images/icons/edit.png) no-repeat;}
div.delete, a.delete{background:url(/media/images/icons/delete.png) no-repeat;}


.add {background:url(/media/images/icons/add.png) no-repeat;}
.add.disabled {background:url(/media/images/icons/add-disabled.png) no-repeat;}
div.edit.disabled, a.edit.disabled{background:url(/media/images/icons/edit-disabled.png) no-repeat;}
div.delete.disabled, a.delete.disabled{background:url(/media/images/icons/delete-disabled.png) no-repeat;}

div.delete, div.edit {
    background-repeat:no-repeat;
    height:16px;
    float:left;
    padding:0;
    width:16px;
}

.icon {
    display:block;
    height:16px;
    width:16px;
}


/** Pagination **/
.pagination {float:right; margin-top: 15px;}
.pagination li{
    margin:0;
    display:inline;
    font-size:11px;
    list-style:none;
    padding:3px 6px;
}
.pagination .next a,
.pagination .previous a { font-weight:bold; }
.pagination .page {border:solid 1px #9aafe5; cursor:pointer; margin:0 2px 0 0;}
.pagination li.page:hover { background-color:#9aafe5;}
.pagination .active {
    background-color:#2e6ab1 !important;
    border-color:#2e6ab1;
    color:#FFFFFF;
    cursor:auto;
    font-weight:bold;
}
.pagination a:link,
.pagination a:visited {
    margin:0;
    color:#0e509e;
    text-decoration:none;
}
.pagination a:hover { text-decoration:underline;}
