#virtualmachineform, #vmeditform { float:left; width:400px; }
fieldset {margin-top:10px;}

fieldset h3 {width:330px;}
#disks ul {clear:both;}
#disks input, #nics input, #nics select {float:left;}
#disks .add, #nics .add {float:right; cursor:pointer;}
#disks .delete, #nics .delete {padding-top:3px; cursor:pointer;}
#nics input {width:110px;}
#nics p label {clear:both;}