* {
    font-family: arial, tahoma, sans-serif;
    font-size: 10pt;
}

html {
    width: 100%;
}

#header {
    background: url('/static/header.png');
    height: 152px;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: ;
    border: #bbb 5px solid;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
}

body {
    padding-bottom: 2em;
    background: white;
}

#content {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: white;
    border: 5px solid #bbb;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
}

#title, #title a {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: black;   
    height: 124px;
}

#menu {
    height: 28px;
    padding-top: 5px;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline;
}

#menu ul li {
    padding-left: 20px;
    display: inline;
}

#menu ul li a {
    color: black;
    text-decoration: none;
}

#menu ul li a:hover {
    font-weight: bold;
}

#footer {
    clear: both;
    padding-top: 1em;
    text-align: center;
}

#searchbar {
    position: relative;
    float: right;
    padding: 0;
    padding-right: 4px;
    top: -28px;
    color: black;
    margin: 0;
}

#searchbar a {
    color: black;
}

#searchbar input {
    border: none;
    font-size: 1em;
    width: 10em;
}

.ticketitem {
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border-top: 1px solid #fafafa;
}

.ticketitem a {
    font-weight: bold;
    color: #559BD7;
    text-decoration: none;
}

#queuelist {
    float: left;
    width: 180px;
    padding-left: 1em;
}

#queuelist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#queuelist ul li {
    padding: 0;
    padding-top: 0.7em;
    margin: 0;
}

#queuelist a, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #559BD7;
}

#ticketlist {
    margin-left: 180px;
    border-left: 1px solid #fafafa;
    padding-left: 1em;
    padding-right: 1em;
}

.queuestats {
    color: gray;
    font-size: 0.9em;
}

.queuestats abbr {
    font-style: italic;
}

#pagelist {
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: white;
    padding-left: 200px;
    width: 100%;
    padding-top: 0.5em;
    border-top: 1px solid #333;
}

#pagelist a {
    text-decoration: none;
    color: gray;
}


h2, h3 {
    text-align: center;
}

h3 {
    font-size: 1.1em;
}

h3 a, a:visited {
    text-decoration: none;
    color: #559BD7;
}

td {
    text-align: center;
}

tr.even {
    background: #fafafa;
}

span.highlighted {
    font-weight: bold;
    color: red;
}

form.update {
    text-align: center;
    display: none;
}
form.update textarea {
    width: 100%;
}

.hidden {
    display: none;
}

.center_text {
    text-align: center;
}

#searchform {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}