/* base.css */
* {
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
}

html {width: 100%;}
html, body {height:100%; /* Sticky Footer */ } 
body {
    background:url(/media/images/body_background.png) repeat-x top #eee;
    color:#333333;
    min-width:974px;
}

/*Sticky footer - Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

h1 {font-size: 1.5em; margin-top: 0;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.1em; margin: 15px 0 0.5ex 0;}
h3 a, h3 a:visited {color: #559BD7; font-size: 1em; text-decoration: none;}

a:link, a:visited{color: #5B80B2; text-decoration: none;}
a:hover, a:active {color: #7AB0DC;}

table {border-collapse:collapse;}
tr.even {background: #fafafa;}
td a {border:0;}

ul {margin-top: 0; list-style-type: square;}
li {
    font-size:12px;
    line-height:16px;
    list-style:none;
    margin-left:0;
}

/**
 * Forms and Form Elements
 **/
/*  Default Settings */
form input.submit {color:black; width:6em;}
form p label {
    float: left;
    text-align: right;
    margin-top: 0.3ex;
    margin-right: 0.5em;
    display: block;
}
form ul.errorlist {color:red;padding:1ex 1ex;}
form p {padding:0.5ex 0;}
fieldset {border:0; padding-top:0.7em;}
legend {font-size: 1.1em; font-weight:bold; padding-top: 10px;}
form table, form table td, form table td {border:0 !important;}
form p label {width:12em;}
form input.submit{margin-left:12.5em;}

pre {
    background-color:#eee;
    border: 1px solid #ddd;
    font-family:monospace;
    font-size:10px;
    overflow:scroll;
    padding:5px;
}

#body_wrapper {
    min-height: 100%; /* Sticky footer */
    width:979px;
    margin:0 auto;
}

#header {
    background-color: #222;
    color:white;
    height:64px;
    margin:0 auto;
    position:relative;
    padding-top:10px;
    width: 100%;
}
#header a img {border:0;}
#header a:active, #header a:link,
#header a:visited, #header a:hover {color: white; font-weight: bold;}
#header_strip {height:5px; background-color:#C16328; border-bottom:1px solid #ccc;}

#langform {display:inline;}

.select_lang{color: white; font-weight: normal !important;}

#logo {display:block; margin-left:145px;}

#content_wrapper {
    background:#eee;
    width:100%;
}
#content_column {margin: 0 auto; width:979px;}
#content {
    background:white;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    float:left;
    min-height:400px;
    padding:10px 10px 87px 10px; /* Sticky footer - bottom padding must be at least the height of the footer */
    width: 817px;
}
#content h1 {margin:10px 0 10px 0;}
#content table {margin-top:15px;  width:100%;}
#content th {background:#eeeeee; border:1px solid #dddddd !important;}
#content td.actions {width:16px;}
#content tr {border-right:0;}
#content tr.group_row {margin:auto;}
#content tr.none td {border-bottom: 1px solid white; font-style:italic;}
#content td.error {padding-right:0 !important; width:16px;}
#content td, #content th, #content td a {
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:12px;
    line-height:14px;
    padding:5px;
    text-align: center;
    vertical-align:top;
}
#content th.status, #content th.actions { background:none; padding:0;}
#content td a {border:0; padding:0;}

/* tablesorter style */
#content table.sorted th {
    background: url(/media/images/bg.gif) no-repeat center right #eee;
    padding-right: 15px;
    cursor: s-resize;
}
#content table.sorted .ascending {background-image: url(/media/images/asc.gif);}
#content table.sorted .descending {background-image: url(/media/images/desc.gif);}

#footer {
    background: url(/media/images/footerBack.jpg) repeat-x 0 0 #1d1d1d;
    border-top: 2px solid #666;
    clear:both; /* sticky footer */
    color: #C8CED3;
    height: 60px; /* sticky footer - must have fixed height */
    margin: -67px auto 0 auto; /* Sticky footer - top is negative value of footer height, includes padding */
    position:relative; /* Sticky Footer */
    padding: 5px 0 0 0;
    text-align: center;
    min-width:979px;
    width: 100%;
}
#footer a {color:#C16328;}

.floatfix {clear:both;}

/**
 * Top menu bar
 **/
#user_menu {
    background-color:#C16328;
    border: 1px solid #ccc;
    border-top:0;
    font-weight:normal;
    font-size:11px;
    min-height:18px;
    padding:5px 5px 0 10px;
    position:absolute;
    right:50px;
    top:-1px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    z-index:100;
}
#user_menu a {font-size:11px !important; margin:0 !important; padding:0 !important;}
#user_menu a:hover {text-decoration:underline;}
#language {cursor:pointer;}
#languages {
    background-color:#C16328;
    display:none;
    margin: 5px 0 5px 15px;
    width:230px;
}
#languages li {
    float:left;
    list-style:disc !important;
    margin:3px;
    width:70px;
}
#languages li.current {font-weight:bold;}