/* Oregon State Colors:
 *  Brand Orange - #d85a1a
 *  Brown - #9d601e
 *  411 (Baige) - #615042
 *  Warm Gray - #c6c0b7
 *  7539 (Gray) - #abada4
 *  5415 (Blue) - #6b859e
 *  5503 (Light Blue) - #a7c4c9
 *
 *  BG - OSU Homepage (09/24/10) - #eeece8
 * */
/* Current colors
 * Links:
 *  #559BD7
 *  #9DC8EB
 * Text:
 *  white
 * Background:
 *  #9DC8EB
 */
* {
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    margin: 0px;
    padding: 0px;
}

html {width: 100%;}

body {
    background-color:#333333;
    color:#333333;
    height: auto;
    margin: 0em;
    min-width:974px;
}


h1 {font-size: 1.5em; margin-top: 0px;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.1em; margin-bottom: .5ex;}
h3 a, h3 a:visited {color: #559BD7; font-size: 1em; text-decoration: none;}

a:link, a:visited{color: #5B80B2; text-decoration: none;}
a:hover, a:active {color: #7AB0DC;}

table {border-collapse:collapse;}
tr.even {background: #fafafa;}


td a {border:0;}

ul {margin-top: 0px; list-style-type: square;}
li {
    font-size:12px;
    line-height:16px;
    list-style:none;
    margin-left:0px; 
}

#header {
    background: #7AB0DC; /*#7BC3FF;*/
    border-bottom:1px solid #888888;
    margin:0 auto;
    width: 100%;
}

#header a:active, #header a:link,
#header a:visited, #header a:hover {color: white; font-weight: bold;}

#title, #title a {
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding-top: .5em;
    text-align: center;
}
#title a:link, #title a:visited {color: white;}

.menu {
    float:left;
    color:#555555;
    padding:30px 10px 0 0;
    width:130px;
}

.menu ul {
    float:left;
    list-style-type: none;
    padding-left: 20px;
}
.menu ul li { height:18px; margin: 0px; }
.menu ul li a {color: #666666 !important; text-decoration: none;}
.menu ul li a:hover {color: black !important;}
.menu ul li:hover {list-style: disc;}
.menu h3 {
    float:left;
    border-bottom:1px solid #BBBBBB;
    margin: 15px 0 5px 0;
    width:100%;
}
.menu .user, .menu .user a {font-size:11px;}
.menu .user a {display:block;}

#content_wrapper {background:#EEEEEE; border-bottom: 5px solid #666666; width:100%;}
#content_column {margin: 0 auto; width:974px;}
#content {
    background:white;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    float:left;    
    min-height:490px;
    padding:10px 10px 20px 10px;
    width: 812px;
}
#content h1 {margin:10px 0 10px 0;}
#content table {margin-top:15px;  width:100%; border: 1px solid #dddddd;}
#content th {background:#eeeeee; border-bottom:1px solid #dddddd !important;}
#content td.name {text-align:left; padding-left:0;}
#content tr.none td {border-bottom: 1px solid white; font-style:italic;}
#content td.error {padding-right:0 !important; width:16px;}
#content td {border-left:1px solid white; border-right: 1px solid white;}
#content td, #content th, #content td a {
    border-bottom:1px solid #EEEEEE;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:12px;
    line-height:14px;
    padding:5px;
    text-align: center;
    vertical-align:top;
}
#content td a {border:0;}

/**
 * Forms and Form Elements
 **/
/*  Default Settings */
form input.submit {color:black; width:6em;}
form p label {
    float: left;
    text-align: right;
    margin-top: 0.3ex;
    margin-right: 0.5em;
    display: block;
}
form ul.errorlist {color:red;padding:1ex 1ex;}
form p {padding:0.5ex 0ex;}
fieldset {border:0px; padding-top:1em;}
legend {font-size:1.5em; font-weight:bold;}
form table, form table td, form table td {border:0 !important;}
form p label {width:12em;}
form input.submit{margin-left:12.5em;}

/*   Login   */
#login {margin: 3em auto 0em auto; width: 30%;}
#login fieldset {border:1px black solid;}
#login fieldset {padding:1em;}
#login fieldset p {padding-bottom:1.5ex;}
#login p label {width: 5.5em;}
#login input.submit {margin-left: 6em;}

/* Clusters */
#quota {
    background:#eeeeee;
    border:1px solid #dddddd;
    margin:2em;
    padding: 1em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#quota p label {width:9em;}

/*  Orphans */
#orphans {margin:1em 0em 0em 1em;}
#orphans li input {margin:0ex 1ex 0ex 0ex;}

#configuration {text-align: center;}
#configuration form {margin: 0 auto 0 auto; max-width: 800px;}
#configuration th {text-align: right;}
#configuration td {text-align: left;}
#configuration input[type="text"] {width: 30em;}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

.info {
    background:#eeeeee;
    border:1px solid #dddddd;
    margin:20px 0 20px 0;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.disabled{ color:grey; background:white; border:white 2px solid; }

ul#errors {color:#AD2E2E;}
ul.errors {list-style:square;}

.add, .delete, .edit, .reboot, .shutdown, .startup {cursor:pointer; margin-right:3px;}
div.edit{background:url(/media/images/icons/edit.png);}
div.delete{background:url(/media/images/icons/delete.png);}
div.icon_error {background:url(/media/images/icons/exclamation.png);}
div.delete, div.edit, div.icon_error {
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    float:left;
}

.add a, .reboot a, .shutdown a, .startup a,
.add a:visited, .reboot a:visited, .shutdown a:visited, .startup a:visited,
.add a, .reboot a, .shutdown a, .startup a:link{color:inherit !important;}

.add, .reboot, .shutdown, .startup {
    background-color: #eeeeee !important;
    border: 1px solid #cccccc;
    clear:both;
    color:black;
    float:right; 
    padding:4px 4px 4px 22px;
    margin:2px;
    width:140px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.add {background:url(/media/images/icons/add.png) no-repeat 4px 4px;}
.reboot {background:url(/media/images/icons/arrow_refresh.png) no-repeat 4px 4px;}
.shutdown {background:url(/media/images/icons/stop.png) no-repeat 4px 4px;}
.startup {background:url(/media/images/icons/add.png) no-repeat 4px 4px;}
.add:hover, .reboot:hover, .shutdown:hover, .startup:hover {background-color: #dadada !important; color:black;}

.spinner {margin:0 auto; text-align:center; width:100px}
.spinner image {display:block; margin:0 auto; width:32px;}


#messages li {
    background-color:#c2e192;
    border: 2px solid #124612;
    color:#124612;
    font-weight:bold;
    font-size:110%;
    margin:20px auto 20px auto;
    padding: 10px 0 10px 0;
    text-align:center;
    width:700px;
}
#messages li.error {background-color:#ee9c98; border-color: #c83737; color:#550000;}
#messages li p {font-size:12px; font-weight:normal;}

.ajax_form .submit {margin:10px auto 0 auto; width:6em;}
.ajax_form ul#errors li {
    color:#AD2E2E;
    list-style:square;
    margin: 0 0 10px 20px;}

.name {text-align:left;}
tr.user td.name, tr.group td.name { padding-left:22px !important;}
tr.user td.name {background:url(/media/images/icons/user.png) no-repeat 0 4px;}
tr.group td.name {background:url(/media/images/icons/group.png) no-repeat 0 4px;}

.permissions a {color:#333333;}
.permissions .none, .quota.default {color:#C1C1C1; font-style:italic;}



.floatfix {clear:both;}
