/* Oregon State Colors:
 *  Brand Orange - #d85a1a
 *  Brown - #9d601e
 *  411 (Baige) - #615042
 *  Warm Gray - #c6c0b7
 *  7539 (Gray) - #abada4
 *  5415 (Blue) - #6b859e
 *  5503 (Light Blue) - #a7c4c9
 *
 *  BG - OSU Homepage (09/24/10) - #eeece8
 * */
/* Current colors
 * Links:
 *  #559BD7
 *  #9DC8EB
 * Text:
 *  white
 * Background:
 *  #9DC8EB
 */
* {
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
}

html {width: 100%;}

body {
    color:#333333;
    height: auto;
    margin: 0em;
}


h1 {font-size: 1.5em; margin-top: 0px;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.1em; margin-bottom: .5ex;}
h3 a, h3 a:visited {color: #559BD7; font-size: 1em; text-decoration: none;}

a:link, a:visited{color: #5B80B2; text-decoration: none;}
a:hover, a:active {color: #7AB0DC;}

table {border-collapse:collapse;}
tr.even {background: #fafafa;}
td, th, td a {
    border-bottom:1px solid #EEEEEE;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:12px;
    line-height:14px;
    padding:5px;
    text-align: center;
    vertical-align:top;
}

td a {border:0;}

ul {margin-top: 0px; list-style-type: square;}
li {
    font-size:12px;
    line-height:16px;
    list-style:none;
    margin-left:0px; 
}

p label {
    width: 10em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

#header {
    background: url('/static/header.png') #7AB0DC; /*#7BC3FF;*/
    height: 8em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header a:active, #header a:link,
#header a:visited, #header a:hover {color: white; font-weight: bold;}

#title, #title a {
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding-top: .5em;
    text-align: center;
}
#title a:link, #title a:visited {color: white;}

#menu {margin-top: 3.5em;}
#menu ul {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu ul li { display: inline; margin: 0px; padding-left: 20px;}
#menu ul li a {color: black !important; text-decoration: none;}
#menu ul li a:hover {font-weight: bold;}


#content {
    width: auto;
    margin: 1em auto;
    background: white;
    padding: 0em 1em 1em 1em;
}
#contentwrapper {margin: 0em auto; width: auto; }

#login {width: 30%; margin: 0em auto;}
#login fieldset {}
#login label {
    width: 7em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
#login input.submit {margin-left: 7.5em;}

#configuration {text-align: center;}
#configuration form {margin: 0 auto 0 auto; max-width: 800px;}
#configuration th {text-align: right;}
#configuration td {text-align: left;}
#configuration input[type="text"] {width: 30em;}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

ul#errors {color:#AD2E2E;}
ul.errors {list-style:square;}
.add, .delete {cursor:pointer;}
div.delete {
    background:url(/media/images/icons/delete.png);
    background-repeat:no-repeat;
    width:16px;
    height:16px;
}


.add {background:url(/media/images/icons/add.png);}
.reboot {background:url(/media/images/icons/arrow_refresh.png);}
.shutdown {background:url(/media/images/icons/stop.png);}
.startup {background:url(/media/images/icons/add.png);}
.add, .reboot, .shutdown, .startup {
    background-repeat:no-repeat;
    padding-left:22px;
}


.ajax_form .submit {margin:0 auto 0 auto; width:6em;}
.name {text-align:left;}
tr.user td.name, tr.group td.name { padding-left:22px;}
tr.user td.name {background:url(/media/images/icons/user.png) no-repeat 0 4px;}
tr.group td.name {background:url(/media/images/icons/group.png) no-repeat 0 4px;}