/* content.css */

h1 .breadcrumb {color:#C16328 !important; font-size:inherit;}
h1 a.breadcrumb:hover {text-decoration:underline;}

#body_wrapper {
    background: url(/media/images/background_with_menu.png) repeat-y center #eee !important;
}

#user_menu {
    background-color:#C16328;
    border: 1px solid #ccc;
    border-width:0px 1px 1px 1px;
    font-weight:normal;
    font-size:11px;
    height:18px;
    padding:5px 5px 0 10px;
    position:absolute;
    right:50px;
    top:-1px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#user_menu a {font-size:11px !important; margin:0 !important; padding:0 !important;}
#user_menu a:hover {text-decoration:underline;}

.menu {
    float:left;
    color:#555555;
    padding:30px 10px 0 0;
    width:130px;
}
.menu ul {float:left; list-style-type: none; padding-left: 20px;}
.menu ul li { height:18px; margin: 0px; }
.menu ul li a {color: #666666 !important; text-decoration: none;}
.menu ul li a:hover {color: black !important;}
.menu ul li:hover {list-style: disc;}
.menu h3 {
    float:left;
    border-bottom:1px solid #BBBBBB;
    margin: 15px 0 5px 0;
    width:100%;
}
.menu .user, .menu .user a {font-size:11px;}
.menu .user a {display:block;}

#content_wrapper { background:#eee; width:100%;}
#content_column {margin: 0 auto; width:979px;}
#content {float:left; width: 817px;}
#content td.ram, td.disk {text-align:left !important;}
#content td.status, td.actions { padding:5px 0 0 0;}

/* tablesorter style */
#content table.sorted th {
    background-color: #eeeeee;
    background-image: url(/media/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    border: 1px solid #ddd;
    padding-right: 15px;
    cursor: s-resize;
}
#content table.sorted .headerSortUp {background-image: url(/media/images/asc.gif);}
#content table.sorted .headerSortDown {background-image: url(/media/images/desc.gif);}
#content table.sorted .headerSortDown, #content table.sorted .headerSortUp {
    background-color: #7AB0DC;
}

#content th.status, #content th.actions {
    background:none;
    padding:0;
}
#content td.a {padding:0;}

/**
 *Tabs
 */
.ui-tabs-nav {
    border-radius:0 !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
}
.ui-widget-header {
    background:none !important;
    border-radius:0 !important;
    border-width:0 0 1px 0 !important;
    -moz-border-radius:0px !important;
    -webkit-border-radius:0 !important;
}
.ui-widget-content {border:0 !important;}



/**
 * Actions (buttons Delete, Shutdown, Start, Reboot)
 **/
#actions.horizontal li {float: left;}
#actions.horizontal .button {width:120px;}

/**
 * Overview/Status page
 */
#errors_list h2, #usage_summary h2, #cluster_summary h2, #vm_summary h2,
#administration h2 {
    border:1px solid #555;
    background-color:#888;
    color:#fff;
    padding: 5px 10px;
    font-size:11px;
    margin:40px 0 0 0;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#usage_summary table, #cluster_summary table, #administration table,
#vm_summary table {margin:0;}

/**
 * Errors, failures and administration links - status page
 **/
#errors_list, #usage_summary, #administration { margin-top: 2em;}
#errors_list h2 {background-color:#DB533B; border-color:#BC4631}
#errors_list table {margin:0;}
#errors_list td.Cluster {
    padding-left: 25px;
    background:url(/media/images/icons/cluster.png) no-repeat 4px 4px;
}
#errors_list td.VirtualMachine {
    padding-left: 25px;
    background:url(/media/images/icons/vm.png) no-repeat 4px 4px;
}

/*   User Profile   */
#uprofile {margin: 0em auto 0em 0em; width: 50%;}
#uprofile fieldset { margin-bottom:10px; padding:1em; }
#uprofile fieldset h2 {margin-bottom:5px;}
#uprofile fieldset p {padding-bottom:1.5ex;}
#uprofile p label {width: 10.5em;}
#uprofile input.submit {margin-left: 11em;}

/* Clusters */
#quota {
    background:#eeeeee;
    border:1px solid #dddddd;
    margin:2em;
    padding: 1em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#quota p label {width:9em;}

/* Virtual Machines */
#content .overview {width:75%; border-color:#eee;}

/*  Orphans */
#orphans {margin:1em 0em 0em 1em;}
#orphans li input {margin:0ex 1ex 0ex 0ex;}

#configuration {text-align: center;}
#configuration form {margin: 0 auto 0 auto; max-width: 800px;}
#configuration th {text-align: right;}
#configuration td {text-align: left;}
#configuration input[type="text"] {width: 30em;}

.info {
    background:#eeeeee;
    border:1px solid #dddddd;
    margin:20px 0 20px 0;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.disabled{ color:grey; background:white; border:white 2px solid; }

ul#errors {color:#AD2E2E;}
ul.errors {list-style:square;}

.add, .delete, .edit, .reboot, .shutdown, .startup {cursor:pointer;}
div.edit, a.edit{background:url(/media/images/icons/edit.png) no-repeat;}
div.delete, a.delete{background:url(/media/images/icons/delete.png) no-repeat;}
div.deleting, a.deleting{background:url(/media/images/ajax-loader_small_transparent.gif) no-repeat;}
div.icon_error {background:url(/media/images/icons/exclamation.png);}
div.icon_running {background:url(/media/images/icons/check.png);}
div.icon_stopped {background:url(/media/images/icons/stop.png);}
div.icon_deleting {background:url(/media/images/icons/check_red.png);}
.clear {background:url(/media/images/icons/cancel-disabled.png);}

.add {background:url(/media/images/icons/add.png) no-repeat;}
.reboot {background:url(/media/images/icons/arrow_refresh.png) no-repeat;}
.reinstall {background:url(/media/images/icons/arrow_refresh.png) no-repeat;}
.shutdown {background:url(/media/images/icons/stop.png) no-repeat;}
.startup {background:url(/media/images/icons/add.png) no-repeat;}
.encrypt {background:url(/media/images/icons/lock_open.png) no-repeat;}
.connect {background:url(/media/images/icons/disconnect.png) no-repeat;}
.migrate {background:url(/media/images/icons/arrow_out.png) no-repeat;}
.evacuate {background:url(/media/images/icons/arrow_out.png) no-repeat;}
.modify {background:url(/media/images/icons/edit.png) no-repeat;}

div.edit.disabled, a.edit.disabled{background:url(/media/images/icons/edit-disabled.png) no-repeat;}
div.delete.disabled, a.delete.disabled{background:url(/media/images/icons/delete-disabled.png) no-repeat;}
.reboot.disabled {background:url(/media/images/icons/arrow_refresh-disabled.png) no-repeat;}
.reinstall.disabled {background:url(/media/images/icons/arrow_refresh-disabled.png) no-repeat;}
.shutdown.disabled {background:url(/media/images/icons/stop-disabled.png) no-repeat;}
.startup.disabled {background:url(/media/images/icons/add-disabled.png) no-repeat;}
.encrypt.enabled {background:url(/media/images/icons/lock.png) no-repeat;}
.connect.enabled {background:url(/media/images/icons/disconnect.png) no-repeat;}
.migrate.disabled {background:url(/media/images/icons/arrow_out.png) no-repeat;}
.evacuate.disabled {background:url(/media/images/icons/arrow_out.png) no-repeat;}
.modify.disabled {background:url(/media/images/icons/disconnect.png) no-repeat;}

div.delete, div.edit, div.icon_error, .icon_running, .icon_stopped, .icon_deleting, .clear {
    background-repeat:no-repeat;
    height:16px;
    float:left;
    padding:0;
    width:16px;
}

div.clear:hover {background:url(/media/images/icons/cancel.png) no-repeat !important;}
.clear {cursor:pointer;}

.button {
    background-color: #eeeeee !important;
    background-position:4px 4px !important;
    border: 1px solid #cccccc;
    clear:both;
    color:#666 !important;
    cursor:pointer;
    float:right; 
    padding:4px 4px 4px 24px;
    margin:2px;
    width:140px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.button:hover {
    background-color: #dadada !important;
    color:black !important;
    border-color:#aaaaaa;
}

.button.enabled {
    background-color: #cccccc !important;
    color:black !important;
    border-color:#999;
}

.button.disabled {color: #aaa !important;}
.button.disabled:hover {background-color: #eee !important; border-color:#ccc;}
.button.disabled.enabled:hover {border-color:#999;}

.spinner {margin:0 auto; text-align:center; width:100px}
.spinner image {display:block; margin:0 auto; width:32px;}


#messages li {
    background-color:#c2e192;
    border: 2px solid #124612;
    color:#124612;
    font-weight:bold;
    font-size:110%;
    margin:20px auto 20px auto;
    padding: 10px 0 10px 0;
    text-align:center;
    width:700px;
}
#messages li.error {background-color:#ee9c98; border-color: #c83737; color:#550000;}
#messages li p {font-size:12px; font-weight:normal;}

.ajax_form .submit {margin:10px auto 0 auto; width:6em;}
.ajax_form ul#errors li {
    color:#AD2E2E;
    list-style:square;
    margin: 0 0 10px 20px;}

.name {text-align:left;}
tr.user td.name, tr.group td.name { padding-left:22px !important;}
tr.user td.name {background:url(/media/images/icons/user.png) no-repeat 0 4px;}
tr.group td.name {background:url(/media/images/icons/group.png) no-repeat 0 4px;}

.permissions a {color:#333333;}
.permissions .none, .quota.default {color:#C1C1C1; font-style:italic;}

#vnc_errors {
    background-color: #ee9c98;
    border: 4px solid #ff8b87;
    padding: 10px;
    margin-bottom: 10px;
}

.ui-tabs-panel {padding-left:0 !important; padding-right:0 !important;}

.pagination {float:right; margin-top: 15px;}
.pagination li{
    margin:0;
    display:inline;
    font-size:11px;
    list-style:none;
    padding:3px 6px;
}
.pagination .next a,
.pagination .previous a { font-weight:bold; }
.pagination .page {border:solid 1px #9aafe5; cursor:pointer; margin:0 2px 0 0;}
.pagination li.page:hover { background-color:#9aafe5;}
.pagination .active {
    background-color:#2e6ab1 !important;
    border-color:#2e6ab1;
    color:#FFFFFF;
    cursor:auto;
    font-weight:bold;
}
.pagination a:link,
.pagination a:visited {
    margin:0;
    color:#0e509e;
    text-decoration:none;
}
.pagination a:hover { text-decoration:underline;}

/* No VNC tab */
#encrypt_check {display:none;}
