/* registration.css */
* {
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    margin: 0px;
    padding: 0px;
}

html {width: 100%;}

body {
    background-color:#333;
    color:#333333;
    height: auto;
    margin: 0em;
    min-width:974px;
}


h1 {font-size: 1.5em; margin-top: 0px;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.1em; margin: 15px 0 0.5ex 0;}
h3 a, h3 a:visited {color: #559BD7; font-size: 1em; text-decoration: none;}

a:link, a:visited{color: #5B80B2; text-decoration: none;}
a:hover, a:active {color: #7AB0DC;}

table {border-collapse:collapse;}
tr.even {background: #fafafa;}


td a {border:0;}

ul {margin-top: 0px; list-style-type: square;}
li {
    font-size:12px;
    line-height:16px;
    list-style:none;
    margin-left:0px; 
}

/* Header */
#header {
    background: #f7f7f7;
    border-bottom:2px solid #C16328;
    margin:0 auto;
    width: 100%;
}

#header a img {border:0;}
#header a:active, #header a:link,
#header a:visited, #header a:hover {color: white; font-weight: bold;}

#title, #title a {
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin:0 auto;
    padding: 11px 0 5px 80px;
    text-align: left;
    width:909px;
}
#title a:link, #title a:visited {color: white;}

/* Content */
#content_wrapper {
    background:#EEEEEE;
    border-bottom: 5px solid #666;
    padding-left:3px;
    width:100%;
}
#content_column {margin: 0 auto; width:55%;}
#content {
    background:white;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    float:left;
    min-height:490px;
    padding:10px 10px 20px 10px;
    margin: 0 auto;
    width:100%;
}
#content h1 {margin:10px 0 10px 0;}
#content table {margin-top:15px;  width:100%; border: 1px solid #dddddd;}
#content th {background:#eeeeee; border-bottom:1px solid #dddddd !important;}
#content td.name {text-align:center;}
#content td.actions {width:16px;}
#content tr.group_row {margin:auto;}
#content tr.none td {border-bottom: 1px solid white; font-style:italic;}
#content td.error {padding-right:0 !important; width:16px;}
#content td {border-left:1px solid white; border-right: 1px solid white;}
#content td, #content th, #content td a {
    border-bottom:1px solid #EEEEEE;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:12px;
    line-height:14px;
    padding:5px;
    text-align: center;
    vertical-align:top;
}
#content td.status, td.actions {
    padding:5px 0 0 0;
}


#content td a {border:0;}

/**
 * Forms 
 */
form input.submit {color:black; width:6em;}
form p label {
    float: left;
    text-align: right;
    margin-top: 0.3ex;
    margin-right: 0.5em;
    display: block;
}
form ul.errorlist {color:red;padding:1ex 1ex;}
form p {padding:0.5ex 0ex;}
fieldset {border:0px; padding-top:0.7em;}
legend {font-size: 1.1em; font-weight:bold; padding-top: 10px;}
form table, form table td, form table td {border:0 !important;}
form p label {width:12em;}
form input.submit{margin-left:12.5em;}

/* Login Form */
#login {margin: 3em auto 0em auto; width: 40%;}
#login fieldset {
    background: #eeeeee;
    border:1px #dddddd solid;
    margin-bottom:10px;
    padding:1em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#login fieldset h2 {margin-bottom:5px;}
#login fieldset p {padding-bottom:1.5ex;}
#login p label {width: 5.5em;}
#login input.submit {margin-left: 6em;}

/* Registration Form */
#registration {margin: 2em auto 0em auto; width:50%;}

/* Footer */
#footer {
    clear: both;
    margin: 0 auto;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

.floatfix {clear:both;}

