{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}
    {% if username %}{% trans "Edit User" %}{% else %}{% trans "Add User" %}{% endif %}
{% endblock %}

{% block head %}
    <link href="{{MEDIA_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <style>
    #detail h3 {margin-top:30px;}
    </style>
    <script src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabs').tabs({
                spinner: false,
                cache: true,
                select: function(event, ui) {
                    window.location.hash = ui.tab.hash;
                },
                ajaxOptions: {
                    error: function(xhr, status, index, anchor) {
                        $(anchor.hash).html("{% trans "Couldn't load this tab. We'll try to fix this as soon as possible" %}.");
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<h1><a class="breadcrumb" href="{%url user-list %}">{% trans "Users" %}</a> : {{ user_detail.username }}</h1>
<div id="tabs">
    <ul>
        <li><a href="#detail"><span>{% trans "Detail" %}</span></a></li>
        {% block tabs %}{% endblock tabs %}
    </ul>
    <div id="detail">
        <ul id="actions">
            <li><a class="button edit" title="edit user" href="{% url user-edit user_detail.pk %}">{% trans "Edit" %}</a></li>
        </ul>
        
        <table>
        <tr><th>{%trans "Email" %}:</th><td>{{user_detail.email}}</td></tr>
        <tr><th>{% trans "Join Date" %}:</th><td>{{user_detail.date_joined|date}}</td></tr>
        <tr><th>{% trans "Last Login" %}:</th><td>{{user_detail.last_login|date}}</td></tr>
        <tr><th>{% trans "Active" %}:</th><td>{{user_detail.is_active}}</td></tr>
        <tr><th>{% trans "Admin" %}:</th><td>{{user_detail.is_superuser}}</td></tr>
        </table>

        {% block detail %}{% endblock %}    </div>
</div>
{% endblock %}
