{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}
    {% if username %}{% trans "Edit User" %}{% else %}{% trans "Add User" %}{% endif %}
{% endblock %}

{% block head %}
    {% include "ssh_keys/header.html" %}
{% endblock %}

{% block content %}
{% if username %}
<form id="user-edit" method="post">
{% else %}
<form id="user-create" method="post">
{% endif %}
    {% csrf_token %}
    <fieldset>
        <legend>
            {% if username %}
                {% trans "Edit" %} {{ username }}
            {% else %}
                {% trans "Create New User" %}
            {% endif %}
        </legend>
        {{ form.as_p }}
        <input type="submit" value="{% if username %}{%trans "Save" %}{% else %}{% trans "Create" %}{% endif %}">
    </fieldset>
</form>

{% block detail %}{% endblock %}
{% endblock %}