{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}{%trans "Users" %}{% endblock %}

{% block head %}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("a.delete_user").live("click", function(event){
            event.preventDefault()
            var name = $(this).parents("tr").children("[name=\"username\"]").children('a').html();
            if (confirm("{% trans "Remove User" %}: " + name)) {
                var parent = this.parentNode.parentNode;
                $.delete_(this.href, function(){
                    $(parent).remove();
                });
            }
        });

        $("#userlist").tablesorter({
            sortList: [[0,0]],
            headers: {5: { sorter: false }}
        });
    });
</script>
{% endblock %}

{% block content %}
<h1 class="breadcrumb">{% trans "Users" %}</h1>
<a class="button add" href="{% url user-create %}">{% trans "Add User" %}</a>
{% include "user/table.html" %}
{% endblock %}
