{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}{% trans "User Profile" %}{% endblock %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        // Fade out info message after 5 seconds
        $('.fadeout').delay(5000).fadeOut();
    });
</script>
{% endblock %}

{% block content %}
    <div id="messages">
    {% for message in messages %}
        <li class="fadeout">{{ message }}</li>
    {% endfor %}
    </div>
    <h1>{% trans "Profile information for" %} {{user.username}}</h1>
    <fieldset id="uprofile">
        <form action="{% url profile %}" method="post">
            {{ form.as_p }}
            <input class="submit" id="save" type="submit" value="{% trans "Update" %}"/>
        </form>
    </fieldset>

    {% block detail %}{% endblock %}
{% endblock %}
