{% load i18n %}
<table id="userlist" class="sorted">
    <thead>
        <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Active" %}</th>
            <th>{% trans "Join Date" %}</th>
            <th>{% trans "Last Login" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for user in userlist %}
    <tr id="user_{{user.username}}">
        <td name="username" class="name"><a href="{% url user-detail user.pk %}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_active }}</td>
        <td>{{ user.date_joined|date }}</td>
        <td>{{ user.last_login|date }}</td>
        <td><a href="{% url user-edit user.id %}" class="delete_user"><div class="delete"></div></a></td>
    </tr>
    {% endfor %}
</table>

