{% load i18n %}
<html>
    <head>
    <title>{% block title %}Ganeti Web Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/base.css"/>
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.js"></script>
    <script type="text/javascript">
        function requireOnce(url) {
            if (!$("script[src='" + url + "']").length) {
                $('head').append("<script type='text/javascript' src='" + url + "'><//script>");
            }
        }
    </script>
    {% ifnotequal LANGUAGES|length 1 %}
        <script type="text/javascript" src="{{STATIC_URL}}/js/L18N.js"></script>
    {% endifnotequal %}
    {% block basehead %}{% endblock %}
    {% block head %}{% endblock %}
    </head>
    <body>

    <div id="body_wrapper">
        <div id="header_strip"></div>
        <div id="header">
            <a href="/" id="logo"><img src="{{STATIC_URL}}/logo.png"/></a>
            {% if LANGUAGES|length >= 2 or user.is_authenticated %}
            <div id="user_menu">
                {% ifnotequal LANGUAGES|length 1 %}<span id="language">{{ LANGUAGE_CODE }} &#9660;</span>{% endifnotequal %}
                {% block inner_header %}{% endblock %}
                {% ifnotequal LANGUAGES|length 1 %}
                <ul id="languages">
                    {% for lang in LANGUAGES %}
                        <li><a class="select_lang" href="#" title="{{lang.1}}" {% ifequal LANGUAGE_CODE lang.0 %}class="current"{% endifequal %}>{{ lang.0 }}</a></li>
                    {% endfor %}
                    <form action="/i18n/setlang/" method="post" id="langform">
                        {% csrf_token %}
                        <input id="langsel" name="language" type="hidden" value="" />
                    </form>
                    <div class="floatfix"></div>
                </ul>
                {% endifnotequal %}
            </div>
            {% endif %}
        </div>
        <div id="content_wrapper">
            <div id="content_column">
                {% block navigation %}{% endblock %}
                <div id="content">
                    {% block messages %}
                    <ul id="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% trans "Error" %}: {{ message|safe }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
                <div class="floatfix"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p><a href="{{ SITE_ROOT }}/about">About Ganeti Web Manager</a></p>
    </div>
    </body>
</html>
