<style>
    #key_list a {background:none;}
    #key_list a.edit div {padding-right:10px;}
</style>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.form.js"></script>
<script type="text/javascript">
    var id = null;

    // update appropriate row or add new in case the request succeded
    function update(responseText, statusText, xhr, $form) {
        if (xhr.getResponseHeader("Content-Type") == "application/json") {
            // handle errors
            fail(responseText);

        } else {
            // everything went fine

            // int is the value of record ID and means success
            $(".qtip").hide();

            // get only one table row, not the whole table
            if (id!=null) {
                // old record, update existing row
                $("#sshkey_"+id).replaceWith(responseText);
                id = null;
            } else {
                // new record, add to the end of table
                $("#key_list").append(responseText);
            }
        }
    }

    // show list of errors from XHR object request
    function fail(responseText) {
        // parse errors
        for (var key in responseText) {
            $(".qtip #errors").append("<li>"+ responseText[key] +"</li>");
        }
    } 

    // Open new qtip popup window
    function popup_qtip(obj, get_url) {
        // destroy old qtip before showing new one
        $(".qtip").qtip("destroy");

        $(obj).qtip({
            content: {
                url: get_url,
                title: {text:"SSH key: ", button: "close"}
            },
            position: {
                corner: {target:"bottomLeft", tooltip:"topRight"}
            },
            style: {name:"dark",border:{radius:5},width:390,tip:false,
            background:"#eee"},
            show: {when: false, ready: true},
            hide: {fixed: true, when: false},
            api: {onShow: function(){$(".ajax_form textarea").focus()}}
        });
    }

    $(function() {

        // "Add" button clicked
        $("#add_key").live("click", function() {
            // popup new qtip window
            popup_qtip(this, this.href);

            return false;
        });

        // "Delete" link clicked
        $("#key_list a.delete").live("click", function(event){
            event.preventDefault();
            var host = $(this).parents("tr").children("[name=\"host\"]").html();
            var key = $(this).parents("tr").children("[name=\"key\"]").html();
            var _id = $(this).parents("tr").attr("id").substring(7);

            if (confirm("Remove key \""+key+"\" with comment "+host + "?")) {
                var parent = this.parentNode.parentNode;
                $.delete_(this.href, function(){
                    $(parent).remove();
                });
            }

            // ensures we don't save already deleted key
            if (id==_id) {
                $(".qtip").qtip("destroy");
                id = null;
            }
        });

        // "Edit" link clicked
        $("#key_list a.edit").live("click", function(event){
            event.preventDefault();
            id = $(this).parents("tr").attr("id").substring(7);

            // popup new qtip window
            popup_qtip(this, this.href);
        });

        // Form submitted
        $(".ajax_form").live("submit", function(event) {
            event.preventDefault();
            //makes sure no errors are presented
            $(".qtip #errors").empty();

            $(this).ajaxSubmit({success: update});
        });
    });
</script>
