#help {
  margin-top: 20px;
}
#step_controls {
  padding-top: 25px;
}
.multi {
  display: inline-block;
}

button.edit_step {
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
     font-weight: bold;
}

button.edit_step:hover{
     text-decoration:underline;
}
