##
# The following lists what should be ignored in this git directory
##

# All compiled python code
*.pyc

# Settings should be setup per install
# Install all setting files except settings.py.dist
settings.py*
!settings.py.dist

# Any sqlite database files created by the project
*.db

# Object permissions
object_permissions

# Object Log
object_log

# Patch and Diff files
*.diff
*.patch

# Komodo files
*.komodo*

# vim swap files
*.swp

# Hidden files
.*
