##
# The following lists what should be ignored in this git directory
##

# All compiled python code
*.pyc

# Don't track the top-level settings.py, but do track the internal one.
settings.py*
!settings.py.dist
!ganeti_web/settings.py

# Any sqlite database files created by the project
*.db

# Patch and Diff files
*.diff
*.patch

# Failed patches
*.rej
*.orig

# Komodo files
*.komodo*
*.kpf

# PyCharm files
.idea

# vim swap files
*.swp
*.swo

# Log files
*.log

# Dunno about these; they were in Muddle's .gitignore
*~
*.key
*.pid
*.pem
*.bak
*.old

# files that might exist in dev environment
django
ganeti_web_layout
object_log
object_permissions
noVNC
muddle
haystack
muddle_users
twisted_vncauthproxy

# files/dirs created by Fabric and or VirtualEnv
bin
dependencies
include
lib
local
pysqlite2-doc
build

# whoosh index files (used by haystack search)
whoosh_index

# twisted cache
twisted/plugins/dropin.cache

# Hidden files
.*
