Corbin Simpson <simpsoco@osuosl.org> <MostAwesomeDude@gmail.com>
Emily Dunham <edunham@osuosl.org>
Peter Krenesky <peter@osuosl.org> <peter@hendrix.(none)>
Peter Krenesky <peter@osuosl.org> <peter@osl-Latitude-E4300.(none)>
<rob@osuosl.org> <rob@ent.(none)> 
<rob@osuosl.org> <rob.mcguiredale+git@gmail.com>
<rob@osuosl.org> <rob.mcguiredale@gmail.com>
Scott White <whiteau@osuosl.org> <whiteau@Gomez.(none)>
<bramwelt@osuosl.org> <tehriddler@gmail.com>
Jonah Brooks <brookjon@osuosl.org> <brookjon@ubuntu.ubuntu-domain>
<dearej@osuosl.org> <dearej@aqua.workstation.osuosl.org>
<andrewfree@osuosl.org> <andrewfree@orange.workstation.osuosl.org>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org> <pbnan@pbnan.pl>
