# Copyright (C) 2010 Oregon State University et al.
# Copyright (C) 2010 Greek Research and Technology Network
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301,
# USA.

# Django settings for ganeti_webmgr project.

import os.path

DEBUG = True
TEMPLATE_DEBUG = DEBUG

# XXX - Django sets DEBUG to False when running unittests.  They want to ensure
# that you test as if it were a production environment.  Unfortunately we have
# some models and other settings used only for testing.  We use the TESTING flag
# to enable or disable these items.
#
# If you run the unittests without this set to TRUE, you will get many errors!
TESTING = False
# Setting this to False disables south migrations when running tests.
SOUTH_TESTS_MIGRATE = False

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASE_ENGINE = 'sqlite3' # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME = 'ganeti.db' # Or path to database file if using sqlite3.
DATABASE_USER = ''          # Not used with sqlite3.
DATABASE_PASSWORD = ''      # Not used with sqlite3.
DATABASE_HOST = ''          # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''          # Set to empty string for default. Not used with sqlite3.


# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/Los_Angeles'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html

# In order to support localization the following have to be added:

ugettext = lambda s: s

# If no other locale is present/supported for the time leave the following as is.
# When locales are added, place them ath the "('yourlang', ugettext('YOUR LANGUAGE')),"
# line. E.g, for the Greek locale, it becomes: ('el', ugettext('Greek'))

LANGUAGES = (
#	 ('yourlang', ugettext('YOUR LANGUAGE')),
    ('el', ugettext('Greek')),
    ('en', ugettext('English')),
)
# end-of localization support

LANGUAGE_CODE = 'en-US'

# Unique site id used by many modules to distinguish site from others.
SITE_ID = 1

# Site name and domain referenced by some modules to provide links back to
#  the site.
SITE_NAME = 'Ganeti Web Manager'
SITE_DOMAIN = 'localhost:8000'

# Enable i18n (translations) and l10n (locales, currency, times).
# You really have no good reason to disable this.
USE_I18N = True
USE_L10N = True

# absolute path to the docroot of this site
DOC_ROOT = os.path.dirname(os.path.realpath(__file__))

# prefix used for the site.  ie. http://myhost.com/<SITE_ROOT>
# for the django standalone server this should be ''
# for apache this is the url the site is mapped to, probably /tracker
SITE_ROOT = ''

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = '%s/media' % DOC_ROOT

# URL that handles the media served from MEDIA_ROOT.
# XXX contrary to django docs, do not use a trailling slash.  It makes urls
# using this url easier to read.  ie.  {{MEDIA_URL}}/images/foo.png
MEDIA_URL = '%s/media' % SITE_ROOT

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/adminmedia/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '!c&bm88vo=gby*vxf2gydv8hc!+f+eo+yu&!g&!)#n5quwsr82'

AUTHENTICATION_BACKENDS = (
    'django.contrib.auth.backends.ModelBackend',
    'object_permissions.backend.ObjectPermBackend',
)

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.contrib.auth.context_processors.auth',
    'django.contrib.messages.context_processors.messages',
    'django.core.context_processors.debug',
    'django.core.context_processors.i18n',
    'django.core.context_processors.media',
    'ganeti_web.context_processors.site',
    'ganeti_web.context_processors.common_permissions'
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.csrf.CsrfResponseMiddleware'
)

ROOT_URLCONF = 'urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    'templates/'
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.messages',
    'django.contrib.sessions',
    'django.contrib.sites',
    'registration',
    'object_permissions',
    'ganeti_web',
    'object_log',
    'south',
    'haystack',
    'muddle_users',
)

# Search settings
ROOT_DIR_PATH = os.path.dirname(__file__)
ROOT_DIR_NAME = ROOT_DIR_PATH.split('/')[-1]
HAYSTACK_SITECONF = ROOT_DIR_NAME + '.search_sites'
HAYSTACK_SEARCH_ENGINE = 'whoosh'
HAYSTACK_WHOOSH_PATH = os.path.join(ROOT_DIR_PATH, 'whoosh_index')

AUTH_PROFILE_MODULE = 'ganeti_web.Profile'
LOGIN_REDIRECT_URL = '/'

DATE_FORMAT = "d/m/Y H:i"
DATETIME_FORMAT = "d/m/Y H:i"

ACCOUNT_ACTIVATION_DAYS = 7

# Email settings for registration
EMAIL_HOST = "localhost"
EMAIL_PORT = "25"
# DEFAULT_FROM_EMAIL = "noreply@example.org"

# default items per page
ITEMS_PER_PAGE = 10

# Ganeti Cached Cluster Objects Timeouts
#    lazy cache is the fallback cache timer that is checked when the object is
#    instantiated.
#
#    periodic cache timer is for use by an outside process such as Celery or
#    or cron which updates the cache on a set interval to ensure that data is
#    always up to date.
LAZY_CACHE_REFRESH = 60000
PERIODIC_CACHE_REFRESH = 15

# VNC Proxy. This will use a proxy to create local ports that are forwarded to
# the virtual machines.  It allows you to control access to the VNC servers.
#
# Expected values:
#   String syntax: "HOST:CONTROL_PORT", for example: "localhost:8888". If
#   localhost is used then the proxy will only be accessible to clients and
#   browsers on localhost. Production servers should use a publicly accessible
#   hostname or IP
#
# Firewall Rules:
#   Control Port: 8888, must be open between Ganeti Web Manager and Proxy
#   Internal Ports: 12000+ must be open between the Proxy and Ganeti Nodes
#   External Ports: default is 7000-8000, must be open between Proxy and Clients
#   Flash Policy Server: 843, must open between Proxy and Clients

VNC_PROXY='localhost:8888'


# API Key for authenticating scripts that pull information from ganeti, such as
# list of sshkey's to assign to a virtual machine
#
# XXX this is a temporary feature that will eventually be replaced by a system
#     that automatically creates keys per virtual machine.  This is just a quick
#     way of enabled a secure method to pull sshkeys from ganeti web manager
WEB_MGR_API_KEY = "CHANGE_ME"
