{% extends "reg_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="login">
    <fieldset>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="submit"type="submit" value="Login">
        </form>
    </fieldset>
    <p><a href="{% url auth_password_reset %}">Forgot password?</a></p>
    <p><a href="{% url registration_register %}">Not a member?</a></p>
</div>
{% endblock %}
