{% if form.children %}

    <h2 class="selector">{{name|capfirst}}</h2>
    <ul class="child_selecter">
        {% for name in form.children %}
            <li class="{{name}}">{{name}}</li>
        {% endfor %}
    </ul>
    {{form}}

    {% for name, form in form.instances.items %}
        <table id="{{name}}" class="child">
        {% for field in form %}
            <tr>
                <td class="label">{{ field.label_tag }}</td>
                <td class="field" title="{{field.help_text}}">{{field}}</td>
            </tr>
        {% endfor %}
        </table>

    {% endfor %}
{% else %}
    <h2>{{name|capfirst}}</h2>
    <table>
    {% for field in form %}
        <tr>
            <td class="label">{{ field.label_tag }}</td>
            <td class="field" title="{{field.help_text}}">{{field}}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}