{% extends "base.html" %}

{% block content %}

    <form id="edit" method="post" action="#">
        
        <h1>{{wrapper.name}}</h1>
        {% with form.form_instance as form %}
            {% include "edit/form_fields.html" %}
        {% endwith %}
        
        {% for name, form in form.one_to_one_instances.items %}
            <h2>{{name}}</h2>
            {%with form.form as form %}
                {% include "edit/form_fields.html" %}
            {% endwith %}
        {% endfor %}
        
        <br/>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}