{% load webmgr_tags %}

{% with record.obj|class_name as class %}
    <div class ="{{class}}">
    {% ifequal class 'Cluster' %}
        <a href="{% url cluster-detail record.obj.slug %}">{{ record.obj|abbreviate_fqdn }}</a>
    {% endifequal %}
    {% ifequal class 'VirtualMachine' %}
        <a href="{% url instance-detail record.obj.cluster.slug record.obj.hostname %}">{{ record.obj|abbreviate_fqdn }}</a>
    {% endifequal %}
    {% ifequal class 'Node' %}
        <a href="{% url node-detail record.obj.cluster.slug record.obj.hostname %}">{{ record.obj|abbreviate_fqdn }}</a>
    {% endifequal %}
    </div>
{% endwith %}