{% extends 'menu_base.html' %}
{% load webmgr_tags %}
{% block content %}

    <style>
        #search_result_title{
            margin-bottom:  20px;
        }

        #search_results li{
            margin-left:    20px;
            margin-top:     20px;
            margin-bottom:  10px;
        }

        #search_results p{
            margin-top:     5px;
            margin-bottom:  5px;
        }
    </style>

    {# If there was a query... #}
    {% if query %}
        <h1 id='search_result_title'>Search results</h1>

        {# If there were results, list them #}
        {% if page.object_list %}
        <ul id='search_results'>
            {% for result in page.object_list %}
                <li>
                    {# If the result was a virtual machine #}
                    {% if result.model_name == 'virtualmachine' %}
                        {% with result.object as vm %}
                            <p><b>Virtual Machine</b></p>
                            <a href='{% url instance-detail result.object.cluster.slug result.object.hostname %}'>
                                <h2>{{result.object.hostname}}</h2>
                            </a>
                            <p>
                                On cluster 
                                <a href='{% url cluster-detail vm.cluster.slug %}'>
                                    {{ vm.cluster|abbreviate_fqdn }}
                                </a> |
                                {{result.object.operating_system|render_os}} | 
                                {{result.object.virtual_cpus}} CPUs | 
                                {{result.object.ram|render_storage}} RAM | 
                                {{result.object.disk_size|render_storage}} disk
                            </p>
                        {% endwith %}

                    {# Otherwise, if the result is a cluster #}
                    {% else %}{% if result.model_name == 'cluster' %}
                        {% with result.object as cluster %}
                            <p><b>Cluster</b></p>
                            <a href='{% url cluster-detail cluster.slug %}'>
                                <h2>{{result.object.hostname}}</h2>
                            </a>
                            {% if result.object.description %}
                                {{result.object.description}} |
                            {% endif %} 
                        {% endwith %}
                    {% endif %}{% endif %}
                </li>
            {% endfor %}
        </ul>

        {# Otherwise, no results were found #}
        {% else %}{% if query|length < 2 %}
        <h3>Search query too short!</h3>
        <p>Please make your search query at least two characters long.</p>
        {% else %}
        <h3>No results</h3>
        <p>No results matching "{{query}}".</p>
        {% endif %}{% endif %}

        {# Paging stuffs #}
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}

    {# If no query was entered... #}
    {% else %}
        <h2>Not sure which <del>droids</del> virtual machines you're looking for...</h2>
        <p>
            Please enter a query in the search box in the sidebar.
        </p>
    {% endif %}

{% endblock %}

