{% extends 'menu_base.html' %}

{% block content %}

    {# If there was a query... #}
    {% if query %}
        <h1>Search results</h1>

        {# If there were results, list them #}
        {% if page.object_list %}
        <ul>
            {% for result in page.object_list %}
            <li>
                {% if result.model_name == 'virtualmachine' %}
                    Virtual Machine: {{ result.object.hostname }}
                {% else %}{% if result.model_name == 'cluster' %}
                    Cluster: {{ result.object.hostname }}
                {% endif %}{% endif %}

            </li>
            {% endfor %}
        </ul>

        {# Otherwise, no results were found #}
        {% else %}{% if query|length < 2 %}
        <h3>Search query too short!</h3>
        <p>Please make your search query at least two characters long.</p>
        {% else %}
        <h3>No results</h3>
        <p>No results matching "{{query}}".</p>
        {% endif %}{% endif %}

        {# Paging stuffs #}
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}

    {# If no query was entered... #}
    {% else %}
        <h2>Not sure which <del>droids</del> virtual machines you're looking for...</h2>
        <p>
            Please enter a query in the search box in the sidebar.
        </p>
    {% endif %}

{% endblock %}

