{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}{%trans "About" %}{% endblock %}
{% block head %}
    <style type="text/css">
       .show_bullets li{
           margin-left:20px;
           list-style-type:disc;
       }
    </style>
{% endblock %}
{% block content %}
    <h1>{% trans "About" %}</h1>
    <p>Ganeti Web Manager is a project by the <a href=http://osuosl.org>Oregon State University Open Source Lab </a>.</p>
    <p>The <a href=http://code.osuosl.org/projects/ganeti-webmgr>project page</a> has Ganeti Web Manager support, wiki, development information, and more.</p>
    <div id="version">
    <h3>{% trans "Ganeti Version: " %}{{ version }}</h3>
    </div>

    <div id="contributors" class="show_bullets">
    <h3>{% trans "Core Contributors" %}</h3>
    <p><ul>
        <li>Peter Krenesky (kreneskyp)</li>
        <li>Corbin Simpson (MostAwesomeDude)</li>
        <li>Trevor Bramwell (bramwelt)</li>
        <li>Scott White (whiteau)</li>
    </ul></p>
    </div>

    <div id="addons" class="show_bullets">
    <h3>{% trans "Add-ons" %}</h3>
    <p>Add-ons currently included in Ganeti Web Manager:</p>
    <p><ul >
        <li><a href=https://github.com/kanaka/noVNC>noVNC by Joel Martin</a></li>
        <li><a href=http://code.osuosl.org/projects/twisted-vncauthproxy>Twisted VNCAuthProxy</a></li>
        <li><a href=http://code.osuosl.org/projects/object-permissions>Django Object Permissions </a></li>
        <li><a href=http://code.osuosl.org/projects/django-object-log>Django Object Log</a></li>
    </ul>
    </p>

    </div>
    <div id="donation">
    <h3>{% trans "Donate to Ganeti Web Manager" %}</h3>
    <p>Donations that support the Ganeti Web Manager project can be made at <a href=http://osuosl.org/donate.>osuosl.org/donate</a></p>
    </div>

{% endblock %}
