{% extends "base.html" %}

{% block title %}Cluster {{ object.id }}: {{ object.hostname|safe }}{% endblock %}
{% block content %}
<style type="text/css">

#content {
	width: 900px;
}

.ticketitem {
	padding-bottom: 0.5em;
	margin-bottom: 2em;
	border-top: 1px solid #333;
}

#queuelist {
	float: left;
	width: 200px;
}

#queuelist ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#queuelist ul li {
	padding: 0;
	padding-top: 0.5em;
	margin: 0;
}

#ticketlist {
	margin-left: 200px;
}

.queuestats {
	color: gray;
	font-size: 0.8em;
}

.queuestats abbr {
	font-style: italic;
}

#pagelist {
	text-align: center;
	font-size: 0.9em;
}

h2, h3 {
	text-align: center;
}

h3 {
	background: #f0f0f0;
	font-size: 1.1em;
	padding-top: 0.15em;
	margin-bottom: 0.5em;
	color: #559bd7;
}

td {
	text-align: center;
}

tr.even {
	background: #eaeaea;
}

.action {
	margin-top: 2em;
	margin-bottom: 1em;
}

.actioninfo {
	margin-bottom: 0.5em;
	text-align: center;
}

.update {
	border: 1px solid gray;
	background: #fafafa;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

/*
.first {
	border: 3px solid green;
}
*/

.updateicon {
	float: right;
	position: relative;
	top: -22px;
	margin: 0;
	padding: 0;
}

.update hr {
	border: none;
	border-bottom: 1px dotted #333;
}

.timestamp {
	border-bottom: 1px dotted #333;
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
	padding-right: 22px;
	text-align: right;
}

.actioninfo th {
	text-align: right;
}

.actioninfo td {
	text-align: left;
}

.history {
	min-height: 8em;
}

.historylabel {
	margin-bottom: 0.5em;
	float: left;
	width: 1.5em;
	text-align: center;
	font-weight: bold;
	color: silver;
}

.closed {
	color: #999;
}

</style>

<div class="ticket" id="ticket_{{ object.id }}">
<h1>Cluster {{ object.hostname }}</h1>
<h2>Information</h2>
{% with object.get_cluster_info as info %}
<ul>
<li>Architecture: {{ info.architecture.0 }}</li>
<li>Default hypervisor: {{ info.default_hypervisor }}</li>
<li>Available hypervisors: {{ info.enabled_hypervisors|join:", " }}</li>
<li>Master node: {{ info.master }}</li>
<li>Created: {% if info.ctime %}{{ info.ctime|date }}{% else %}<em>unknown</em>{% endif %}
<li>Last modified: {{ info.mtime|date }}</li>
{% endwith %}

<h2>Instances</h2>
<table>
<tr><th>Name</th><th>Primary node</th><th>Backup node</th><th>Memory</th><th>Current memory</th><th>Status</th></tr>
{% for instance in object.get_cluster_instances_detail %}
<tr><td><a href="{% url instance-detail object.slug instance.name %}">{{ instance.name }}</a></td><td>{{ instance.pnode }}</td><td>{{ instance.snodes.0 }}</td><td>{{ instance.beparams.memory }}</td><td>{{ instance.oper_ram }}</td>
<td>{% ifequal instance.admin_state instance.oper_state %}
{{ instance.admin_state|yesno:"Running,Stopped" }}
{% else %}
{{ instance.oper_state|yesno:"Running,Stopped" }}, should be {{ instance.admin_state|yesno:"running,stopped" }}
{% endifequal %}
</td>
{% endfor %}
</table>
</div>


{% endblock %}
