{% extends "base.html" %}

{% block title %}Cluster {{ object.id }}: {{ object.hostname|safe }}{% endblock %}
{% block content %}

<div class="ticket" id="ticket_{{ object.id }}">
<h1>Cluster: {{ object.hostname }}</h1>
<h2>Information</h2>
{% with object.info as info %}
<ul>
<li>Architecture: {{ info.architecture.0 }}</li>
<li>Default hypervisor: {{ info.default_hypervisor }}</li>
<li>Available hypervisors: {{ info.enabled_hypervisors|join:", " }}</li>
<li>Master node: {{ info.master }}</li>
<li>Created: 
  {% if info.ctime %}
    {{ info.ctime|date }}
  {% else %}
    <em>unknown</em>
  {% endif %}
<li>Last modified: {{ info.mtime|date }}</li>
{% endwith %}

<h2>Instances</h2>
<table>
<tr>
  <th>Name</th>
  <th>Node</th>
  <th>Ram</th>
  <th>Disk Space</th>
  <th>VCPUs</th>
  <th>Status</th>
</tr>
{% for vm in object.virtual_machines.all %}
<tr>
  <td><a href="{% url instance-detail object.slug vm.hostname %}">{{ vm.hostname }}</a></td>
  <td>{{ vm.info.pnode }}</td>
  <td>{{ vm.ram }}</td>
  <td>{{ vm.disk_size }}</td>
  <td>{{ vm.virtual_cpus }}</td>
  <td>
  {% ifequal vm.info.status "running" %}
    Running
  {% else %}
    Stopped
  {% endifequal %}
  </td>
{% endfor %}
</table>
</div>
{% endblock %}
