<script type="text/javascript">
    var checkInterval;
    
    // poll for job status, first poll is delayed by 3000ms
    function poll_job_status(job_id, callback) {
        actions_enabled = false;
        $('#actions a').addClass('disabled');
        checkInterval = setInterval(get_job_status, 3000, job_id, callback);
    }
    
    // get job status
    function get_job_status(job_id, callback) {
        $.ajax({
                url: "{% url cluster-detail cluster.slug %}/job/"+job_id+"/status/",
                success: function(data) {
                    if (data.status == 'success'){
                            $("#messages").empty();
                        clearInterval(checkInterval);
                        if (callback!=undefined){
                            callback();
                        }
                    }
                    
                    display_job(data);
                    if (data.status == 'error'){
                        if (checkInterval != undefined){
                            clearInterval(checkInterval);
                            checkInterval = undefined;
                        }
                    }
                }
        });
    }
    
    function display_job(data) {
        if (data.status == 'error') {
            $("#messages").empty();
            var reason = data.opresult[0][1][0];
            html = $("<li>"+data.status+":<br>"+reason+"</li>");
            html.addClass('error');
            $("#messages").append(html);
            actions_enabled = true;
        } else {
            $("#messages").empty();
            sub_op = 0;
            for (i=0; i<data['opstatus'].length; ++i) {
                if (data['opstatus'][i] != 'success') {
                    sub_op = i;
                    break;
                }
            }
            op = format_op(data['ops'][sub_op]['OP_ID']);
            html = $("<li><h3>"+op+"</h3></li>");
            $("#messages").append(html)
            
            // append log messages that are not already displayed
            current_log_count = $("#log ul li").length;
            if (data['oplog'][0].length != 0) {
                if ($('#log').length==0){
                    html.append("<pre id='log'><ul></ul></pre>");
                }
                
                log = data['oplog'][0];
                for (i=current_log_count; i<log.length; i++) {
                    $("#log ul")
                        .append("<li>"+log[i][3]+"</li>");
                }
            }
        }
    }
    
    function format_op(str){
        str = str.substring(3).replace('_',' ').toLowerCase();
        str = cap_first(str);
        return str
    }
    
    function cap_first(str) {
        new_str = '';
        str = str.split(' ');
        for(var i=0; i < str.length; i++) {
                new_str += str[i].substring(0,1).toUpperCase() +
                str[i].substring(1,str[i].length) + ' ';
        }
        return new_str;
    }
</script>