{% extends "base.html" %}
{% load object_permission_tags %}

{% block title %} Organization: {{ org.name }}{% endblock %}

{% block content %}

<h2>{{org.name}}</h2>
<h2>Users<h2>
<table>
    <tr>
        <th>Name</th>
        <th>Permissions</th>
    </tr>
    {% for user in org.users.all %}
        <tr>
            <td>{{user.name}}</td>
            <td>
                {% for permission in user|permissions:org %}
                    {{Permission}}
                    {%if not forloop.last%},{%endif%}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
