{% extends "base.html" %}

{% block title %}Orphan VMs{% endblock %}

{% block content %}
    <h1>Orphaned VMs</h1>
    {% if vms %}
    <form action="." method="post">
    
    {{form.errors}}
    
    {{form.owner.label}} {{form.owner}}
    <input type="submit" value="Update Selected">
    
    
    <ul id="orphans">
        {% for vm in vms %}
            <li><input type="checkbox" name="virtual_machines" value="{{vm.0}}">{{vm.1}}</li>
        {% endfor %}
    </ul>
    </form>
    {% endif %}
    {% if not vms and vmcount > 0 %}
    <p>Hurray! All virtual machines currently have owners!</p>
    {% endif %}
    {% if vmcount == 0 %}
    <p>There are currently no VMs.</p>
    {% endif %}
{% endblock %}