{% extends "base.html" %}

{% load webmgr_tags %}

{% block title %}Overview{% endblock %}

{% block head %}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.progressbar.js"></script>
<script type="text/javascript">
    var PBAR_CONF = {
        steps: 0,
        showText: true,
        textFormat: 'fraction',
        // XXX there's issue, bars doesn't scale the progress to the given width
        width: 120,
        boxImage: '/media/images/progressbar/progressbar.gif',
        barImage: {
            0:  '/media/images/progressbar/progressbg_red.gif',
            30: '/media/images/progressbar/progressbg_orange.gif',
            50: '/media/images/progressbar/progressbg_yellow.gif',
            75: '/media/images/progressbar/progressbg_green.gif',
        },
    };
    var PBAR2_CONF = {
        steps: 0,
        showText: true,
        textFormat: 'fraction',
        width: 120,
        boxImage: '/media/images/progressbar/progressbar.gif',
        barImage: {
            0: '/media/images/progressbar/progressbg_green.gif',
            30: '/media/images/progressbar/progressbg_yellow.gif',
            50: '/media/images/progressbar/progressbg_orange.gif',
            75:  '/media/images/progressbar/progressbg_red.gif',
        },
    };
    $(document).ready(function() {
        
    });
</script>
{% endblock %}

{% block content %}
<h1>Overview</h1>

{% if user.is_superuser %}
<a class="button add" href="{% url cluster-create %}">Add Cluster</a>
{% endif %}

{% if admin %}
<table id="clusters" class="sorted">
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Version</th>
            <th>Memory [GiB]</th>
            <th>Disk [GiB]</th>
            <th>Nodes</th>
            <th>VMs</th>
        </tr>
    </thead>
    <tbody>
    {% for cluster in cluster_list %}
        {% with cluster.info as info %}
        {% with cluster.nodes as nodes %}
            <tr id="cluster_{{cluster.id}}">
                <td class="name">
                    {% if cluster.error %}<div class="icon_error" title="Ganeti API Error: {{cluster.error}}"></div>{% endif %}
                    <a href="{% url cluster-detail cluster.slug %}">
                        {{ cluster.hostname|abbreviate_fqdn }}
                    </a>
                </td>
                <td>{{ info.software_version }}</td>
                <td class="ram">{% cluster_memory cluster %}</td>
                <td class="disk">{% cluster_disk cluster %}</td>
                <td title="Running/All">{% format_online_nodes cluster %}</td>
                <td title="Running/All">{% format_running_vms cluster %}</td>
            </tr>
        {% endwith %}
        {% endwith %}
    {% empty %}
        <tr class="none"><td colspan="100%">No Clusters</td></tr>
    {% endfor %}
    </tbody>
</table>
<!-- Progress bars for free memory/disk and sorting -->
<script type="text/javascript">
    $("#clusters .ram, #clusters .disk").progressBar(PBAR_CONF);
    $("#clusters").tablesorter();
</script>
{% endif %}

{% if resources %}
<div id="usage_summary">
<h2>Usage summary</h2>
<table>
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Your VMs</th>
            <th>Disk</th>
            <th>RAM</th>
            <th>Virtual CPUs</th>
        </tr>
    </thead>
    <tbody>
        {% for cluster, res in resources.items %}
        <tr>
            <td><a href="{% url cluster-detail cluster|abbreviate_fqdn %}">{{ cluster|abbreviate_fqdn }}</a></td>

            <td title="Running / total">{{ res.running }} / {{ res.total }}</td>

            {% if not res.set.disk %}
                <td>{{ res.used.disk|render_storage }}</td>
            {% else %}
                {% if res.used.disk > res.set.disk %}
                <td>
                    <div class="icon_error"></div>
                    Exceeded by {% diff_render_storage res.used.disk res.set.disk %}
                </td>
                {% else %}
                <td class="disk">{{ res.used.disk }} / {{ res.set.disk }}</td>
                {% endif %}
            {% endif %}

            {% if not res.set.ram %}
                <td>{{ res.used.ram|render_storage }}</td>
            {% else %}
                {% if res.used.ram > res.set.ram %}
                <td>
                    <div class="icon_error"></div>
                    Exceeded by {% diff_render_storage res.used.ram res.set.ram %}
                </td>
                {% else %}
                <td class="ram">{{ res.used.ram }} / {{ res.set.ram }}</td>
                {% endif %}
            {% endif %}

            {% if not res.set.virtual_cpus %}
                <td>{{ res.used.virtual_cpus }}</td>
            {% else %}
                {% if res.used.virtual_cpus > res.set.virtual_cpus %}
                <td>
                    <div class="icon_error"></div>
                    Exceeded by {% diff res.used.virtual_cpus res.set.virtual_cpus %}
                </td>
                {% else %}
                <td class="vcpus">{{ res.used.virtual_cpus }} / {{ res.set.virtual_cpus }}</td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script type="text/javascript">
    $("#usage_summary .ram, #usage_summary .disk, #usage_summary .vcpus").progressBar(PBAR2_CONF);
</script>
{% endif %}

{% if ganeti_errors or job_errors %}
<div id="errors_list">
    <h2>Errors and failures</h2>

    {% if ganeti_errors %}
    <h3>Ganeti errors</h3>
    <table class="sorted">
        <thead>
            <tr>
                {% if admin %}<th>Cluster</th>{% else %}<th>Virtual Machine</th>{% endif %}
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if admin %}<td><a href="">gwm</a></td>{% else %}<td><a href="">pbnan1.gwm.osuosl.org</a></td>{% endif %}
                <td><a href="">Authorization failed</a></td>
                <td>01/05/11 16:21</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if job_errors %}
    <h3>Jobs failures</h3>
    <table class="sorted">
        <thead>
            <tr>
                {% if admin %}<th>Cluster</th>
                <th>Related object</th>{% else %}<th>Virtual Machine</th>{% endif %}
                <th>Info</th>
                <th>Finish time</th>
            </tr>
        </thead>
        <tbody>
            {% for jerror in job_errors %}
            <tr>
                {% if admin %}<td><a href="{% url cluster-detail jerror.cluster.slug %}">{{ jerror.cluster|abbreviate_fqdn }}</a></td>
                <td>{{ jerror.obj }}</td>{% else %}
                <td><a href="{% url instance-detail jerror.obj.cluster.slug jerror.obj.hostname %}">{{ jerror.obj }}</a></td>{% endif %}
                <td>{{ jerror.info.ops.0.OP_ID|format_job_op }}</td>
                <td>{{ jerror.finished }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
<script type="text/javascript">
    $("#errors_list table").tablesorter();
</script>
{% else %}
<div id="no_errors">
    <h2>No errors.</h2>
</div>
{% endif %}

{% if orphaned or import_ready or missing %}
<div id="administration">
    <h2>Administration</h2>
    <table style="width: auto;">
    {% if orphaned %}
        <tr>
            <th>Orphaned VMs</th>
            <td><a href="{% url import-orphans %}">Adopt {{ orphaned }}</a></td>
        </tr>
    {% endif %}

    {% if import_ready %}
        <tr>
            <th>VMs ready to import</th>
            <td><a href="{% url import-missing %}">Import {{ import_ready }}</a></td>
        </tr>
    {% endif %}

    {% if missing %}
        <tr>
            <th>VMs missing from ganeti</th>
            <td><a href="{% url import-missing_db %}">Remove {{ missing }}</a></td>
        </tr>
    {% endif %}
    </table>

</div>
{% endif %}

{% endblock %}
