{% extends "base.html" %}
{% load webmgr_tags %}

{% block title %}User Profile{% endblock %}

{% block head %}
    {% include "ssh_keys/ajax_header.html" %}
{% endblock %}

{% block content %}
    <h1>Profile information for {{user.username}}</h1>
    <fieldset id="uprofile">
        <form action="{% url profile %}" method="post">
            {{ form.as_p }}
            <input class="submit" id="save" type="submit" value="Update"/>
        </form>
    </fieldset>

    <h2>{{user.username}} SSH keys</h2>
    {% include "ssh_keys/ajax_list.html" %}
{% endblock %}