{% load i18n %}
<div id="help-vcpus">
    <p>{% trans "Number of virtual cpus to allocate to this virtual machine" %}.</p>
    <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
</div>
<div id="help-memory">
    <p>
        {% blocktrans %}Amount of ram to allocate to this virtual machine. If no units
        are given, megabytes is assumed.{% endblocktrans %}
    </p>
    <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
</div>
<div id="help-nic_link">
    <p>{% comment %}Translators: The word *bridged* should remain in English {% endcomment %}
        {% blocktrans %}In <b>bridged</b> mode, it specifies the bridge interface to
        attach this NIC to on the node <i>(e.g. br0)</i>.{% endblocktrans %}
    </p>
    <p>{% comment %}Translators: The word *routed* should remain in English {% endcomment %}
        {% blocktrans %}In <b>routed</b> mode it's intended to differentiate between 
        different routing tables/virtual machine groups (but the 
        meaning is dependant on the network script, see 
        <a href="http://docs.ganeti.org/ganeti/current/man/gnt-cluster.html">
        gnt-cluster(8)</a> for more details.{% endblocktrans %}
    </p>
</div>
<div id="help-nic_mac">
    <p>
        {% trans "This option specifies a MAC address to be associated with the NIC" %}.
    </p>
    <p>
        {% trans "Any valid MAC address may be used" %}.
    </p>
</div>
<div id="help-template_name">
    <p>
    {% blocktrans %}The name of this template. Templates will be sorted by template name when they appear in a list. {% endblocktrans %}
    </p>
</div>
<div id="help-description">
    <p>
    {% blocktrans %} Optional. A short description of the template. {% endblocktrans %}
    </p>
</div>
 
