{% load i18n %}
<div id="help-owner">
    <p>
    {% blocktrans %}The owner indicates who this virtual machine belongs to. Resources
    used by the virtual machine will be deducted from the owner's
    quota.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}An owner may be a user or a group.  If you are a member of a group
    you may create a virtual machine on behalf of that group.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}If your user does not directly have access/permission to a cluster,
    it will not have permission to own a virtual machine directly.{% endblocktrans %}
    </p>
</div>
<div id="help-cluster">
    <p>
    {% trans "Which ganeti cluster to deploy the new virtual machine on" %}.
    </p>
</div>
<div id="help-hostname">
    {% blocktrans %}Fully qualified domain name <i>(<b>FQDN</b>)</i> to assign to this
    virtual machine. <i>(e.g. hostname.example.org)</i>{% endblocktrans %}
</div>
<div id="help-hypervisor">
    <p>
        {% trans "Which hypervisor the new virtual machine will run under" %}.
    </p>
</div>
<div id="help-start">
    <p>
    {% blocktrans %}Uncheck this if you don't want the instance to automatically start
    after creation. If you do so, you can start it manually on the
    virtual machine detail page.{% endblocktrans %}
    </p>
</div>
<div id="help-name_check">
    <p>
    {% blocktrans %}Check the virtual machine DNS name via the resolver <i>(e.g. in DNS
    or /etc/hosts, depending on your setup)</i>. Since the name check
    is used to compute the IP address this also enables/disables IP
    checks <i>(e.g.  if the IP is pingable)</i>.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}This is useful for setups that deploy virtual machines using
    dynamic DNS and thus the name is not resolvable yet.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}<b>Use with caution!</b> If left unchecked you may run into name/ip
    collisions.{% endblocktrans %}
    </p>
</div>
<div id="help-iallocator">
    <p>
    {% blocktrans %}Automatically select primary and secondary node to allocate disks
    on.{% endblocktrans %}
    </p>
    <p>{% blocktrans %}
    When selected it will use the cluster default 
    <a href="http://docs.ganeti.org/ganeti/current/html/iallocator.html">
    iallocator</a> (if set by the cluster). The iallocator being used
    will be displayed after the checkbox.{% endblocktrans %}
    </p>
</div>
<div id="help-disk_template">
    <p>
    {% blocktrans %}Disk layout template for the virtual machine on the cluster node.{% endblocktrans %}
    </p>
    <p>{% trans "The available choices are" %}:</p>
    <ul>
        <li>
            <b>plain</b> - {% trans "Disk devices will be logical volumes" %} <i>
            (e.g.  LVM)</i>
        </li>
        <li>
            <b>drbd</b> - {% trans "Disk devices will be" %} 
            <a href="http://www.drbd.org/">DRBD</a> ({% trans "version" %}8.x) {% trans "on top of LVM volumes" %}
        </li>
        <li>
            <b>file</b> - {% trans "Disk devices will be regular files" %}
            <i>(e.g.  qcow2)</i>
        </li>
        <li>
            <b>diskless</b> - {% blocktrans %}This creates a virtual machine with no
            disks. Its useful for testing only (or other special
            cases).{% endblocktrans %}
        </li>
    </ul>
    <p>
        {% blocktrans %}If drbd is selected, then a primary and secondary node will
        need to be chosen unless automatic allocation has been 
        selected as well. DRBD will allow the virtual machine to use live 
        migration and failover in case one of the nodes goes offline.{% endblocktrans %}
    </p>
</div>
<div id="help-pnode">
    {% blocktrans %}The primary node to use for the virtual machine (in case automatic
    allocation is not used).{% endblocktrans %}
</div>
<div id="help-snode">
    <p>
        {% blocktrans %}The secondary node to use for the virtual machine (in case
        automatic allocation is not used).{% endblocktrans %}
    </p>
    <p>
        {% trans "This is only required when using the drbd disk template." %}
    </p>
</div>

<div id="help-os">
{% block help-os %}
    <p>
        {% blocktrans %}Operating system to install on the virtual machine. Your
        choices are limited to the images configured on the cluster.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}The text in <b>bold</b> signifies the Ganeti Operating
        System Type which may be called debootstrap, image, or some
        other type. The text that is selectable is the operating system
        (or os-type variant) that the cluster has access to.{% endblocktrans %}
    </p>
{% endblock %}
</div>
<div id="help-disk_size">
    <p>
        {% blocktrans %}Size of the system disk to allocate to this virtual machine. If
        no units are given, megabytes is assumed.{% endblocktrans %}
    </p>
    <p>
       {% trans "Acceptable Formats:" %} 
    </p>
    <ul>
        <li>
            <b>M</b> or MB - (megabytes)
        </li>
        <li>
            <b>G</b> or GB - (gigabytes) 
        </li>
        <li>
            <b>T</b> or TB - (terabytes)
        </li>
    </ul>
    <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
</div>
<div id="help-disk_type">
    <p>
        {% blocktrans %}This parameter determines the way the disks are presented to
        the virtual machine.{% endblocktrans %} {%trans "The possible options are" %}:
        
    </p>
    <ul>
        <li><b>paravirtual</b> - (HVM &amp; KVM)</li>
        <li>
            <b>ioemu</b> - (default for HVM &amp; KVM) (HVM &amp; KVM)
        </li>
        <li><b>ide</b> - (HVM &amp; KVM)</li>
        <li><b>scsi</b> - (KVM)</li>
        <li><b>sd</b> - (KVM)</li>
        <li><b>mtd</b> - (KVM)</li>
        <li><b>pflash</b> - (KVM)</li>
    </ul>
    <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
</div>
<div id="help-nic_mode">
    <p>
        {% blocktrans %}This option specifies how the virtual machine connects to the
        network. More information on this can be found in the {% endblocktrans %}<a
        href="http://docs.ganeti.org/ganeti/current/html/install.html#configuring-the-network">
        {% trans "Ganeti tutorial documentation" %}</a>.
    </p>
    <p>{% trans "When in doubt, choose" %} <b>bridged</b>.</p>
    <ul>
        <li>
            <b>bridged</b> - {% blocktrans %}The virtual machine's network interface
            will be attached to a software bridge running on the node.{% endblocktrans %}
        </li>
        <li><b>routed</b> - {% blocktrans %}The virtual machine's network interface
            will be routed{% endblocktrans %}
        </li>
    </ul>
</div>
<div id="help-nic_type">
    <p>
        {% blocktrans %}This parameter determines the way the network cards are 
        presented to the virtual machine.{% endblocktrans %} {% trans "The possible options are" %}:
    </p>
    <ul>
        <li><b>rtl8139</b> - (default for Xen HVM) (HVM &amp; KVM)</li>
        <li><b>ne2k_isa</b> - (HVM &amp; KVM)</li>
        <li><b>ne2k_pci</b> - (HVM &amp; KVM)</li>
        <li><b>i82551</b> - (KVM)</li>
        <li><b>i82557b</b> - (KVM)</li>
        <li><b>i82559er</b> - (KVM)</li>
        <li><b>pcnet</b> - (KVM)</li>
        <li><b>e1000</b> - (KVM)</li>
        <li><b>paravirtual</b> - (default for KVM) (KVM &amp; HVM)</li>
    </ul>
    <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
</div>
<div id="help-kernel_path">
    <p>
        {% blocktrans %}This option specifies the path (on the node) to the kernel to 
        boot the virtual machine with. Xen PVM instances always require
        this, while for KVM if this option is empty, it will cause the
        machine to load the kernel from its disks.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
</div>
<div id="help-root_path">
    <p>
        {% blocktrans %}This option specifies the name of the root device. This is 
        always needed for Xen PVM, while for KVM it is only used if the
        kernel_path option is also specified.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
</div>
<div id="help-serial_console">
    <p>
        {% blocktrans %}This boolean option specifies whether to emulate a serial
        console for the instance.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the KVM hypervisor" %}.</p>
</div>
<div id="help-boot_order">
    <p>{% trans "Value denoting boot order for the virtual machine" %}.</p>
    <ul>
        <li><b>Hard Disk</b> - {% trans "boot from the first disk device" %}</li>
        <li>
            <b>CD-ROM</b> - {% blocktrans %}boot from the cdrom (requires CD Image path
            being set){% endblocktrans %}
        </li>
        <li><b>Network</b> - {% trans "boot from the network (such as PXE)" %}</li>
    </ul>
    <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
</div>
<div id="help-cdrom_image_path">
    <p>
       {% blocktrans %}The path to a CDROM image on the node to attach to the virtual
       machine.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
</div>
