{% extends "menu_base.html" %}
{% load i18n %}
{% load webmgr_tags %}

{% block title %}{%trans "Create a Virtual Machine" %}{% endblock %}

{% block head %}
{{ wizard.form.media }}
<script src="{{STATIC_URL}}/js/disableSingletonDropdown.js"
    type="text/javascript"></script>
<script type="text/javascript">
$(window).load(function() {
    disableSingletonDropdown2();
});
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Create a Virtual Machine" %}</h1>
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
<div class="vm-summary">
    <ul>
        {% if summary.cluster %}
        <li>Cluster: {{ summary.cluster }}</li>
        {% endif %}
    </ul>
</div>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ wizard.management_form }}
        {{ wizard.form.as_table }}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit"
            value="{{ wizard.steps.first }}"
	    style="position: relative; left: 480px; top: 5px;"/>
            {% trans "Start Over" %}
        </button>
        <button name="wizard_goto_step" type="submit"
            value="{{ wizard.steps.prev }}"
            style="position: relative; left: 480px; top: 5px;">
            {% trans "Previous" %}
        </button>
    {% endif %}

    {% if wizard.steps.next %}
        <input type="submit" 
            value="{% trans "Next" %}" 
            style="position: relative; left: 480px; top: 5px"/>
    {% else %}
        <input type="submit" 
            value="{% trans "Create VM" %}" 
            style="position: relative; left: 480px; top: 5px"/>
    {% endif %}

</form>
{% endblock %}
