{% extends "menu_base.html" %}
{% load i18n %}
{% block head %}
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.multi_checkbox_selector.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#missing_form").select_all();
        $("#node_list").tablesorter({
            headers: {
                0: { sorter: 'false' },
            }
        });
    });
    </script>
{% endblock %}
{% block title %}{% trans "Missing Nodes" %}{% endblock %}

{% block content %}
    <h1 class="breadcrumb"><span>{% trans "Admin" %}</span> : {% trans "Missing Nodes" %}</h1>

    <p class="info">
        Missing nodes are those that exist in the database, but there
        is no record of them in ganeti.  This may happen if you have manually
        deleted or renamed a node using ganeti command line tools.
    </p>

    <form id="missing_form" action="{% url import-nodes-missing %}" method="post">
        {{form.errors}}
        <input type="submit" value="{% trans "Delete Selected" %}" {%if not nodes%}disabled{%endif%}>
        <table id="node_list" class="sorted">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Cluster" %}</th>
                <th>{% trans "Hostname" %}</th>
            </tr>
        </thead>
        <tbody id="nodes">
                {% for node in nodes %}
                    <tr><td><input type="checkbox" name="nodes" value="{{node.0}}" /></td><td>{{node.1}}</td><td>{{node.2}}</td></tr>
                {% empty %}
                    <tr><td colspan="3">{% trans "All nodes are synchronized" %}.</td></tr>
                {% endfor %}
        </tbody>
        </table>
    </form>
{% endblock %}
