    <fieldset id="ukeys" style="display: none;">
        {# load this form dynamically from template form.html #}
        {% include "ssh_keys/form.html" %}
    </fieldset>

    {% if user_id %}
    <a class="button add" id="add_key" href="{% url key-add user_id=user_id %}">Add SSH key</a>
    {% else %}
    <a class="button add" id="add_key" href="{% url key-add user_id=user.id %}">Add SSH key</a>
    {% endif %}
    <table id="key_list">
        {% include "ssh_keys/ajax_list_response.html" %}
    </table>
