<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript">
    var id = null;

    /*function refresh_keys() {
        {% if user_id %}
        $("#key_list").html("&nbsp;").load("{% url keys-ajax-list user_id=user_id %}");
        {% else %}
        $("#key_list").html("&nbsp;").load("{% url keys-ajax-list user_id=user.id %}");
        {% endif %}
    }*/

    function update(responseText, statusText, xhr) {
        // int is the value of record ID and means success
        //$("#ukeys").hide();
        $(".qtip").qtip("destroy");

        // get only one table row, not the whole table
        if (id!=null) {
            // old record, update existing row
            $("#tr"+id).replaceWith(responseText);
        } else {
            // new record, add to the end of table
            $("#key_list").html( $("#key_list").html() + responseText);
        }
    }

    function fail(xhr, statusText, exception) {
        // parse errors
        errors = $.parseJSON(xhr.responseText);
        for (key in errors) {
            $(".qtip #errors").append("<li>"+ errors[key] +"</li>");
        }
    } 

    $(document).ready(function() {
        $("a.delete").live("click", function(){
            host = $(this).parents("tr").children("[name=\"host\"]").html();
            name = $(this).parents("tr").children("[name=\"id\"]").html();
            if (confirm("Remove key for: " + host)) {
                parent = this.parentNode.parentNode;
                $.delete_(this.href, function(){
                    $(parent).remove();
                });
            }
            // ensures we don't save already deleted key
            $("#ukeys").hide();
            $("#id_key").val("");
            return false;
        });

        $("#add_key").live("click", function() {
            // destroy old qtip before showing new one
            $(".qtip").qtip("destroy");

            $(this).qtip({
                content: {
                    url: "{% url key-ajax-get %}",
                    title: {text:"SSH key: ", button: "close"},
                },
                position: {
                    corner: {target:"bottomLeft", tooltip:"topRight"}
                },
                style: {name:"dark",border:{radius:5},width:340,tip:"bottomMiddle",
                background:"#eee"},
                show: {when: false, ready: true},
                hide: {fixed: true, when: false},
                api: {onShow: function(){$(".ajax_form textarea").focus()}}
            });

            id = null;

            /*table_new = $("#ukeys");
            table_new.html("&nbsp;").load("{% url key-ajax-get %}");

            // set action
            $("#item_id").val("");

            // toggle visibility of the table
            if (table_new.css("display")=="none")
                table_new.show();
            else
                table_new.hide();

            id = null;*/
            return false;
        });
        /*$("#add_key").live("click", function() {
            table_new = $("#ukeys");
            table_new.html("&nbsp;").load("{% url key-ajax-get %}");

            // set action
            $("#item_id").val("");

            // toggle visibility of the table
            if (table_new.css("display")=="none")
                table_new.show();
            else
                table_new.hide();

            id = null;
            return false;
        });

        $(".ajax_form .cancel").live("click", function(e) {
            $("#ukeys").hide();
            $("#id_key").val("");

            id = null;
            refresh_keys();
            return false;
        });*/

        $(".edit").live("click", function(){
            id = $(this).parents("tr").children("[name=\"id\"]").html();

            // destroy old qtip before showing new one
            $(".qtip").qtip("destroy");

            $(this).qtip({
                content: {
                    url: "{% url key-ajax-get %}"+id,
                    title: {text:"SSH key: ", button: "close"},
                },
                position: {
                    corner: {target:"bottomLeft", tooltip:"topRight"}
                },
                style: {name:"dark",border:{radius:5},width:340,tip:"bottomMiddle",
                background:"#eee"},
                show: {when: false, ready: true},
                hide: {fixed: true, when: false},
                api: {onShow: function(){$(".ajax_form textarea").focus()}}
            });
            // loading
            /*$("#ukeys").html("&nbsp;").load("{% url key-ajax-get %}"+id);
            $("#ukeys").show();*/

            return false;
        });

        // form submit button
        $(".ajax_form .submit").live("click", function(){
            //setting ID
            if (id)
                data = $(".ajax_form").serialize()+"&id="+id;
            else
                data = $(".ajax_form").serialize();

            $("#errors").empty();
            $.ajax({
                type: "POST",
                url: "{% if user_id %}{% url key-ajax-save user_id=user_id %}{%else%}{%url key-ajax-save user_id=user.id%}{%endif%}",
                dataType: "text",
                data: data,
                success: update,
                error: fail
            });
            return false;
        });
    });
</script>
