{% extends "base.html" %}
{% load webmgr_tags %}

{% block title %}
    {% if key %}Edit SSH key{% else %}Add SSH key{% endif %}
{% endblock %}

{% block content %}
{# load this form from template form.html #}
{# no, it's not a good idea #}
<form id="key-form" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% if key %}Edit {{ key.key|ssh_hostname }}{% else %}Add new SSH key{% endif %}</legend>
        {{ form.as_p }}
        <input type="submit" value="{% if key %}Save{% else %}Create{% endif %}">
    </fieldset>
</form>
{% endblock %}
