{% extends "base.html" %}
{% load webmgr_tags %}

{% block title %}
    {% if key %}Edit SSH key{% else %}Add SSH key{% endif %}
{% endblock %}

{% block content %}
{% if key %}
<form id="key-edit" method="post">
{% else %}
<form id="key-add" method="post">
{% endif %}
    {% csrf_token %}
    <fieldset>
        <legend>{% if key %}Edit {{ key.key|ssh_hostname }}{% else %}Add new SSH key{% endif %}</legend>
        {{ form.as_p }}
        <input type="submit" value="{% if key %}Save{% else %}Create{% endif %}">
    </fieldset>
</form>
{% endblock %}