{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %} Virtual Machine {{ instance.hostname }}{% endblock %}

{% block head %}

    <script type="text/javascript">
        var job_poller;

        $(document).ready(function() {
            job_poller = new JobPoller();
            var job_status_url = "{% url instance-job-status instance.id %}";
            var cluster_detail_url = "{% url cluster-detail cluster.slug %}";
            job_poller.init(job_status_url, cluster_detail_url, job_complete, job_error);
            job_poller.get_jobs();
        });

        function job_complete() {
            window.location.reload();
        }
        
        function job_error() {
            $("#vm_edit").show();
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="breadcrumb">
        {% if cluster_admin %}
        <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
        {% else %}
        <span>{{cluster.hostname|abbreviate_fqdn}}</span>
        {% endif %}
        : <span>{{ instance.hostname }}</span>
        : deploying
    </h1>

    <script type="text/javascript" src="{{MEDIA_URL}}/js/job_status.js"></script>

    <ul id="messages"></ul>

    <div id="vm_edit" style="display:none;">
        <ul>
            <li></li><a class="button edit" href="{% url instance-create-recover cluster.slug instance.hostname %}">{% trans "Edit" %}</a></li>
            <li></li><a class="button delete" href="{% url instance-delete cluster.slug instance.hostname %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>



{% endblock %}
