{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}Delete In Progress{% endblock %}

{% block head %}
    <style>
        #success {display:none;}
    </style>

    <script type="text/javascript">
        var job_poller;
        $(document).ready(function() {
            job_poller = new JobPoller();
            var job_status_url = "{% url instance-job-status instance.id %}";
            var cluster_detail_url = "{% url cluster-detail cluster.slug %}";
            job_poller.init(job_status_url, cluster_detail_url, job_complete);
            job_poller.get_jobs();
        });

        function job_complete() {
            $('#messages').hide();
            $('#success').show();
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="breadcrumb">
    {% if cluster_admin %}
    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <span>{{ instance.hostname }}</span>
    : {% trans "deleting" %}
    </h1>

    <script type="text/javascript" src="{{SITE_ROOT}}/ganeti_web_media/js/job_status.js"></script>

    <ul id="messages"></ul>
    
    <div id="success">{% trans "Deleted" %}.</div>
{% endblock %}
