{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}

{% block title %}Delete Virtual Machine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/delete.css"/>
{% endblock %}

{% block content %}

<h1 class="breadcrumb">
    {% if cluster_admin %}
    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <a href="{% url instance-detail cluster.slug vm.hostname %}">{{ vm.hostname }}</a>
    : {% trans "Delete" %}
</h1>


<div id="confirm">
    <div class="message">
        Are you sure you want to delete this virtual machine?  This action
        can not be undone.  The virtual machine will be removed from the cluster.
        <ul><li>{{vm.hostname}}</li></ul>
    </div>
    <form method="post" action="{% url instance-delete vm.cluster.slug vm.hostname %}">
        <input id="delete" type="submit" value="Delete" />
    </form>
</div>

{% endblock %}
