{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %} {% trans "Virtual Machine" %} {{ instance.hostname }}{% endblock %}
{% block head %}
<link href="{{MEDIA_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
<script src="{{MEDIA_URL}}/js/jquery.progressbar.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript">

    var job_poller;

     $(document).ready(function() {
        $('#tabs').tabs({ 
            spinner: false,
            cache: true,
            select: function(event, ui) {
                        window.location.hash = ui.tab.hash;
                    }
		});

        {% if admin %}
            {% ifnotequal instance.info.status "running" %}
                $('#tabs .ui-tabs-nav a[title=console]').parent()
                    .addClass('ui-state-disabled');
            {% endifnotequal %}
        {% endif %}

        // confirmation dialogs for delete, start, reinstall   
        $("#actions a.power").live("click", function(event) {
            event.preventDefault();
            if(!$(this).hasClass('disabled')) {
                if(!confirm('Are you sure you want to '+ this.title + ' this VM?')) {
                    return false;
                }
                $.post(this.href, action_response);
            }
        });

        // disable buttons that are actually links to other pages
        $("#actions .edit").live("click", function(event) {
            return !$(this).hasClass('disabled');
        });

        $("#actions a.delete").live("click", function(){
            if (confirm("{% trans 'Are you sure you want to delete this virtual machine' %}?")) {
                $("a.delete").text("{% trans 'Deleting' %}...");
                $("a.delete").removeAttr("href");
                $("a.delete").addClass("deleting");
                $("a.delete").removeClass("delete");

                var href = "{% url instance-delete cluster.slug instance.hostname %}";
                $.delete_(href, function(){
                    window.location = "{% url cluster-detail cluster.slug %}#virtual_machines";
                });
            }
            return false;
        });

        $(".migrate").click(function(event){
            event.preventDefault();
            var $this = $(this);
            if(!$this.hasClass('disabled')) {
                $('.qtip').qtip('destroy');

                $(this).qtip({
                    content: {
                       url: this.href,
                       title: {text:"Migrate", button:"close"}
                    },
                    position: {  corner:{target:'center', tooltip:'center'}},
                    style: {
                        name: 'dark', 
                        border:{radius:5}, 
                        width:400, 
                        background:'#eeeeee'},
                    show: {when:false, ready:true},
                    hide: {fixed: true, when:false},
                    api:{onShow:function(){
                        $(".ajax_form input[type!=hidden], .ajax_form select")
                            .first().focus();
                    }}
                });
            }
        });

        $(".vm_migrate_form").live("submit", function(event){
            event.preventDefault();
            $("#errors").empty();
            $(this).ajaxSubmit({success: vm_form_response});
        });

        $(".replace_disks").click(function(event){
            event.preventDefault();
            var $this = $(this);
            if(!$this.hasClass('disabled')) {
                $('.qtip').qtip('destroy');

                $(this).qtip({
                    content: {
                       url: this.href,
                       title: {text:"Replace Disks", button:"close"}
                    },
                    position: {  corner:{target:'center', tooltip:'center'}},
                    style: {
                        name: 'dark',
                        border:{radius:5},
                        width:400,
                        background:'#eeeeee'},
                    show: {when:false, ready:true},
                    hide: {fixed: true, when:false},
                    api:{onShow:function(){
                        $(".ajax_form input[type!=hidden], .ajax_form select")
                            .first().focus();
                    }}
                });
            }
        });

        $(".vm_replace_disks_form").live("submit", function(event){
            event.preventDefault();
            $("#errors").empty();
            $(this).ajaxSubmit({success: vm_form_response});
        });

        job_poller = new JobPoller();

        var job_status_url = "{% url instance-job-status instance.id %}";
        var cluster_detail_url = "{% url cluster-detail cluster.slug %}";
        job_poller.init(job_status_url, cluster_detail_url, job_complete);
        {% if instance.last_job_id %}
            job_poller.get_jobs();
        {% else %}
            job_poller.poll();
            {% if instance.error %}
                display_ganeti_error("{{instance.error}}");
            {% endif %}
        {% endif %}
    });

    function job_complete() {
        window.location.reload();
    }

    function action_response(result) {
        if(result.ops == undefined) {
            display_ganeti_error(result['__all__'][0]);
            $('#actions a').removeClass('disabled');
        } else {
            job_poller.render_job(result);
            job_poller.poll(job_poller.FAST);
        }
    }

    function vm_form_response(responseText, statusText, xhr, $form) {
        if(responseText["opstatus"] == undefined) {
            // no opstatus, must be an error
            // parse errors
            for (var key in responseText) {
                $("#errors").append("<li>"+ responseText[key] +"</li>");
            }
        } else {
            $('.qtip').qtip("hide");
            poll_job_status("{% url cluster-detail cluster.slug %}",
                    responseText['id'], job_complete);
            display_job("{% url cluster-detail cluster.slug %}",
                    responseText);
        }
    }

    /* XXX: temporarily (maybe permanently) using this for reporting
    when a quota limit has been encountered on startup */
    function display_ganeti_error(msg) {
        $("#messages").empty();
        var html = "<li class='error'>Error:<p>" + msg + "</p></li>";
        $("#messages").append(html);
    }
</script>

<script type="text/javascript" src="{{MEDIA_URL}}/js/job_status.js"></script>

{% endblock %}

{% block content %}
<h1 class="breadcrumb">
    {% if view_cluster %}
    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">
        {{cluster.hostname|abbreviate_fqdn}}
    </a>
    {% else %}
    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : {{ instance.hostname }}
</h1>

<ul id="messages"></ul>

<div id="tabs">
    <ul>
        <li><a href="#overview"><span>{% trans "Overview" %}</span></a></li>
        {% if admin %}
            <li>
                <a title="users" href="{% url vm-users cluster.slug instance.hostname %}">
                    <span>{% trans "Users" %}</span>
                </a>
            </li>
            <li>
                <a title="log" href="{% url vm-object_log cluster.slug instance.hostname %}">
                    <span>{% trans "Log" %}</span>
                </a>
            </li>
        {%endif%}
	{% if admin or power %}
	    <li>
            <a title="console" href="{% url instance-vnc cluster.slug instance.hostname %}">
                <span>{% trans "Console" %}</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <div id="overview" class="tab_content">
		{% if instance.cluster.username %}
        {% with instance.cluster.username as username %}
        <ul id="actions">
            {# Start, Shutdown, Reboot #}
            {% if admin or power %}
                {% ifequal instance.info.status "running" %}
                <li>
                    <a class="button shutdown power" title="shut down" href="{% url instance-shutdown cluster.slug instance.hostname %}">
                        {% trans "Shutdown" %}
                    </a>
                </li>
                {% if has_immediate_shutdown %}
                <li>
                <a class="button shutdown power"
                   title="Immediate Shutdown"
                   href="{% url instance-shutdown-now cluster.slug instance.hostname %}">
                   {% trans "Immediate Shutdown" %}
                </a>
                </li>
                {% endif %}
                <li>
                    <a class="button reboot power" title="reboot" href="{% url instance-reboot cluster.slug instance.hostname %}">
                        {% trans "Reboot" %}
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="button startup power" title="start" href="{% url instance-startup cluster.slug instance.hostname %}">
                        {% trans "Start" %}
                    </a>
                </li>
                {% endifequal %}
            {% endif %}
            {# Reinstall #}
            {% if remove %}
                <li>
                    <a class="button reinstall" title="reinstall" href="{% url instance-reinstall cluster.slug instance.hostname %}">
                        {% trans "Reinstall" %}
                    </a>
                </li>
            {% endif %}
            {# Edit #}
            {% if modify %}
                <li>
                    <a class="button edit" href="{% url instance-modify cluster.slug instance.hostname %}">
                        {% trans "Edit" %}
                    </a>
                </li>
            {% endif %}
            {# Change Owner #}
            {% if cluster_admin %}
                <li>
                    <a class="button edit" href="{% url instance-reparent cluster.slug instance.hostname %}">
                        {% trans "Change Owner" %}
                    </a>
                </li>
            {% endif %}
            {# Rename #}
            {% if modify %}
                <li>
                    <a class="button edit" href="{% url instance-rename cluster.slug instance.hostname %}">
                        {% trans "Rename" %}
                    </a>
                </li>
            {% endif %}
            {# Replace Disks and Migrate #}
            {% if cluster_admin and instance|is_drbd %}
                {% if replace_disks %}
                    <li>
                        <a class="button replace_disks" title="replace disks" href="{% url instance-replace-disks cluster.slug instance.hostname %}">
                            {% trans "Replace Disks" %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if migrate %}
                <li>
                    <a class="button migrate" title="migrate" href="{% url instance-migrate cluster.slug instance.hostname %}">
                        {% trans "Migrate" %}
                    </a>
                </li>
            {% endif %}
            {# Create Template #}
            {% if cluster_admin %}
                <li>
                    <a class="button add" href="{% url template-create-from-instance cluster.slug instance.hostname %}">
                        {% trans "Create Template" %}
                    </a>
                </li>
            {% endif %}
            {# Delete #}
            {% if remove %}
                <li>
                    <a class="button delete"  title="delete" href="{% url instance-delete cluster.slug instance.hostname %}">
                        {% trans "Delete" %}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endwith %}
		{% endif %}

        {% with instance.info as info %}
        {% if info %}
        <table class="overview horizontal">
            <tr><th>{% trans "Owner" %}</th><td>{{ instance.owner.name }}</td></tr>
            <tr><th>{% trans "Created on" %}</th><td>{{ instance.ctime|date }}</td></tr>
            <tr><th>{% trans "Last modified" %}</th><td>{{ instance.mtime|date }}</td></tr>
            <tr>
                <th>{% trans "Status" %}</th>
                <td>{{ info.oper_state|yesno:"Running,Stopped" }}</td>
            </tr>
            <tr><th>{% trans "Primary node" %}</th><td>
                {% if cluster_admin %}
                    <a href="{% url node-detail cluster.slug info.pnode %}">
                        {{ info.pnode }}
                    </a>
                {% else %}
                    {{ info.pnode }}
                {% endif %}
            </td></tr>
            <tr><th>{% trans "Secondary node" %}</th><td>
                {% if cluster_admin %}
                    {% for host in info.snodes %}
                        <a href="{% url node-detail cluster.slug host %}">
                            {{ host }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ info.snodes|join:", " }}
                {% endif %}
            </td></tr>
            <tr>
                <th>{% trans "Operating System" %}</th>
                <td>{{ instance.operating_system|render_os }}</td>
            </tr>
            <tr>
                <th>{% trans "Autostart" %}</th>
                <td>{{ info.admin_state|checkmark }}</td>
            </tr>
            <tr>
                <th>VNC</th>
                <td>{{ info.pnode }}::{{ info.network_port }}</td>
            </tr>
        </table>

        <h3>Hardware</h3>
        <table class="horizontal">
            <tr><th>{% trans "VCPUs" %}</th><td>{{ instance.virtual_cpus }}</td></tr>
            <tr><th>{% trans "Memory" %}</th><td>{{ instance.ram|render_storage }}</td></tr>
            <tr><th>{% trans "NIC type" %}</th><td>{{ info.hvparams.nic_type }}</td></tr>
        </table>

        <h3>{% trans "Disks" %}</h3>
        <table>
            <tr>
                <th>{% trans "Disk" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Size" %}</th>
            </tr>
            {% for size in  info|index:"disk.sizes" %}
                <tr>
                    <td>disk/{{ forloop.counter0 }}</td>
                    <td>{{ info.hvparams.disk_type }}</td>
                    <td>{{ size|render_storage }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans "Network Devices" %}</h3>
        <table>
            <tr>
                <th>Nic</th>
                <th>Mac</th>
                <th>IP</th>
                <th>Mode</th>
                <th>Link</th>
            </tr>
            {% for mac in info|index:'nic.macs' %}
                <tr>
                    <td>nic/{{ forloop.counter0 }}</td>
                    <td>{{ mac }}</td>
                    <td>{{ info|index:'nic.ips'|index:forloop.counter0 }}</td>
                    <td>
                        {{ info|index:'nic.modes'|index:forloop.counter0 }}
                    </td>
                    <td>
                        {{ info|index:'nic.links'|index:forloop.counter0 }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Hypervisor</h3>
        <table class="horizontal">
            <tr><th>ACPI</th><td>{{ info.hvparams.acpi|checkmark }}</td></tr>
            <tr><th>{% trans "Boot Order" %}</th><td>{{ info.hvparams.boot_order }}</td></tr>
            <tr>
                <th>{% trans "CDROM Image Path" %}</th>
                <td>{{ info.hvparams.cdrom_image_path }}</td>
            </tr>
            <tr>
                <th>{% trans "CDROM 2 Image Path" %}</th>
                <td>{{ info.hvparams.cdrom2_image_path }}</td>
            </tr>
            <tr><th>Disk Cache</th><td>{{ info.hvparams.disk_cache }}</td></tr>
            <tr>
                <th>initrd Path</th><td>{{ info.hvparams.initrd_path }}</td>
            </tr>
            <tr>
                <th>Kernel Args</th><td>{{ info.hvparams.kernel_args }}</td>
            </tr>
            <tr>
                <th>Kernel Path</th><td>{{ info.hvparams.kernel_path }}</td>
            </tr>
            <tr><th>KVM Flag</th><td>{{ info.hvparams.kvm_flag }}</td></tr>
            <tr><th>Mem Path</th><td>{{ info.hvparams.mem_path }}</td></tr>
            <tr>
                <th>Migration Downtime</th>
                <td>{{ info.hvparams.migration_downtime }}</td>
            </tr>
            <tr><th>Nic Type</th><td>{{ info.hvparams.nic_type }}</td></tr>
            <tr><th>Network Port</th><td>{{ info.network_port }}</td></tr>
            <tr><th>Root Path</th><td>{{ info.hvparams.root_path }}</td></tr>
            <tr>
                <th>Security Domain</th>
                <td>{{ info.hvparams.security_domain }}</td>
            </tr>
            <tr>
                <th>Security Model</th>
                <td>{{ info.hvparams.security_model }}</td>
            </tr>
            <tr>
                <th>Serial Console</th>
                <td>{{ info.hvparams.serial_console|checkmark }}</td>
            </tr>
            <tr><th>USB Mouse</th><td>{{ info.hvparams.usb_mouse }}</td></tr>
            <tr>
                <th>Use Chroot</th>
                <td>{{ info.hvparams.use_chroot|checkmark }}</td>
            </tr>
            <tr>
                <th>Use Localtime</th>
                <td>{{ info.hvparams.use_localtime|checkmark }}</td>
            </tr>
            <tr>
                <th>VNC Bind Address</th>
                <td>{{ info.hvparams.vnc_bind_address }}</td>
            </tr>
            <tr>
                <th>VNC Password File</th>
                <td>{{ info.hvparams.vnc_password_file }}</td>
            </tr>
            <tr>
                <th>VNC TLS</th>
                <td>{{ info.hvparams.vnc_tls|checkmark }}</td>
            </tr>
            <tr>
                <th>VNC x509 Path</th>
                <td>{{ info.hvparams.vnc_x509_path }}</td>
            </tr>
            <tr>
                <th>VNC x509 Verify</th>
                <td>{{ info.hvparams.vnc_x509_verify|checkmark }}</td>
            </tr>
        </table>

        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
