{% extends "menu_base.html" %}
{% load webmgr_tags i18n %}
{% block head %}
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/virtual_machine_create.css"/>
    <script src="{{MEDIA_URL}}/js/modifyVM_formUpdater.js"></script>
    <script src="{{MEDIA_URL}}/js/helpTips.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var formUpdate = new modifyFormUpdater();
            formUpdate.init();
            initHelpTips("#vmeditform");
        });
    </script>
{% endblock %}

{% block content %}
<h1 class="breadcrumb">
    {% if cluster_admin %}
    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <a href="{% url instance-detail cluster.slug instance.hostname %}">{{ instance.hostname }}</a>
    : {% trans "Edit" %}
</h1>

<div id="vmeditform">
    <form method="post">
        <fieldset class="first_fieldset">
            <legend>{% trans "General Parameters" %}</legend>
            {% vmfield form.vcpus %}
            {% vmfield form.memory %}
            {% block beparams %}{% endblock %}
        </fieldset>

        <fieldset id="nics">
            <h3>{% trans "Network Devices" %}<div class="icon add"></div></h3>
            {{ form.nic_count }}
            {% for index in form.nic_fields %}
                {% vmfield_nic form index %}
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>{% trans "Operating System Parameters" %}</legend>
            {% vmfield form.os %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Hypervisor Parameters" %}</legend>
            {% block hvparams %}{% endblock %}
        </fieldset>
        <input class="submit" type="submit" value="{% trans "Continue" %}" />
    </form>
</div>
<div id="help">
    <h3></h3>
    <div></div>
</div>
<div id="help-contents">
    {% include "ganeti/helptips/vm.html" %}
    {% include "ganeti/helptips/vm_edit.html" %}
    {% block helptips %}{% endblock %}
</div>
{% endblock %}
