{% load webmgr_tags %}
{% load i18n %}

<form method="post" class="sorted">
{% csrf_token %}
<table id="vmlist">
<select name="vm_options">
  <option name="Reboot">Reboot VMs</option>
  <option name="Start">Start VMs</option>
  <option name="Shutdown">Shutdown VMs</option>
  <option name="Immediate shutdown">Immediately Shutdown VMs</option>
</select>
 
<input type="submit" onclick="return confirm('Are you sure you want to preform this action the the selected VMs?')" value="Submit"/>

<thead>
  {% if order %} {% comment %} order will only exist if the VM view is using this template {% endcomment %}
    {% if is_paginated %} {% comment %} Different urls are needed depending on whether the page is paginated or not {% endcomment %}
    <tr>
      <th><input type="checkbox" name="master_chkbx" onclick="toggle_boxes(this);"></input><th>
      <th class="status"></th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'hostname')"> {% trans "Name" %} </th>            
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'owner')"> {% trans "Owner" %}</th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'cluster')">{% trans "Cluster" %}</th>
      <th>{% trans "Node" %}</th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'operating_system')"> {% trans "OS" %}</th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'ram')"> {% trans "RAM" %}</th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'disk_size')"> {% trans "Disk Space" %}</th>
      <th onclick="sort('{% url virtualmachine-list-paged page_obj.number,order %}', '{{order}}', 'virtual_cpus')">{% trans "vCPUs" %}</th>
    </tr>
    {% else %} 
    <tr>
      <th class="status"></th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'hostname')"> {% trans "Name" %} </th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'owner')"> {% trans "Owner" %}</th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'cluster')">{% trans "Cluster" %}</th>
      <th>{% trans "Node" %}</th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'operating_system')"> {% trans "OS" %}</th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'ram')"> {% trans "RAM" %}</th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'disk_size')"> {% trans "Disk Space" %}</th>
      <th onclick="sort('{% url virtualmachine-list-ordered order %}', '{{order}}', 'virtual_cpus')">{% trans "vCPUs" %}</th>
    </tr>
    {% endif %}
  {% else %}
    <tr>
      <th class="status"></th>
      <th> {% trans "Name" %} </th>
      <th> {% trans "Owner" %}</th>
      <th> {% trans "Node" %}</th>
      <th> {% trans "OS" %}</th>
      <th> {% trans "RAM" %}</th>
      <th> {% trans "Disk Space" %}</th>
      <th> {% trans "vCPUs" %}</th>
    </tr>

  {% endif %}
</thead>
<tbody id="vms">
    {% for vm in object_list %}
    {% if not vm.pending_delete or vm.last_job_id %}
    {% with vm.info as info %}
    <tr>
        <td><input type="checkbox" name="chkbx" value="{{vm.hostname}},{{vm.cluster.slug}}"></input></td>
        <td class="status">
            {% if vm.error %}
                <div class="icon_error" title="{% trans "Ganeti API Error" %}: {{vm.error}}, last status was {{ vm.status|render_instance_status }}"></div>
            {% else %}
                {% if vm.pending_delete %}
                    <div class="icon_deleting" title="delete in progress"></div>
                {% else %}
                    {% if info.admin_state %}
                        {% if info.oper_state %}
                            <div class="icon_running" title="running"></div>
                        {% else %}
                            <div class="icon_error" title="{{ vm.status|render_instance_status }}"></div>
                        {% endif %}
                    {% else %}
                        {% if info.oper_state %}
                            <div class="icon_error" title="{{ vm.status|render_instance_status }}"></div>
                        {% else %}
                            <div class="icon_stopped" title="stopped"></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>

        <td class="name">
            <a href="{% url instance-detail vm.cluster.slug vm.hostname %}">
                {{ vm.hostname }}
            </a>
        </td>
        <td>
            {% if vm.owner %}
                <a href="{{ vm.owner.get_absolute_url }}">
                    {{ vm.owner }}
                </a>
            {% else %}
                {% trans "None" %}
            {% endif %}
        </td>
        {% if not cluster %}
            <td>
                {% if view_cluster %}
                    <a href="{% url cluster-detail vm.cluster.slug %}">
                    {{ vm.cluster|abbreviate_fqdn }}
                    </a>
                {% else %}
                    {{ vm.cluster|abbreviate_fqdn }}
                {% endif %}
            </td>
        {% endif %}
        <td>
            {% if view_cluster and info.pnode %}
                <a href="{% url node-detail vm.cluster.slug info.pnode %}">
                {{ info.pnode|abbreviate_fqdn }}
                </a>
            {% else %}
                {{ info.pnode|abbreviate_fqdn }}
            {% endif %}
        </td>
        <td>{{ vm.operating_system|render_os }}</td>
        <td>{{ vm.ram|render_storage }}</td>
        <td>{{ vm.disk_size|render_storage }}</td>
        <td>{{ vm.virtual_cpus }}</td>
    {% endwith %}
    {% endif %}
    {% empty %}
        <tr class="none"><td colspan="100%">{% trans "No Virtual Machines" %}</td></tr>
    {% endfor %}
</tbody>
</table>
</form>
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="previous">
        <a href="{% url virtualmachine-list-paged page_obj.previous_page_number, "hostname" %}">&laquo; {% trans "Previous" %}</a>
    </li>
    {% endif %}

    {% for page in paginator.page_range %}
    <li class="{%if page == page_obj.number%}active{%endif%} page">
        <a href="{% url virtualmachine-list-paged page, order %}">{{page}}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="next">
        <a href="{% url virtualmachine-list-paged page_obj.next_page_number, order %}">{% trans "Next" %} &raquo;</a>
    </li>
    {% endif %}
</ul>   
{% endif %}
