{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}Virtual Machines{% endblock %}
{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}/js/toggle_checkboxes.js"></script>
    <script src="{{STATIC_URL}}/js/sorter.js"></script>
{% endblock %}
{% block content %}
<div class="header">
  <h1 class="breadcrumb">Virtual Machines</h1>
  {% if can_create %}
    <a class="button add" href="{% url instance-create %}">
        {% trans "Add Virtual Machine" %}
    </a>
  {% endif %}
</div>
{% include "ganeti/virtual_machine/table.html" %}
{% endblock %}
