{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}{% trans "Reinstall" %} Virtual Machine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/delete.css"/>
{% endblock %}

{% block content %}
<h1 class="breadcrumb">
    {% if cluster_admin %}
    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <a href="{% url instance-detail cluster.slug vm.hostname %}">{{ vm.hostname }}</a>
    : {% trans "Reinstall" %}
</h1>

<div id="confirm">
    <div class="message">
        Are you sure you want to reinstall this virtual machine?  This action
        can not be undone. The contents of the virtual machine will be lost.
        <br />While the reinstall is in progress, the detail page will indicate that a "Instance Shutdown" job is running.
        <br />Once the reinstall is complete, you can click "Start" to boot up the virtual machine.
        <ul><li>{{vm.hostname}}</li></ul>
        <br />Warning: This may not work if you choose an operating system other than
        the one this virtual machine was initally installed with. If a
        reinstallation is unsuccessful, reinstall with the virtual machine's
        original operating system.
    </div>
    <form method="post">
        {% csrf_token %}
        <label for="os">{% trans "Operating System" %}</label>
        <select name="os" id="os">
        {% for osgroup in oschoices %}
            <optgroup label="{{ osgroup.0 }}">
            {% for oschoice in osgroup.1 %}
            <option
            {% if oschoice.0 == current_os %}selected="selected"{% endif %}
                value="{{ oschoice.0 }}">{{ oschoice.1 }}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
        </select><br /><br />

        <input id="reinstall" type="submit" value="{% trans "Reinstall" %}" />
    </form>
</div>

{% endblock %}
