{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}{% trans "Rename" %} Virtual Machine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/virtual_machine_create.css"/>
    <script src="{{MEDIA_URL}}/js/helpTips.js"></script>
    <script type="text/javascript">initHelpTips('#virtualmachineform');</script>
    <script type="text/javascript">
        // Make sure that if IP Check is selected, so is DNS Name Check
        $(document).ready(function() {
            var name_check = $("#id_name_check");
            var ip_check = $("#id_ip_check");
            var old_ip_check = ip_check.is(":checked");
            name_check.live("click", function() {
                if( !name_check.is(":checked") ) {
                    // Save current value as old value
                    old_ip_check = ip_check.is(":checked");
                    // uncheck ip check
                    ip_check.removeAttr('checked');
                    // disable ip check
                    //ip_check.attr('disabled', 'disabled');
                } else {
                    // enable ip check
                    //ip_check.removeAttr('disabled');
                    // Set old value
                    if( old_ip_check ) {
                        ip_check.attr('checked', 'checked');
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="breadcrumb">
        {% if cluster_admin %}
        <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
        {% else %}
        <span>{{cluster.hostname|abbreviate_fqdn}}</span>
        {% endif %}
        : <a href="{% url instance-detail cluster.slug vm.hostname %}">{{ vm.hostname }}</a>
        : {% trans "Rename" %}
    </h1>

    <div id="virtualmachineform">
        <form method="post">{% csrf_token %}
            {% vmfield form.hostname %}
            {% vmfield form.ip_check %}
            {% vmfield form.name_check %}
            <input class="submit" type="submit" value="Rename">
        </form>
    </div>

    <div id="help">
        <h3></h3>
        <div></div>
    </div>

    <div id="help-contents">
        {% include "ganeti/helptips/vm_rename.html" %}
    </div>
{% endblock %}
