{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}{% trans "Rename" %} Virtual Machine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/virtual_machine_create.css"/>
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/help_tips.css"/>
    <link rel="stylesheet" type="text/css" href="{{SITE_ROOT}}/object_permissions_media/css/form.css"/> 
    <script src="{{MEDIA_URL}}/js/helpTips.js"></script>
    <script type="text/javascript" src="{{SITE_ROOT}}/object_permissions_media/js/autocomplete_user_search.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initHelpTips("#virtualmachineform");
            autocomplete_user_search($("#id_owner"),'{% url owner-search %}');
        });
    </script>
{% endblock %}

{% block content %}
    <div id="virtualmachineform">
        <form method="post">
            <fieldset class="first_fieldset">
                <h1 class="breadcrumb">
                    {% if cluster_admin %}
                    <a href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
                    {% else %}
                    <span>{{cluster.hostname|abbreviate_fqdn}}</span>
                    {% endif %}
                    : <a href="{% url instance-detail cluster.slug vm.hostname %}">{{ vm.hostname }}</a>
                    : {% trans "Change Owner" %}
                </h1>
                {% vmfield form.owner %}
                <input class="submit" type="submit" value="Save">
            </fieldset>
        </form>
    </div>

    <div id="help">
        <h3></h3>
        <div></div>
    </div>

    <div id="help-contents">
       {% include "ganeti/helptips/vm_create.html" %}
    </div>
{% endblock %}
