    <script type="text/javascript">
        var host, port, password;

        function show_errors() {
            if (host===false || port===false || password===false) {
                $("#vnc_errors").html("Probably your proxy is not running or some errors occured. Try again.");
                $("#vnc_errors").show();
                return false;
            }
            return true;
        }

        // XXX merge me with my buddy in noVNC.js please!
        function start() {
            $("#vnc_errors").hide();

            url1 = "{% url instance-vnc-proxy cluster.slug instance.hostname %}";
            $.ajax({
                "async": false,
                "url": url1,
                "type": "POST",
                "dataType": "json",
                "success": function(data, s, x){
                    host = data[0];
                    port = data[1];
                    password = data[2];
                }
            });
            if (!show_errors()) return false;

            url2 = "{% url instance-vnc-applet cluster.slug instance.hostname %}" + "/" + host + "/" + port + "/" + password + "/";
            $("#applet").load( url2 );

            return false;
        }
    </script>

    <input type="button" id="connect" value="Connect" onclick="start()" />
    <div id="applet">&nbsp;</div>
