<html>
    <head>
        <title>Ganeti Web Manager</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/content.css"/>
        <style>
            body {background: none; height:400px;}
            #actions {clear:both; margin-bottom:0 !important;}
        </style>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>

    </head>
    <body>
        {% with 1 as popout %}
        {% include "ganeti/virtual_machine/novnc.html" %}
        {% endwith %}
        <script type="text/javascript">
            $(function() {
                function getQueryString() {
                    var result = {}, queryString = location.search.substring(1),
                      re = /([^&=]+)=([^&]*)/g, m;
                    while (m = re.exec(queryString)) {
                    result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                    }
                    return result;
                }
                var auto_connect = getQueryString()["auto_connect"];
                if (auto_connect == undefined) auto_connect = false;
                if (auto_connect) {
                    $("#connect").click();
                }
            });
        </script>
    </body>
</html>
