 select {padding-right:5px;}
    
        #save {
            margin-top:10px;
        }
    
    
        #h1 {
            border-bottom: 1px solid #888888;
            height:26px;
            margin-bottom:20px;
            margin-top:10px;
            width:100%;
            padding:0;
        }
    
        #h1 h1 {float:left; border:0; margin:0;}
    
        #tabs {
            float:left;
            margin-left:100px;
        }
        
        #tab_content {display:none;}
