{% extends "menu_base.html" %}
{% load i18n %}
{% load webmgr_tags %}

{% block title %}{%trans "Overview" %}{% endblock %}

{% block head %}
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.progressbar.js"></script>
<script src="{{STATIC_URL}}/js/disableSingletonDropdown.js"
    type="text/javascript"></script>
<script type="text/javascript">
$(window).load(function() {
    disableSingletonDropdown2();
});
</script>
<script type="text/javascript">
    var CLUSTER_RESOURCES_PBAR = {
        steps: 0,
        showText: true,
        textFormat: 'fraction',
        // XXX there's issue, bars doesn't scale the progress to the given width
        width: 120,
        boxImage: '{{STATIC_URL}}/images/progressbar/progressbar.gif',
        barImage: {
            0: '{{STATIC_URL}}/images/progressbar/progressbg_green.gif',
            30: '{{STATIC_URL}}/images/progressbar/progressbg_yellow.gif',
            50: '{{STATIC_URL}}/images/progressbar/progressbg_orange.gif',
            75:  '{{STATIC_URL}}/images/progressbar/progressbg_red.gif'
        }
    };
    $(document).ready(function() {
        $("#clusters .ram, #clusters .disk").each(function(){
            var $this = $(this);
            if ($this.html() != 'unknown') {
                $this.progressBar(CLUSTER_RESOURCES_PBAR);
            }
            else
            {   $this.html("<div align='center'><i>unknown</i></div>");
            }
        });
        $("#clusters").tablesorter();
        $("#errors_list table").tablesorter();
        $("#errors_list a.clear").live("click", function(event){
            event.preventDefault();
            var row = this.parentNode.parentNode;
            $.post(this.href, function(){
                $(row).remove();
                if($("#errors_list tr").length==0) {
                    $("#errors_list").remove();
                }
            });
        });
        
        $("#usage_summary select").change(function(){
            var val = $(this).val();
            $.get("{% url used_resources %}", {id:val}, function(html){
                $("#usage_summary table").replaceWith(html);
            });
        })
	$("#usage_summary select").attr("id","user_select");

    });
    
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Overview" %}</h1>

{% if admin or create_vm %}
<div id="cluster_summary">
<h2>{% trans "Cluster Status" %}</h2>
<table id="clusters" class="sorted">
    <thead>
        <tr>
            <th>{% trans "Cluster" %}</th>
            <th>{% trans "Version" %}</th>
            <th>{% trans "Memory Allocated [GiB]" %}</th>
            <th>{% trans "Disk Allocated [GiB]" %}</th>
            <th>{% trans "Nodes" %}</th>
            <th>{% trans "VMs" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for cluster in cluster_list %}
        {% with cluster.info as info %}
            <tr id="cluster_{{cluster.id}}">
                <td class="name">
                    {% if cluster.error %}<div class="icon_error" title='{% trans "Ganeti API Error" %}: {{cluster.error}}'></div>{% endif %}
                    <a href="{% url cluster-detail cluster.slug %}">
                        {{ cluster.hostname|abbreviate_fqdn }}
                    </a>
                </td>
                <td>
                {% if info.software_version %}
                    v{{ info.software_version }}
                {% else %}
                    <i>unknown</i>
                {% endif %}
                </td>
                <td class="ram">{% cluster_memory cluster %}</td>
                <td class="disk">{% cluster_disk cluster %}</td>
                <td title="Running/All">{% format_online_nodes cluster %}</td>
                <td title="Running/All">{% format_running_vms cluster %}</td>
            </tr>
        {% endwith %}
    {% empty %}
        <tr class="none"><td colspan="100%">{% trans "No Clusters" %}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

<div id="vm_summary">
<h2>{% trans "Virtual Machine Status" %}</h2>
<table>
    <thead>
        <tr>
            <th>{% trans "Cluster" %}</th>
            <th>{% trans "Running" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for hostname, dict in vm_summary.items %}
            <tr>
                <td>
                {% if view_cluster %}
                    <a href="{% url cluster-detail dict.cluster__slug %}"> 
                        {{hostname|abbreviate_fqdn}}
                    </a>
                {% else %}
                    {{hostname|abbreviate_fqdn}}
                {% endif %}
                </td>
                <td>{{dict.running}}</td>
                <td>{{dict.total}}</td>
            </tr>
        {% empty %}
            <tr><td colspan="100%" class="none">{% trans "You do not have access to any virtual machines" %}</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div id="usage_summary">
<h2>{% trans "Resource Usage" %}:

<select>
    {% for persona in personas %}
    <option value="{{persona.clusteruser_ptr_id}}">{{persona.name}}</option>
    {% endfor %}
</select>

</h2>
{% include "ganeti/overview/used_resources.html" %}
</div>

{% if errors %}
<div id="errors_list">
    <h2>{% trans "Recent Errors" %}</h2>
    <table>
    {% for tuple in errors %}
        {% with tuple.0 as is_ganeti_error %}
        {% with tuple.1 as error %}
            {% if is_ganeti_error %}
                <tr class="gerror" id="gerror_{{error.pk}}">
                    {% include "ganeti/overview/object_link.html" %}
                    <td>{{ error.msg }}</td>
                    <td>{{ error.timestamp|date }}</td>
                    <td><a class="clear" title="clear message" href="{% url error-clear error.pk %}"></a></td>
                </tr>
            {% else %}
                <tr class="jerror" id="jerror_{{error.pk}}">
                    {% include "ganeti/overview/object_link.html" %}
                    <td><a href="{% url job-detail error.cluster.slug error.job_id %}">{% trans "Job" noop %}#{{error.job_id}}: {{ error.current_operation|format_job_op }}</a></td>
                    <td>{{ error.finished|date }}</td>
                    <td><a class="clear" title="clear message" href="{% url job-clear error.cluster.slug error.job_id %}"></a></td>
                </tr>
            {% endif %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
    </table>
</div>
{% endif %}

{% if orphaned or import_ready or missing %}
<div id="administration">
    <h2>{% trans "Administration" %}</h2>
    <table style="width: auto;">
    {% if orphaned %}
        <tr>
            <th>Orphaned VMs</th>
            <td><a href="{% url import-orphans %}">{% trans "Adopt" %} {{ orphaned }}</a></td>
        </tr>
    {% endif %}

    {% if import_ready %}
        <tr>
            <th>{% trans "VMs ready to import" %}</th>
            <td><a href="{% url import-missing_db %}">{% trans "Import" %} {{ import_ready }}</a></td>
        </tr>
    {% endif %}

    {% if missing %}
        <tr>
            <th>{% trans "VMs missing from ganeti" %}</th>
            <td><a href="{% url import-missing %}">{% trans "Remove" %} {{ missing }}</a></td>
        </tr>
    {% endif %}
    </table>
</div>
{% endif %}
{% endblock %}

