{% load maintain_extras %}

{% for field, wrapper in wrapper.parent.items %}
    {% with instance|get:field as instance %}
        {% for field, wrapper in wrapper.one_to_one.items %}
             {% with instance|get:field as instance %}
                 <td>
                        {% if wrapper|link %}
                            <a href="{{ROOT}}/o/{{wrapper.name}}/{{instance.id}}" class="model">
                                {% for field in wrapper.fields %}
                                    {{ instance|get:field }}
                                {% endfor %}
                            </a>
                        {% else %}
                            {% for field in wrapper.fields %}
                                {{ instance|get:field }}
                            {% endfor %}
                        {% endif %}
                    </td>
             {% endwith %}
         {% endfor %}
    {% endwith %}
{% endfor %}

{% for field, wrapper in wrapper.children.items %}
    {% with instance|get:field as instance %}
        {% if instance %}
            {% for field, wrapper in wrapper.many_to_one.items %}
                {% with instance|get:field as instance %}
                    <td>
                        {% if wrapper|link %}
                            <a href="{{ROOT}}/o/{{wrapper.name}}/{{instance.id}}" class="model">
                                {% for field in wrapper.fields %}
                                    <b>{{field}}:</b> {{ instance|get:field }}
                                {% endfor %}
                            </a>
                        {% else %}
                            {% for field in wrapper.fields %}
                                <b>{{field}}:</b> {{ instance|get:field }}
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endwith %}
            {% endfor %}
            {% for field in wrapper.fields %}
                <td>
                    {% if wrapper|link %}
                        <a href="{{ROOT}}/o/{{wrapper.name}}/{{instance.id}}" class="model">{{instance|get:field}}</a>
                    {% else %}
                        {{instance|get:field}}
                    {% endif %}
                </td>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endfor %}

{% for field in wrapper.fields %}
    <td>
        {% if link %}
            <a href="{{ROOT}}/o/{{wrapper.name}}/{{instance.id}}" class="model">{{instance|get:field}}</a>
        {% else %}
            {{instance|get:field}}
        {% endif %}
    </td>
{% endfor %}