{% extends "base.html" %}

{% block title %}Create a new Virtual Machine{% endblock %}

{% block head %}
    <script src="{{MEDIA_URL}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.virtual_machine_form.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            virtual_machines();
            owner_change('{% url instance-create-cluster-choices %}');
            cluster_change('{% url instance-create-cluster-options %}',
                           '{% url instance-create-cluster-defaults %}');
        });
    </script>
{% endblock %}

{% block content %}
<div id="virtualmachineform">
    <form method="post">
        <fieldset>
            <legend> New Virtual Machine </legend>
                {% for field in form %}
                    {% if field.label = 'Virtual CPUs' %}
                        <fieldset>
                            <h3>General Parameters</h3>
                    {% endif %}
                    
                    {{ field.errors }}
                    <p>
                        <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
                        {{ field }}
                    </p>
                    
                    {% if field.label = 'NIC Type' %}
                        </fieldset>
                        <fieldset>
                            <h3>Hypervisor Parameters</h3>
                    {% endif %}
                    
                    {% if field.label = 'CD-ROM Image Path' %}
                        </fieldset>
                    {% endif %}
                {% endfor %}
                <input class="submit" type="submit" value="Create">
        </fieldset>
    </form>
</div>
{% endblock %}