{% load i18n %}
<div id="help-contents">
        {# performatted help content that will be copied into the help div #}
        <div id="help-owner">
            <p>
            {% blocktrans %}The owner indicates who this virtual machine belongs to. Resources
            used by the virtual machine will be deducted from the owner's
            quota.{% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}An owner may be a user or a group.  If you are a member of a group
            you may create a virtual machine on behalf of that group.{% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}If your user does not directly have access/permission to a cluster,
            it will not have permission to own a virtual machine directly.{% endblocktrans %}
            </p>
        </div>
        <div id="help-cluster">
            <p>
            {% trans "Which ganeti cluster to deploy the new virtual machine on" %}.
            </p>
        </div>
        <div id="help-hostname">
            {% blocktrans %}Domain name or host name to assign to this virtual
            machine; e.g. <tt>example.org</tt> or
            <tt>subdomain.example.org</tt>.{% endblocktrans %}
        </div>


        <div id="help-start">
            <p>
            {% blocktrans %}Uncheck this if you don't want the instance to automatically start
            after creation. If you do so, you can start it manually on the
            virtual machine detail page.{% endblocktrans %}
            </p>
        </div>
        <div id="help-name_check">
            <p>
            {% blocktrans %}Check the virtual machine DNS name via the resolver <i>(e.g. in DNS
            or /etc/hosts, depending on your setup)</i>. Since the name check
            is used to compute the IP address this also enables/disables IP
            checks <i>(e.g.  if the IP is pingable)</i>.{% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}This is useful for setups that deploy virtual machines using
            dynamic DNS and thus the name is not resolvable yet.{% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}<b>Use with caution!</b> If left unchecked you may run into name/ip
            collisions.{% endblocktrans %}
            </p>
        </div>
        <div id="help-iallocator">
            <p>
            {% blocktrans %}Automatically select primary and secondary node to allocate disks
            on.{% endblocktrans %}
            </p>
            <p>
            When selected it will use the cluster default 
            <a href="http://docs.ganeti.org/ganeti/current/html/iallocator.html">
            iallocator</a> (if set by the cluster). The iallocator being used
            will be displayed after the checkbox.
            </p>
        </div>
        <div id="help-disk_template">
            <p>
            {% blocktrans %}Disk layout template for the virtual machine on the cluster node.{% endblocktrans %}
            </p>
            <p>{% trans "The available choices are" %}:</p>
            <ul>
                <li>
                    <b>plain</b> - {% trans "Disk devices will be logical volumes" %} <i>
                    (e.g.  LVM)</i>
                </li>
                <li>
                    <b>drbd</b> - {% trans "Disk devices will be" %} 
                    <a href="http://www.drbd.org/">DRBD</a> ({% trans "version" %}8.x) {% trans "on top of LVM volumes" %}
                </li>
                <li>
                    <b>file</b> - {% trans "Disk devices will be regular files" %}
                    <i>(e.g.  qcow2)</i>
                </li>
                <li>
                    <b>diskless</b> - {% blocktrans %}This creates a virtual machine with no
                    disks. Its useful for testing only (or other special
                    cases).{% endblocktrans %}
                </li>
            </ul>
            <p>
                {% blocktrans %}If drbd is selected, then a primary and secondary node will
                need to be chosen unless automatic allocation has been 
                selection. DRBD will allow the virtual machine to use live 
                migration and failover in case one of the nodes goes offline.{% endblocktrans %}
            </p>
        </div>
        <div id="help-pnode">
        	{% blocktrans %}The primary node to use for the virtual machine (in case automatic
            allocation is not used).{% endblocktrans %}
        </div>
        <div id="help-snode">
            <p>
            	{% blocktrans %}The secondary node to use for the virtual machine (in case
                automatic allocation is not used).{% endblocktrans %}
            </p>
            <p>
            	{% trans "This is only required when using the drbd disk template." %}
            </p>
        </div>
        <div id="help-os">
            <p>
            	{% blocktrans %}Operating system to install on the virtual machine. Your
                choices are limited to the images configured on the cluster.{% endblocktrans %}
            </p>
            <p>
            	{% blocktrans %}The text in <b>bold</b> signifies the Ganeti Operating
                System Type which may be called debootstrap, image, or some
                other type. The text that is selectable is the operating system
                (or os-type variant) that the cluster has access to.{% endblocktrans %}
            </p>
        </div>

        <div id="help-vcpus">
            <p>{% trans "Number of virtual cpus to allocate to this virtual machine" %}.</p>
            <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
        </div>
        <div id="help-memory">
            <p>
            	{% blocktrans %}Amount of ram to allocate to this virtual machine. If no units
                are given, megabytes is assumed.{% endblocktrans %}
            </p>
            <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
        </div>
        <div id="help-disk_size">
            <p>
            	{% blocktrans %}Size of the system disk to allocate to this virtual machine. If
                no units are given, megabytes is assumed.{% endblocktrans %}
            </p>
             <p>
                Acceptable Formats: 
            </p>
            <ul>
                <li>
                    <b>M</b> or MB - (megabytes)
                </li>
                <li>
                    <b>G</b> or GB - (gigabytes) 
                </li>
                <li>
                    <b>T</b> or TB - (terabytes)
                </li>
            </ul>
            <p><b><i>{% trans "This will be deducted from the owner's quota" %}.</i></b></p>
        </div>
        <div id="help-disk_type">
            <p>
            	{% blocktrans %}This parameter determines the way the disks are presented to
                the virtual machine.{% endblocktrans %} {%trans "The possible options are" %}:
				
            </p>
            <ul>
                <li><b>paravirtual</b> - (HVM &amp; KVM)</li>
                <li>
                    <b>ioemu</b> - (default for HVM &amp; KVM) (HVM &amp; KVM)
                </li>
                <li><b>ide</b> - (HVM &amp; KVM)</li>
                <li><b>scsi</b> - (KVM)</li>
                <li><b>sd</b> - (KVM)</li>
                <li><b>mtd</b> - (KVM)</li>
                <li><b>pflash</b> - (KVM)</li>
            </ul>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
        </div>
        <div id="help-nic_mode">
            <p>
            	{% blocktrans %}This option specifies how the virtual machine connects to the
                network. More information on this can be found in the {% endblocktrans %}<a
                href="http://docs.ganeti.org/ganeti/current/html/install.html#configuring-the-network">
                {% trans "Ganeti tutorial documentation" %}</a>.
            </p>
            <p>{% trans "When in doubt, choose" %} <b>bridged</b>.</p>
            <ul>
                <li>
                    <b>bridged</b> - {% blocktrans %}The virtual machine's network interface
                    will be attached to a software bridge running on the node.{% endblocktrans %}
                </li>
                <li><b>routed</b> - {% blocktrans %}The virtual machine's network interface
                    will be routed{% endblocktrans %}
                </li>
            </ul>
        </div>
        <div id="help-nic_link">
            <p>
                {% blocktrans %}In <b>bridged</b> mode, it specifies the bridge interface to
                attach this NIC to on the node <i>(e.g. br0)</i>.{% endblocktrans %}
            </p>
            <p>
            	{% blocktrans %}In <b>routed</b> mode it's intended to differentiate between 
                different routing tables/virtual machine groups (but the 
                meaning is dependant on the network script, see 
                <a href="http://docs.ganeti.org/ganeti/current/man/gnt-cluster.html">
                gnt-cluster(8)</a> for more details.{% endblocktrans %}
            </p>
        </div>
        <div id="help-nic_type">
            <p>
                {% blocktrans %}This parameter determines the way the network cards are 
                presented to the virtual machine.{% endblocktrans %} {% trans "The possible options are" %}:
            </p>
            <ul>
                <li><b>rtl8139</b> - (default for Xen HVM) (HVM &amp; KVM)</li>
                <li><b>ne2k_isa</b> - (HVM &amp; KVM)</li>
                <li><b>ne2k_pci</b> - (HVM &amp; KVM)</li>
                <li><b>i82551</b> - (KVM)</li>
                <li><b>i82557b</b> - (KVM)</li>
                <li><b>i82559er</b> - (KVM)</li>
                <li><b>pcnet</b> - (KVM)</li>
                <li><b>e1000</b> - (KVM)</li>
                <li><b>paravirtual</b> - (default for KVM) (KVM &amp; HVM)</li>
            </ul>
            <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
        </div>

        <div id="help-kernel_path">
            <p>
                {% blocktrans %}This option specifies the path (on the node) to the kernel to 
                boot the virtual machine with. Xen PVM instances always require
                this, while for KVM if this option is empty, it will cause the
                machine to load the kernel from its disks.{% endblocktrans %}
            </p>
            <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
        </div>
        <div id="help-root_path">
            <p>
                {% blocktrans %}This option specifies the name of the root device. This is 
                always needed for Xen PVM, while for KVM it is only used if the
                kernel_path option is also specified.{% endblocktrans %}
            </p>
            <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
        </div>
        <div id="help-serial_console">
            <p>
                {% blocktrans %}This boolean option specifies whether to emulate a serial
                console for the instance.{% endblocktrans %}
            </p>
            <p>{% trans "Valid for the KVM hypervisor" %}.</p>
        </div>
        <div id="help-boot_order">
            <p>{% trans "Value denoting boot order for the virtual machine" %}.</p>
            <ul>
                <li><b>Hard Disk</b> - {% trans "boot from the first disk device" %}</li>
                <li><b>CD-ROM</b> - {% blocktrans %}boot from the cdrom
                (requires CD Image path being set){% endblocktrans %}</li>
                <li><b>Network</b> - {% trans "boot from the network (such as PXE)" %}</li>
            </ul>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
        </div>
        <div id="help-image_path">
            <p>
               {% blocktrans %}The path to a CDROM image on the node to attach to the virtual
               machine.{% endblocktrans %}
            </p>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors" %}.</p>
        </div>
        <div id="help-cdrom_image_path">
            <p>{% trans "The path to a CDROM image to attach to the instance" %}.</p>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors." %}.</p>
        </div>
        <div id="help-acpi">
            <p>{% blocktrans %}A  boolean  option  that  specifies if the
            hypervisor should enable ACPI support for this instance.
            {% endblocktrans %}</p>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors." %}</p>
        </div>
        <div id="help-disk_cache">
            <p>{% blocktrans %}The disk cache mode. It can be either default to
            not pass any cache option to KVM, or one of the KVM  cache
            modes:{% endblocktrans %}</p>
            <ul>
                <li><b>none</b> {% trans "(for  direct I/O)"%}</li>
                <li><b>writethrough</b> {% blocktrans %}(to use the host cache
                but report completion to the guest only when the host has
                committed the changes to disk){% endblocktrans %}</li>
                <li><b>writeback</b> {% blocktrans %}(to use the host cache and
                report completion as soon as the data is in the host cache).
                {% endblocktrans%}</li>
            </ul>
            <p>{% blocktrans %}Note that there are special considerations for
            the cache mode depending on version of KVM used and disk type
            (always raw file under Ganeti), please refer to the KVM
            documentation for more details.{% endblocktrans %}.</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-initrd_path">
            <p>{% blocktrans %} This option specifies the path (on the node) to
            the initrd to boot the instance with. Xen PVM instances can use
            this always, while for KVM if this option is only used if the
            <b><i>kernel_path</i></b> option is also specified. You can pass here
            either an absolute filename (the path to the initrd) if you want to
            use an initrd, or use the format no_initrd_path for no initrd.
            {% endblocktrans %}</p>
            <p>{% trans "Valid for the Xen PVM and KVM hypervisors." %}</p>
        </div>
        <div id="help-kernel_args">
            <p>{% blocktrans %}This option specifies extra arguments to the
            kernel that will be loaded device. This is always used for Xen
            PVM, while for KVM it is only used if the <b><i>kernel_path</i></b>
            option is also specified.{% endblocktrans %}</p>
            <p>{% blocktrans %} The default setting for this value is simply
            "<b>ro</b>", which mounts the root disk (initially) in read-only
            one. For example, setting this to single will cause the instance
            to start in single-user mode.{% endblocktrans %}</p>
            <p>{% trans "Valid for the Xen PVM and KVM hypervisors." %}</p>
        </div>
        <div id="help-kvm_flag">
            <p>{% blocktrans %}If <b><i>enabled</i></b> the -enable-kvm flag is
            passed to kvm. If <b><i>disabled</i></b> -disable-kvm is passed. If
            unset no flag is passed, and the default running mode for your kvm
            binary will be used.{% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-mem_path">
            <p>{% blocktrans %}This option passes the -mem-path argument to kvm
            with the path (on the node) to the mount point of the hugetlbfs
            file system, along with the -mem-prealloc argument too.
            {% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-migration_downtime">
            <p>{% blocktrans %}The maximum amount of time (in ms) a KVM
            instance is allowed to be frozen during a live migration, in
            order to copy dirty memory pages. Default value is <i>30ms</i>, but
            you may need to increase this value for busy instances.
            {% endblocktrans %}</p>
            <p>{% blocktrans %}This option is only effective with kvm versions
            >= 87 and qemu-kvm versions >= 0.11.0.{% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-security_model">
            <p>{% blocktrans %}The security model for kvm. Currently one of
            <b>none</b>, <b>user</b> or <b>pool</b>. Under <b>none</b>, the
            <i>default</i>, nothing is done and instances are run as the Ganeti
            daemon user (normally root).{% endblocktrans %}</p>
            <ul>
                <li><b>user</b> - {% blocktrans %}kvm will drop privileges and
                become the user specified by the <i>security_domain</i>
                parameter. {% endblocktrans %}</li>
                <li><b>pool</b> - {% blocktrans %}a global cluster pool of
                users will be used, making sure no two instances share the same
                user on the same node. (this mode is not implemented yet)
                {% endblocktrans %}</li>
            </ul>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-usb_mouse">
            <p>{% blocktrans %}This option  specifies the usb mouse type to
            be used. It can be <b>mouse</b> or <b>tablet</b>. When using VNC it's
            recommended to set it to <b>tablet</b>.{% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-use_chroot">
            <p>{% blocktrans %}This boolean option determines wether to run the
            KVM instance in a chroot directory.{% endblocktrans %}</p>
            <p>{% blocktrans %}If it is set to <b>true</b>, an empty directory
            is created before starting the instance and its path is passed via
            the <i>-chroot</i> flag to kvm.  The directory is removed when the
            instance is stopped.{% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-use_localtime">
            <p>{% blocktrans %}A boolean option that specifies if the instance
            should be started with its clock set to the localtime of the
            machine (when <b>true</b>) or to the UTC (when <b>false</b>). The
            default is <b>false</b>, which is useful for Linux/Unix machines;
            for Windows OSes, it is recommended to <b>enable</b> this
            parameter.{% endblocktrans %}</p>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors." %}</p>
        </div>
        <div id="help-vnc_bind_address">
            <p>{% blocktrans %}Specifies the address that the VNC listener for
            this instance should bind to. Valid values are IPv4 addresses.  Use
            the address <b>0.0.0.0</b> to bind to <i>all</i> available
            interfaces (this is the <i>default</i>) or specify the address of
            one of the interfaces on the node to restrict listening to that
            interface.{% endblocktrans %}</p>
            <p>{% trans "Valid for the Xen HVM and KVM hypervisors." %}</p>
        </div>
        <div id="help-vnc_tls">
            <p>{% blocktrans %}A boolean option that controls whether the VNC
            connection is secured with TLS.{% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
        <div id="help-vnc_x509_path">
            <p>{% blocktrans %}If <b>vnc_tls</b> is enabled, this options
            specifies the path to the x509 certificate to use.
            {% endblocktrans %}</p>
            <p>{% trans "Valid for the KVM hypervisor." %}</p>
        </div>
</div>
