<div id="help-contents">
    {# performatted help content that will be copied into the help div #}
    <div id="help-owner">
        <p>
            The owner indicates who this virtual machine belongs to. Resources
            used by the virtual machine will be deducted from the owner's
            quota.
        </p>
        <p>
            An owner may be a user or a group.  If you are a member of a group
            you may create a virtual machine on behalf of that group.
        </p>
        <p>
            If your user does not directly have access/permission to a cluster,
            it will not have permission to own a virtual machine directly.
        </p>
    </div>
    <div id="help-cluster">
        <p>
            Which ganeti cluster to deploy the new virtual machine on.
        </p>
    </div>
    <div id="help-hostname">
        <p>
            Fully qualified domain name <i>(<b>FQDN</b>)</i> to assign to this
            virtual machine. <i>(e.g. hostname.example.org)</i>
        </p>
    </div>
    <div id="help-start">
        <p>
            Uncheck this if you don't want the instance to automatically start
            after creation. If you do so, you can start it manually on the
            virtual machine detail page.
        </p>
    </div>
    <div id="help-name_check">
        <p>
            Check the virtual machine DNS name via the resolver <i>(e.g. in DNS
            or /etc/hosts, depending on your setup)</i>. Since the name check
            is used to compute the IP address this also enables/disables IP
            checks <i>(e.g.  if the IP is pingable)</i>.
        </p>
        <p>
            This is useful for setups that deploy virtual machines using
            dynamic DNS and thus the name is not resolvable yet.
        </p>
        <p>
            <b>Use with caution!</b> If left unchecked you may run into name/ip
            collisions.
        </p>
    </div>
    <div id="help-iallocator">
        <p>
            Automatically select primary and secondary node to allocate disks
            on.
        </p>
        <p>
            When selected it will use the cluster default 
            <a href="http://docs.ganeti.org/ganeti/current/html/iallocator.html">
            iallocator</a> (if set by the cluster). The iallocator being used
            will be displayed after the checkbox.
        </p>
    </div>
    <div id="help-disk_template">
        <p>
            Disk layout template for the virtual machine on the cluster node. 
            The possible choices are:
        </p>
        <ul>
            <li>
                <b>plain</b> - Disk devices will be logical volumes <i>
                (e.g.  LVM)</i>
            </li>
            <li>
                <b>drbd</b> - Disk devices will be 
                <a href="http://www.drbd.org/">DRBD</a> (version 8.x) on 
                top of LVM volumes
            </li>
            <li>
                <b>file</b> - Disk devices will be regular files
                <i>(e.g.  qcow2)</i>
            </li>
            <li>
                <b>diskless</b> - This creates a virtual machine with no
                disks. Its useful for testing only (or other special
                cases).
            </li>
        </ul>
        <p>
            If drbd is selected, then a primary and secondary node will
            need to be chosen unless automatic allocation has been 
            selection. DRBD will allow the virtual machine to use live 
            migration and failover in case one of the nodes goes offline.
        </p>
    </div>
    <div id="help-pnode">
        <p>
            The primary node to use for the virtual machine (in case automatic
            allocation is not used).
        </p>
    </div>
    <div id="help-snode">
        <p>
            The secondary node to use for the virtual machine (in case
            automatic allocation is not used).
        </p>
        <p>
            This is only required when using the drbd disk template.
        </p>
    </div>
    <div id="help-os">
        <p>
            Operating system to install on the virtual machine. Your
            choices are limited to the images configured on the cluster.
        </p>
        <p>
            The text in <b>bold</b> signifies the Ganeti Operating
            System Type which may be called debootstrap, image, or some
            other type. The text that is selectable is the operating system
            (or os-type variant) that the cluster has access to.
        </p>
    </div>
    <div id="help-os_name">
        <p>
            This option changes the name of the Virtual Machine's Operating
            System. It does <b>not</b> reinstall the Operating System.
        </p>
    </div>
    <div id="help-vcpus">
        <p>Number of virtual cpus to allocate to this virtual machine.<p>
        <p><b><i>This will be deducted from the owner's quota.</i></b></p>
    </div>
    <div id="help-memory">
        <p>
            Amount of ram to allocate to this virtual machine. If no units
            are given, megabytes is assumed.
        </p>
        <p><b><i>This will be deducted from the owner's quota.</i></b></p>
    </div>
    <div id="help-disk_size">
        <p>
            Size of the system disk to allocate to this virtual machine. If
            no units are given, megabytes is assumed.
        </p>
        <p><b><i>This will be deducted from the owner's quota.</i></b></p>
    </div>
    <div id="help-disk_type">
        <p>
            This parameter determines the way the disks are presented to
            the virtual machine. The possible options are:
        </p>
        <ul>
            <li><b>paravirtual</b> - (HVM &amp; KVM)</li>
            <li>
                <b>ioemu</b> - (default for HVM &amp; KVM) (HVM &amp; KVM)
            </li>
            <li><b>ide</b> - (HVM &amp; KVM)</li>
            <li><b>scsi</b> - (KVM)</li>
            <li><b>sd</b> - (KVM)</li>
            <li><b>mtd</b> - (KVM)</li>
            <li><b>pflash</b> - (KVM)</li>
        </ul>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-nic_mode">
        <p>
            This option specifies how the virtual machine connects to the
            network. More information on this can be found in the <a
            href="http://docs.ganeti.org/ganeti/current/html/install.html#configuring-the-network">
            Ganeti tutorial documentation</a>.
        </p>
        <p>When in doubt, choose <b>bridged</b>.</p>
        <ul>
            <li>
                <b>bridged</b> - The virtual machine's network interface
                will be attached to a software bridge running on the node.
            </li>
            <li><b>routed</b> - The virtual machine's network interface
                will be routed
            </li>
        </ul>
    </div>
    <div id="help-nic_link">
        <p>
            In <b>bridged</b> mode, it specifies the bridge interface to
            attach this NIC to on the node <i>(e.g. br0)</i>.
        </p>
        <p>
            In <b>routed</b> mode it's intended to differentiate between 
            different routing tables/virtual machine groups (but the 
            meaning is dependant on the network script, see 
            <a href="http://docs.ganeti.org/ganeti/current/man/gnt-cluster.html">
            gnt-cluster(8)</a> for more details.
        </p>
    </div>
    <div id="help-nic_type">
        <p>
            This parameter determines the way the network cards are 
            presented to the virtual machine. The possible options are:
        </p>
        <ul>
            <li><b>rtl8139</b> - (default for Xen HVM) (HVM &amp; KVM)</li>
            <li><b>ne2k_isa</b> - (HVM &amp; KVM)</li>
            <li><b>ne2k_pci</b> - (HVM &amp; KVM)</li>
            <li><b>i82551</b> - (KVM)</li>
            <li><b>i82557b</b> - (KVM)</li>
            <li><b>i82559er</b> - (KVM)</li>
            <li><b>pcnet</b> - (KVM)</li>
            <li><b>e1000</b> - (KVM)</li>
            <li><b>paravirtual</b> - (default for KVM) (KVM &amp; HVM)</li>
        </ul>
        <p>Valid for the Xen PVM and KVM hypervisors.</p>
    </div>
    <div id="help-nic_mac">
        <p>
            This option specifies a MAC address to be associated with the NIC.
        </p>
        <p>
            Acceptable values are a valid MAC address or 'generate' to
            generate a new unique MAC address.
        </p>
    </div>      
    <div id="help-kernel_path">
        <p>
            This option specifies the path (on the node) to the kernel to 
            boot the virtual machine with. Xen PVM instances always require
            this, while for KVM if this option is empty, it will cause the
            machine to load the kernel from its disks.
        </p>
        <p>Valid for the Xen PVM and KVM hypervisors.</p>
    </div>
    <div id="help-root_path">
        <p>
            This option specifies the name of the root device. This is 
            always needed for Xen PVM, while for KVM it is only used if the
            Kernel Path option is also specified.
        </p>
        <p>Valid for the Xen PVM and KVM hypervisors.</p>
    </div>
    <div id="help-serial_console">
        <p>
            This boolean option specifies whether to emulate a serial
            console for the instance.
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-boot_order">
        <p>Value denoting boot order for the virtual machine.</p>
        <ul>
            <li><b>Hard Disk</b> - boot from the first disk device</li>
            <li>
                <b>CD-ROM</b> - boot from the cdrom (requires CD Image path
                being set)
            </li>
        </ul>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-cdrom_image_path">
        <p>
           The path to a CDROM image on the node to attach to the virtual
           machine.
        </p>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-acpi">
        <p>
            A boolean option that specifies if the hypervisor should enable 
            ACPI support for this instance. By default, ACPI is disabled.
        </p>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-disk_cache">
        <p> 
            The disk cache mode. Note that there are special 
            considerations for the cache mode depending on
            version of KVM used and disk type (always raw file 
            under Ganeti), please refer to the KVM documentation
            for more details. The possible options are:
            The possible options are:
        </p>
        <ul>
            <li><b>None</b> - For direct I/O</li>
            <li> <b>Default</b> - No cache option is sent to KVM.</li>
            <li>
                <b>Writethrough</b> - To use the host cache but 
                 report completion to the guest only when the
                 host has committed the changes to disk
            </li>
            <li>
                <b>Writeback</b>
                 - To use the host cache and report completion as soon
                 as the data is in the host cache
            </li>
        </ul>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-initrd_path">
        <p>
            This option specifies the path (on the node) to the initrd 
            to boot the instance with. Xen PVM instances can use this 
            always, while for KVM if this option is only used if the 
            Kernel Path option is also specified. 
        </p>
        <p>
            You can pass here either an absolute filename (the path to 
            the initrd) if you want to use an initrd, or use the 
            format no_initrd_path for no initrd.
        </p>
        <p>Valid for the Xen PVM and KVM hypervisors.</p>
    </div>
    <div id="help-kernel_args">
        <p>
            This options specifies extra arguments to the kernel that will 
            be loaded. device. This is always used for Xen PVM, while for
            KVM it is only used if the kernel_path option is also specified.
        </p>
        <p>
            The default setting for this value is simply "ro", which mounts
            the root disk (initially) in read-only one. For example, setting
            this to single will cause the instance to start in single-user mode.
        </p>
        <p>Valid for the Xen PVM and KVM hypervisors.</p>
    </div>
    <div id="help-mem_path">
        <p>
            This option passes the -mem-path argument to kvm with the path 
            (on the node) to the mount point of the hugetlbfs file system,
            along with the -mem-prealloc argument too. 
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-migration_downtime">
        <p>
            The maximum amount of time (in ms) a KVM instance is allowed to be 
            frozen during a live migration, in order to copy dirty memory pages. 
        </p>
        <p>
            Default value is 30ms, but you may need to increase this value for 
            busy instances.
        </p>
        <p>
            <b>Note</b> : This option is only effective with KVM versions >= 87
            and QEMU-KVM versions >= 0.11.0.
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-security_model">
        <p>
            The security model for kvm. The possible options are:
        </p>
        <ul>
            <li><b>None</b> - The default option. Nothing is done and
            instances are run as the Ganeti daemon user (normally root).</li>
            <li><b>User</b> - KVM will drop privileges and become the 
            user specified by the Security Domain parameter.</li> 
            <li><b>Pool</b> - A global cluster pool of users will be used,
            making sure no two instances share the same user on the 
            same node. (<b>Note</b> : This mode is not implemented yet).</li> 
        </ul>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-security_domain">
        <p>
            Specifies the username to run the instance under. It must 
            be a valid username existing on the host.
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-usb_mouse">
        <p>
            This option specifies the usb mouse type to be used. It can be
            "mouse" or "tablet". When using VNC it's recommended to set
            it to "tablet".
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-use_chroot">
        <p>
           This boolean option determines wether to run the KVM instance in 
           a chroot directory.
        </p>
        <p>
           If it is set to "true", an empty directory is created before
           starting the instance and its path is passed via the -chroot flag
           to kvm. The directory is removed when the instance is stopped.
        </p>
        <p>It is set to "false" by default.</p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-use_localtime">
        <p>
            A boolean option that specifies if the instance should be started 
            with its clock set to the localtime of the machine (when true) or 
            to the UTC (When false). The default is false, which is useful 
            for Linux/Unix machines; for Windows OSes, it is recommended to 
            enable this parameter.
        </p>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-vnc_bind_address">
        <p>
            Specifies the address that the VNC listener for this instance should
            bind to. Valid values are IPv4 addresses. Use the address 0.0.0.0 
            to bind to all available interfaces (this is the default) or specify 
            the address of one of the interfaces on the node to restrict listening
            to that interface.
        </p>
        <p>Valid for the Xen HVM and KVM hypervisors.</p>
    </div>
    <div id="help-vnc_tls">
        <p>
            A boolean option that dictates if the VNC connection is secured with TLS.
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
    <div id="help-vnc_x509_path">
        <p>
            If VNC TLS is enabled, this option specifies the path to the x509
            certificate.
        </p>
        <p>Valid for the KVM hypervisor.</p>
    </div>
</div>

