{% extends "base.html" %}

{% block title %}Create a new Virtual Machine{% endblock %}

{% block head %}
    <script src="{{MEDIA_URL}}/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            snode = $("#id_snode");
            disk_template = $("#id_disk_template");
            curSelection = $("#id_snode option:selected").index();
            if( disk_template.val() != 'drdb') {
                snode.parent().hide();
            }
            disk_template.change(function() {
                if( disk_template.val() == 'drdb') {
                    snode.parent().show();
                } else {
                    snode.parent().hide();
                }
            })
            snode.change(function() {
                if( snode.attr('readonly') ) {
                    $("#id_snode option:selected").removeAttr('selected');
                    $("#id_snode option").index(curSelection).attr('selected');
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
<div id="virtualmachineform">
    <fieldset>
        <legend> New Virtual Machine </legend>
        <form method="post">
            {{ form.as_p }}
            <input class="submit" type="submit" value="Create">
        </form>
    </fieldset>
</div>
{% endblock %}