{% extends "menu_base.html" %}
{% load webmgr_tags %}

{% block title %}Delete Virtual Machine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/delete.css"/>
{% endblock %}

{% block content %}
<div id="confirm">
    <div class="message">
        Are you sure you want to delete this virtual machine?  This action
        can not be undone.  The virtual machine will be removed from the cluster.
        <ul><li>{{vm.hostname}}</li></ul>
    </div>
    <form method="post" action="{% url instance-delete vm.cluster.slug vm.hostname %}">
        <input id="delete" type="submit" value="Delete" />
    </form>
</div>

{% endblock %}
