{% extends "base.html" %}

{% block title %} Virtual Machine {{ instance.hostname }}{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#actions a").click(function(){
            $.post(this.href, action_response);
            return false;
        });
    });
    
    function action_response(result) {
        html = $("<li>"+result[1]+"</li>");
        if (result[0] == 0) {
            html.addClass('error');
        }
        $("#messages").append(html);
        // set timer to fadeout and remove the message
        setTimeout(function(){
            html.fadeOut(1000,
                function(){html.remove()});
            }, 2000);
    }
</script>
{% endblock %}

{% block content %}
<ul id="messages">
    {%if instance.error%}<li class="error">Error in Ganeti API:<p>{{instance.error}}</p></li>{%endif%}
</ul>

<div class="ticket" id="ticket_{{ object.id }}">
    <h2>{{ instance.hostname }}</h2>
    <h2>Information</h2>
    <ul>
        {% with instance.info as info %}
        <li>Status: {{ info.oper_state|yesno:"Running,Stopped" }}</li>
        <li>Autostart: {{ info.admin_state }}</li>
        <li>UUID: {{ info.uuid }}</li>
        <li>Primary node: {{ info.pnode }}</li>
        <li>Failover node: {{ info.snodes|join:", " }}</li>
        <li>Created on: {{ instance.ctime|date }}</li>
        <li>Last modified: {{ instance.mtime|date }}</li>
        <li>NIC type: {{ info.hvparams.nic_type }}</li>
        <li>Disk type: {{ info.hvparams.disk_type }}</li>
        {% endwith %}
    </ul>

    <h2>Actions</h2>
    <ul id="actions">
        {% ifequal instance.info.status "running" %}
        <li><a class="shutdown" href="{% url instance-shutdown cluster.slug instance.hostname %}">Shutdown</a></li>
        <li><a class="reboot" href="{% url instance-reboot cluster.slug instance.hostname %}">Reboot</a></li>
        <li><a class="reboot" href="{% url instance-vnc cluster.slug instance.hostname %}">Remote console (VNC)</a></li>
        {% else %}
        <li><a class="startup" href="{% url instance-startup cluster.slug instance.hostname %}">Start</a></li>
        {% endifequal %}
    </ul>
</div>

<div id="configuration">
<h2>Configuration</h2>
<form method="post" align="center">
<table>
{{ configform.as_table }}
</table>
<input type="Submit" value="Update" />
</form>
</div>

{% endblock %}
