{% extends "menu_base.html" %}
{% load webmgr_tags %}

{% block title %} Virtual Machine {{ instance.hostname }}{% endblock %}
{% block head %}
<link href="{{MEDIA_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style>
.ui-widget-header {background:none; border-width:0 0 1px 0; -moz-border-radius:0px;}
.ui-widget-content {border:0;}

.spinner_small {
    display:block;
    margin:10px auto 0 auto;
    width:16px;
}

#log {
    display:block;
    border-top:1px solid #124612;
    margin:0;
    padding: 10px;
    overflow:auto;
}

#log li {
    border:0;
    color:black;
    font: 12px monospace;
    margin:0;
    padding:1px 0;
    text-align:left;
}

#messages li {
    background-color:#eee;
    border-width:1px;
    padding:0;
}

#messages h3 {
    background: url({{MEDIA_URL}}/images/ajax-loader_arrows.gif) 5px 5px no-repeat;
    background-color:#C2E192;
    padding: 5px 0 5px 25px;
    margin:0;
    text-align:left;
}
</style>
<script src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
<script src="{{MEDIA_URL}}/js/jquery.progressbar.js"></script>
<script type="text/javascript">
    var actions_enabled = true;

    $(document).ready(function() {
        $('#tabs').tabs({ 
            spinner: false,
            cache: true,
            select: function(event, ui) {
                        window.location.hash = ui.tab.hash;
                    }
		});
        {% if admin %}
            {% ifnotequal instance.info.status "running" %}
                vnc_tab_index = 2;
                $('#tabs').tabs("option", "disabled", [vnc_tab_index])
            {% endifnotequal %}
        {% endif %}
        //$("#actions a").not('.delete, .reinstall').click(function() {return false;});
        $("#actions a.power").live("click", function() {
            if (actions_enabled) {
                if ((this.className == 'button shutdown' || this.className == 'button reboot')
                    && !(confirm('Are you sure you want to ' + this.title + '?'))) {
                    return false;
                }
                $.post(this.href, action_response);
            }
            return false;
        });
        
        {% if instance.last_job_id %}
            {# there is a running job, display it and poll for status #}
            get_job_status({{instance.last_job.job_id}});
            poll_job_status({{instance.last_job.job_id}}, job_complete);
        {% else %}
            {% if instance.error %}
                display_ganeti_error("{{instance.error}}");
            {% endif %}
        {% endif %}
    });

    function job_complete() {
        window.location.reload();
    }

    function action_response(result) {
        if (result.ops == undefined) {
            display_ganeti_error(result[1]);
            actions_enabled = true;
            $('#actions a').removeClass('disabled');
        } else {
            poll_job_status(result['id'], job_complete)
            display_job(result);
        }
    }

    /* XXX: temporarily (maybe permanently) using this for reporting
    when a quota limit has been encountered on startup */
    function display_ganeti_error(msg) {
        $("#messages").empty();
        html = "<li class='error'>Error:<p>" + msg + "</p></li>";
        $("#messages").append(html);
    }
</script>

{% include "job_status.html" %}

{% endblock %}

{% block content %}
<h1>{{ instance.hostname }}</h1>
<ul id="messages"></ul>
<div id="tabs">
    <ul id="tabs">
        <li><a href="#overview"><span>Overview</span></a></li>
        {% comment %}
        <li><a href="#configuration"><span>Configuration</span></a></li>
        {% endcomment %}
        {% if admin %}
            <li><a title="users" href="{% url vm-users cluster.slug instance.hostname %}"><span>Users</span></a></li>
        {%endif%}
	{% if admin or power %}
	    <li><a title="console" href="{% url instance-vnc cluster.slug instance.hostname %}"><span>Console</span></a></li>
        {% endif %}
    </ul>
    <div id="overview" class="tab_content">
        <ul id="actions">
            {% with cluster.username as username %}
                {% if remove and username %}
                    <li><a class="button delete" href="{% url instance-delete cluster.slug instance.hostname %}">Delete</a></li>
                    <li><a class="button reinstall" href="{% url instance-reinstall cluster.slug instance.hostname %}">Reinstall</a></li>
                {% endif %}
                {% if admin or power and username %}
                    {% ifequal instance.info.status "running" %}
                    <li><a class="button shutdown power" title="shutdown" href="{% url instance-shutdown cluster.slug instance.hostname %}">Shutdown</a></li>
                    <li><a class="button reboot power" title="reboot" href="{% url instance-reboot cluster.slug instance.hostname %}">Reboot</a></li>
                    {% else %}
                    <li><a class="button startup power" href="{% url instance-startup cluster.slug instance.hostname %}">Start</a></li>
                    {% endifequal %}
                {% endif %}
            {% endwith %}
        </ul>

        <table class="overview">
            {% with instance.info as info %}
            <tr><td>Owner</td><td>{{ instance.owner.name }}</td></tr>
            <tr><td>Status</td><td>{{ info.oper_state|yesno:"Running,Stopped" }}</td></tr>
            <tr><td>Autostart</td><td>{{ info.admin_state }}</td></tr>
            <tr><td>UUID</td><td>{{ info.uuid }}</td></tr>
            <tr><td>Primary node</td><td>{{ info.pnode }}</td></tr>
            <tr><td>Failover node</td><td>{{ info.snodes|join:", " }}</td></tr>
            <tr><td>Created on</td><td>{{ instance.ctime|date }}</td></tr>
            <tr><td>Last modified</td><td>{{ instance.mtime|date }}</td></tr>
            <tr><td>NIC type</td><td>{{ info.hvparams.nic_type }}</td></tr>
            <tr><td>Disk type</td><td>{{ info.hvparams.disk_type }}</td></tr>
            {% endwith %}
        </table>
    </div>
    {% comment %}
    <div id="configuration">
        {% if configform %}
        <form method="post" align="center">
        <table>
        {{ configform.as_table }}
        </table>
        <input type="Submit" value="Update" />
        </form>
        {% else %}
        <div style="width:35%;margin:0 auto;">
            <div class="icon_error"></div>
            <p>Configuration Form could not be loaded.</p>
        </div>
        {% endif %}
    </div>
    {% endcomment %}
</div>
{% endblock %}
