{% extends "menu_base.html" %}

{% block head %}
<style>
#vm_summary h2 { margin-top:20px; }
#vm_summary table, #vm_summary h2, #vm_summary tbody { margin:auto;width:80%; }
</style>
{% endblock %}
{% block content %}
<h1>Confirm Changes</h1>
<div id="vm_summary">
    <table>
        <h2>{{ instance.hostname }}</h2>
        <tbody>
        {% for item in instance_diff %}
            <tr><td>{{ item }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% with instance.info.status as status %}
{% ifequal status "running" %}
<div class="info">
    <p><b style="color:red;">Warning:</b> In order for your changes to the instance to take effect, you must 
    first reboot the instance. Either click reboot, or click save and reboot at a later time.</p>
    <br />
    <p><b>Note:</b> Rebooting must be done through Ganeti or Ganeti Web Manager. Your changes will
    not take effect if you reboot from within the instance.</p>
</div>
{% endifequal %}
<form method="post">
    <input type="submit" name="edit" value="Edit">
{% ifequal status "running" %}
    <input type="submit" name="reboot" value="Reboot">
{% endifequal %}
    <input type="submit" name="save" value="Save">
    <input type="submit" name="cancel" value="Cancel">
</form>
{% endwith %}
{% endblock %}
