{% load webmgr_tags %}

<table id="vmlist" class="sorted">
<thead>
    <tr>
      <th class="status"></th>
      <th>Name</th>
      {% if not cluster %}
      <th>Cluster</th>
      {% endif %}
      <th>Node</th>
      <th>OS</th>
      <th>RAM</th>
      <th>Disk Space</th>
      <th>vCPUs</th>
    </tr>
</thead>
<tbody id="vms">
    {% for vm in vms.object_list %}
    {% if not vm.deleted %}
    <tr>
        <td class="status">
            {% if vm.error %}
                <div class="icon_error" title="Ganeti API Error: {{vm.error}}, last status was {{ vm.status|render_instance_status }}"></div>
            {% else %}
                {% if vm.pending_delete %}
                    <div class="icon_deleting" title="delete in progress"></div>
                {% else %}
                    {% if info.admin_state %}
                        {% if info.oper_state %}
                            <div class="icon_running" title="running"></div>
                        {% else %}
                            <div class="icon_error" title="{{ vm.status|render_instance_status }}"></div>
                        {% endif %}
                    {% else %}
                        {% if info.oper_state %}
                            <div class="icon_error" title="{{ vm.status|render_instance_status }}"></div>
                        {% else %}
                            <div class="icon_stopped" title="stopped"></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
        
        <td class="name">
            <a href="{% url instance-detail vm.cluster.slug vm.hostname %}">
                {{ vm.hostname }}
            </a>
        </td>
        {% if not cluster %}
            <td>{{ vm.cluster|abbreviate_fqdn }}</td>
        {% endif %}
        <td>{{ vm.info.pnode|abbreviate_fqdn }}</td>
        <td>{{ vm.operating_system|render_os }}</td>
        <td>{{ vm.ram|render_storage }}</td>
        <td>{{ vm.disk_size|render_storage }}</td>
        <td>{{ vm.virtual_cpus }}</td>
    {% endif %}
    {% empty %}
        <tr class="none"><td colspan="100%">No Virtual Machines</td></tr>
    {% endfor %}
</tbody>
</table>

<ul class="pagination">
    {% if vms.has_previous %}
    <li class="previous">
        <a href="{% url virtualmachine-table %}?page={{ vms.previous_page_number }}">&laquo; Previous</a>
    </li>
    {% endif %}

    {% for page in vms.paginator.page_range %}
    <li class="{%if page == vms.number%}active{%endif%} page">{{ page }}</li>
    {% endfor %}

    {% if vms.has_next %}
    <li class="next">
        <a href="{% url virtualmachine-table %}?page={{ vms.next_page_number }}">Next &raquo;</a>
    </li>
    {% endif %}
</ul>