<script type="text/javascript">
    var VNC_native_ws, Websock_native, WEB_SOCKET_SWF_LOCATION;
    var WEB_SOCKET_DEBUG = false;
    
    /* If no builtin websockets then load web_socket.js */
    if (window.WebSocket) {
        VNC_native_ws = true;
        Websock_native = true;
    } else {
        var extra = "", start, end;
        start = "<script src='";
        end = "'><\/script>";
        
        VNC_native_ws = false;
        Websock_native = false;
        WEB_SOCKET_SWF_LOCATION = "{{SITE_ROOT}}/novnc/web-socket-js/WebSocketMain.swf";
        extra += start + "{{SITE_ROOT}}/novnc/web-socket-js/swfobject.js" + end;
        extra += start + "{{SITE_ROOT}}/novnc/web-socket-js/FABridge.js" + end;
        extra += start + "{{SITE_ROOT}}/novnc/web-socket-js/web_socket.js" + end;
        $(document).append(extra);
        
        // XXX initialize the websocket - normally web_socket.js does this, but
        // since we're loading this with ajax the document.load event is never
        // fired
        
        WebSocket.__initialize();
        console.log(window.WebSocket);
    }
</script>

<script type="text/javascript" src="{{SITE_ROOT}}/novnc/util.js"></script>
<script type="text/javascript" src="{{SITE_ROOT}}/novnc/base64.js"></script>
<script type="text/javascript" src="{{SITE_ROOT}}/novnc/websock.js"></script>
<script type="text/javascript">
    // XXX we have to reset this to false because websock.js inits this again
    Websock_native = VNC_native_ws;
</script>
<script type="text/javascript" src="{{SITE_ROOT}}/novnc/des.js"></script>
<script type="text/javascript" src="{{SITE_ROOT}}/novnc/canvas.js"></script>
<script type="text/javascript" src="{{SITE_ROOT}}/novnc/rfb.js"></script>

<style>
    #VNC_status_bar.VNC_status_bar {background-color:#ddd; margin-top:5px;}
</style>
<link rel="stylesheet" href="{{SITE_ROOT}}/novnc/plain.css" title="plain">


<script type="text/javascript">

    // XXX we have to reset this to false because websock.js inits this again
    Websock_native = VNC_native_ws;

    var rfb;
    var host, port, password; // VNC proxy connection settings
    var connected = false;
    
    $('#connect').click(function() {
        $this = $(this);
        if($this.hasClass('enabled')) {
            rfb.disconnect();
            connected = false;
        } else {
            connected = true;
            start();
        }
        return false;
    });
    
    $('#encrypt').click(function(){
        $this = $(this)
        if (!connected) {
            if ($this.hasClass('enabled')){
                $('#encrypt_check').attr('checked',false);
                $this.removeClass('enabled')
            } else {
                $('#encrypt_check').attr('checked',true);
                $this.addClass('enabled')
            }
        }
        return false;
    });
    
    $('#ctrlaltdelete')
        .click(function(){
            if (!$(this).hasClass('disabled')) {
                rfb.sendCtrlAltDel();
            }
            return false;
        });
    
    // users exits the page by following link or closing the tab or sth else
    $(window).bind("unload", function(){
        if (rfb != undefined) {
            rfb.disconnect();
        }
    });
    

    function show_errors() {
        if (host===false || port===false || password===false) {
            connected = false;
            $("#VNC_status_bar")
                .attr("class", "VNC_status_error")
                .html("Probably your proxy is not running or some errors occured. Try again.");
            return false;
        }
        return true;
    }
    
    function updateState(rfb, state, oldstate, msg) {
        switch (state) {
            case 'failed':
            case 'fatal':
                klass = "VNC_status_error";
                break;
            case 'normal':
                klass = "VNC_status_normal";
                break;
            case 'disconnected':
            case 'loaded':
                klass = "VNC_status_normal";
                break;
            case 'password':
                msg = 'Password required';
                klass = "VNC_status_warn";
                break;
            default:
                klass = "VNC_status_warn";
        }
        
        if (state == "normal") {
            connected = true;
            $('#connect')
                .addClass('enabled')
                .html('Disconnect');
            $('#ctrlaltdelete').removeClass('disabled')
        } else {
            connected = false;
            $('#connect')
                .removeClass('enabled')
                .html('Connect');
            $('#ctrlaltdelete').addClass('disabled')
        }
        
        if (msg != undefined) {
            $('#VNC_status_bar')
                .attr("class", klass)
                .html(msg);
        }
    }
    
    function start() {
        $("#vnc_errors").hide();
        url = "{% url instance-vnc-proxy cluster_slug instance.hostname %}";
        $.ajax({
            "async": false,
            "url": url,
            "dataType": "json",
            "success": function(data, s, x){
                host = data[0];
                port = data[1];
                password = data[2];
            }
        });
        if (!show_errors()) return false;
        
        rfb = new RFB({
                            // jQuery doesn't work with that, need to stick
                            // to pure DOM
            'target':       document.getElementById('VNC_canvas'),
            'encrypt':      $('#encrypt_check').attr('checked') ? true : false,
            'true_color':   true,
            'local_cursor': true,
            'shared':       true,
            'updateState':  updateState,
        });
        rfb.connect(host, port, password);
        return false;
    }
</script>

<ul id="actions" class="horizontal">
    <li><a id="encrypt" href="#" class="button encrypt">Encrypt</a></li>
    <li><a id="connect" href="#" class="button connect">Connect</a></li>
    {% ifequal instance.info.status "running" %}
    <li><a class="button shutdown power" href="{% url instance-shutdown cluster_slug instance.hostname %}">Shutdown</a></li>
    <li><a class="button reboot power" href="{% url instance-reboot cluster_slug instance.hostname %}">Reboot</a></li>
    {% else %}
    <li><a class="button startup power" href="{% url instance-startup cluster_slug instance.hostname %}">Start</a></li>
    {% endifequal %}
    <li><a id="ctrlaltdelete" href="#" class="button reboot disabled" title="Send Ctrl-Alt-Delete">Ctrl-Alt-Delete</a></li>
</ul>

<input type="checkbox" id="encrypt_check" />

<div id="VNC_screen">
    <div id="VNC_status_bar" class="VNC_status_bar" style="margin-top: 5px;">
        noVNC client
    </div>
    <canvas id="VNC_canvas" width="812px" height="400px">
        Canvas is not supported in your browser. Please use new versions
        of Chrome or Firefox.
    </canvas>
</div>