{% block head %}

<style>
    td.actions div.delete {
        float:none;
    }
    #content td.actions a, #content td.actions {
        padding:5px 0 0 0;
    }
    #vm-wrapper {
        margin-top: 40px;
    }
</style>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    function ajax_get_update(url) {
        $.get(url, function(results) {
           $('#vm-wrapper').html(results);
        }, "html");
    }

    $(document).ready( function() {
        $("#vmlist").tablesorter();
        
        $('.pagination .previous').live('click', function(e) {
            e.preventDefault();
            url = ($('.pagination .previous a')[0].href);
            ajax_get_update(url);
        });
        
        $('.pagination .next').live('click', function(e) {
            e.preventDefault();
            url = ($('.pagination .next a')[0].href);
            ajax_get_update(url);
        });
        
        $('.pagination .page:not(.active)').live('click', function() {
            page = $(this).html();
            url = '{% url virtualmachine-table %}?page=' + page;
            ajax_get_update(url);
        });
        
        $('.spinner')
            .hide()
            .ajaxStart(function() {
                $(this).show();
                $('#vmlist tr td').hide();
                $('.pagination').hide();
            })
            .ajaxStop(function() {
                $(this).hide()
            });
    });

</script>
{% endblock %}

{% if cluster %}
    <a class="button add" href="{% url instance-create cluster.slug %}">Add Virtual Machine</a>
{% else %}
    {% if can_create %}
    <a class="button add" href="{% url instance-create %}">Add Virtual Machine</a>
    {% endif %}
{% endif %}



<div id="vm-wrapper">
{% include "virtual_machine/inner_table.html" %}
</div>
<div class="spinner" ><br/>Loading...<br/><br/><img src='{{ MEDIA_URL }}/images/ajax-loader.gif'></div>