{% load webmgr_tags %}

{% block head %}

<style>
    td.actions div.delete {
        float:none;
    }
    #content td.actions a, #content td.actions {
        padding:5px 0 0 0;
    }
</style>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#vmlist").tablesorter();
    });
</script>
{% endblock %}

{% if cluster %}
    <a class="button add" href="{% url instance-create cluster.slug %}">Add Virtual Machine</a>
{% else %}
    {% if can_create %}
    <a class="button add" href="{% url instance-create %}">Add Virtual Machine</a>
    {% endif %}
{% endif %}
<table id="vmlist" class="sorted">
<thead>
    <tr>
      <th class="status"></th>
      <th>Name</th>
      {% if not cluster %}
      <th>Cluster</th>
      {% endif %}
      <th>Node</th>
      <th>OS</th>
      <th>RAM</th>
      <th>Disk Space</th>
      <th>vCPUs</th>
    </tr>
</thead>
<tbody id="vms">
    {% for vm in vms %}
    {% with vm.info as info %}
    <tr>
        
        <td class="status">
            {% if vm.error %}
                <div class="icon_error" title="Ganeti API Error: {{vm.error}}, last status was {{ info.status|render_instance_status }}"></div>
            {% else %}
                {% if info.admin_state %}
                    {% if info.oper_state %}
                        <div class="icon_running" title="running"></div>
                    {% else %}
                        <div class="icon_error" title="{{ info.status|render_instance_status }}"></div>
                    {% endif %}
                {% else %}
                    {% if info.oper_state %}
                        <div class="icon_error" title="{{ info.status|render_instance_status }}"></div>
                    {% else %}
                        <div class="icon_stopped" title="stopped"></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
        
        <td class="name">
            <a href="{% url instance-detail vm.cluster.slug vm.hostname %}">
                {{ vm.hostname }}
            </a>
        </td>
        {% if not cluster %}
            <td>{{ vm.cluster|abbreviate_fqdn }}</td>
        {% endif %}
        <td>{{ info.pnode|abbreviate_fqdn }}</td>
        <td>{{ vm.operating_system|render_os }}</td>
        <td>{{ vm.ram|render_storage }}</td>
        <td>{{ vm.disk_size|render_storage }}</td>
        <td>{{ vm.virtual_cpus }}</td>
    {% endwith %}
    {% empty %}
        <tr class="none"><td colspan="100%">No Virtual Machines</td></tr>
    {% endfor %}
</tbody>
</table>

{% if ganeti_errors or job_errors %}
<div class="errors_list">
    <h2>Errors and failures</h2>

    {% if ganeti_errors %}
    <h3>Ganeti errors</h3>
    <table class="sorted">
        <thead>
            <tr>
                <th>Virtual Machine</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">pbnan1.gwm.osuosl.org</a></td>
                <td><a href="">Authorization failed</a></td>
                <td>01/05/11 16:21</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if job_errors %}
    <h3>Jobs failures</h3>
    <table class="sorted">
        <thead>
            <tr>
                <th>Related object</th>
                <th>Info</th>
                <th>Finish time</th>
            </tr>
        </thead>
        <tbody>
            {% for jerror in job_errors %}
            <tr>
                <td><a href="{% url instance-detail jerror.obj.cluster.slug jerror.obj.hostname %}">{{ jerror.obj }}</a></td>
                <td>{{ jerror.info.ops.0.OP_ID|format_job_op }}</td>
                <td>{{ jerror.finished }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
<script type="text/javascript">
    $(".errors_list table").tablesorter();
</script>
{% endif %}
