{% block head %}

<style>
    td.actions div.delete {
        float:none;
    }
    #content td.actions a, #content td.actions {
        padding:5px 0 0 0;
    }
    #vm-wrapper {
        margin-top: 40px;
    }
</style>

<script type="text/javascript">

    function ajaxTable(url, tableID){
       
        var FETCH_ARGS = {page:1};
        var url = url;
        var tableID = tableID;

        // get this table's ID
        this.getID = function(){
            return '#' + tableID;
        }

        // paginator stuffs
        this.pageUp = function(){
            console.log("Incrementing page...");
            FETCH_ARGS["page"] = FETCH_ARGS["page"] + 1;
        }

        this.pageDown = function(){
            console.log("Decrementing page...");
            FETCH_ARGS["page"] = FETCH_ARGS["page"] - 1;
        }
        this.setPage = function(page){
            console.log("Updating page number to "+page);
            FETCH_ARGS["page"] = page;
        }

        // -----
        // init 
        // -----
        this.init = function(){
            
            console.log("Initializing table '"+this.getID()+"'...");

            var THIS_TABLE = this;
            var TABLE_ID = this.getID();

            // -----------
            // Pagination 
            // -----------
            // paginator previous
            function paginator_prev(e){
                console.log("Previous paginator button clicked.");
                e.preventDefault();
                THIS_TABLE.pageDown();
                THIS_TABLE.update();
            }
            $(TABLE_ID + ' .pagination .previous').live('click', 
                    paginator_prev);


            // paginator next
            function paginator_next(e){
                console.log("Next paginator button clicked.");
                e.preventDefault();
                THIS_TABLE.pageUp();
                THIS_TABLE.update();
            }
            $(TABLE_ID + ' .pagination .next').live('click', paginator_next);

            // paginator jump-to
            function paginator_jumpTo(){
                console.log("Jump-to paginator button clicked.");
                THIS_TABLE.setPage(parseInt($(this).html()));
                THIS_TABLE.update();
            }
            $(TABLE_ID + ' .pagination .page:not(.active)').live('click', 
                    paginator_jumpTo);

            // -----------------------
            // AJAX load spinny thing
            // -----------------------
            var spinner = $(TABLE_ID + ' .spinner');
            function loadModeOn(){
                console.log("Load mode on. Showing spinner; hiding table.");
                spinner.show();
                $(TABLE_ID + ' #vmlist tr td').hide();
                $(TABLE_ID + ' #vm-wrapper .pagination').hide();
            }
            function loadModeOff(){
                console.log("Load mode off. Hiding spinner.");
                spinner.hide();
            }
            spinner.hide()
                .ajaxStart(loadModeOn)
                .ajaxStop(loadModeOff);
        }

        // ------------
        // ajax update
        // ------------
        this.update = function(){
            /* 
            Update the table using AJAX depending on current page and sorting
            order.
            */
            console.log("Updating table '"+this.getID()+"'...");

            // grab this table's ID to update
            var tableID = this.getID();

            // get call success function must be defined here instead of inside
            // a $.get() lamda function so it can access tableID
            function callSuccess(results){
                $results = $(results);
                tbody = $results.children("tbody");
                pagination = $results[2];
                $(tableID + ' #vm-wrapper .pagination')
                        .replaceWith(pagination);
                $(tableID + ' #vmlist tbody').replaceWith(tbody);
            }
            
            // make the actual get request, call callSuccess on return success
            $.get(url, FETCH_ARGS, callSuccess, "html");
        }
    }

    // -------
    // "main"
    // -------
    $(function(){

        // --[doc ready init]-------------------------------------------------
        {% if cluster %}
            var url = "{% url cluster-virtualmachine-table cluster.slug %}";
        {% else %}
            var url = "{% url virtualmachine-table %}";
        {% endif %}

        var table = new ajaxTable(url, '{{tableID}}');
        table.init();
        table.update();

        /*
        // --[table sorting]--------------------------------------------------
        $(tableID + ' #vmlist th').live("click", function(){
            $this = $(this)
            field = $this.html();
            order_by = $this.attr("order_by");
            if(field == $this.data('current_order_by') 
                    && $this.hasClass("ascending")){
                $this.addClass("descending")
                        .removeClass("ascending");
                order_by = "-" + order_by;
            } else {
                $(tableID + ' #vmlist th').removeClass('ascending')
                    .removeClass('descending');
                $this.addClass("ascending");
            }
            FETCH_ARGS["page"] = 1;
            FETCH_ARGS["order_by"] = order_by;
            $this.data('current_order_by', field);
            table.update();
        });
        */
    });

</script>
{% endblock %}

{% if cluster %}
    <a class="button add" href="{% url instance-create cluster.slug %}">
        Add Virtual Machine
    </a>
{% else %}
    {% if can_create %}
    <a class="button add" href="{% url instance-create %}">
        Add Virtual Machine
    </a>
    {% endif %}
{% endif %}

<div id='{{tableID}}'>
    <div id="vm-wrapper">
        {% include "virtual_machine/inner_table.html" %}
    </div>

    <div class='spinner'>
        <br/>
        Loading...
        <br/>
        <br/>
        <img src='{{ MEDIA_URL }}/images/ajax-loader.gif'>
    </div>
</div>

