    <script type="text/javascript">
        var host, port, password;
        function start() {
            // Ajax stuff here
            url1 = "{% url instance-vnc-proxy cluster.slug instance.hostname %}";
            $.ajax({
                "async": false,
                "url": url1,
                "dataType": "json",
                "success": function(data, s, x){
                    host = "localhost";
                    port = data[0];
                    password = data[1];
                }
            });
            url2 = "{% url instance-vnc-applet cluster.slug instance.hostname %}" + "/" + host + "/" + port + "/" + password + "/";
            $("#applet").load( url2 );

            return false;
        }
    </script>

    <input type="button" id="connect" value="Connect" onclick="start()" />
    <div id="applet">&nbsp;</div>
