{% extends "menu_base.html" %}

{% block head %}
<script
{% endblock %}

{% block content %}
<h1><a class="breadcrumb" href="{% url cluster-detail node.cluster.slug %}"></a>
: {{node.hostname}}</h1>

<div id="tabs">
    <ul>
        <li><a href="#detail"><span>Detail</span></a></li>
        <li><a title="Virtual Machines that this is a primary node for"
               href="{% url node-primary node.pk %}"><span>Primary</span></a></li>
        <li><a title="Virtual Machines that this is a secondary node for"
               href="{% url node-secondary node.pk %}"><span>Secondary</span></a></li>
    </ul>
    <div id="detail">
        <ul id="actions">
            <li><a class="button" title="modifies the role of this node" href="{% url node-role %}">Change Role</a></li>
            <li><a class="button" title="migrates all primary instances of this node" href="{% url node-migrate %}">Migrate</a></li>
            <li><a class="button" title="migrates all secondary instances off this node" href="{% url node-evacuate %}">Evacuate</a></li>
        </ul>
        <table id="nodes" class="sorted">
            <tr><th>status</th><td class="status">
                {% if node.info.offline %}
                    <div class="icon_stopped" title="Offline"></div>
                {% else %}
                    <div class="icon_running" title="Online"></div>
                {% endif %}
                </td>
            </tr>
            <tr><th>Primary IP</th><td>{{node.info.pip}}</td></tr>
            <tr><th>Secondary IP</th><td>{{node.info.sip}}</td></tr>
            <tr><th>Role</th><td>{{node.info.role|node_role}}</td></tr>
            <tr><th>Master Candidate</th><td>{{node.info.master_candidate}}</td></tr>
            <tr><th>Drained</th><td>{{node.info.drained}}</td></tr>
            <tr><th>Ram</th><td>{% node_memory node %}</td></tr>
            <tr><th>Disk</th><td>{% node_disk node %}</td>
            <tr>
                <th>Virtual Machines</th>
                <td>{{ node.info.pinst_cnt }} / {{ node.info.sinst_cnt }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}