{% load webmgr_tags %}

<table id="nodes" class="sorted">
<thead>
    <tr>
        <th class="status"></th>
        <th>Name</th>
        <th>Free Memory (GB)</th>
        <th>Free Disk (GB)</th>
        <th>Instances (P/S)</th>
    </tr>
</thead>
<tbody>
    {% for node in nodes %}
        <tr>
            <td class="status">
            {% if node.info.offline %}
                <div class="icon_stopped" title="Offline"></div>
            {% else %}
                <div class="icon_running" title="Online"></div>
            {% endif %}
            </td>
            <td><a href="{% url node-detail cluster.slug node.hostname %}">{{ node.hostname|abbreviate_fqdn }}</a></td>
            <td class="ram">{% node_memory node %}</td>
            <td class="disk">{% node_disk node %}</td>
            <td>{{ node.info.pinst_cnt }} / {{ node.info.sinst_cnt }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>

<script type="text/javascript">
    $("#nodes .ram, #nodes .disk").progressBar(PBAR_CONF);
    $("#nodes").tablesorter();
</script>
