{% extends "base.html" %}
{% load i18n %}
{% load shots %}

{% block basehead %}
<!-- Include CSS -->
<link rel="stylesheet" type="text/css" href={{MEDIA_URL}}/css/content.css/>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/content.css"/>

<!-- Make main column line up with background when not showing main menu -->
    {% if not user.is_authenticated %}
        <style type="text/css"> #content-wrapper{padding-left:140px} </style>
    {% endif %}

<!-- Include Javascript -->
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.qtip.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/ajax_csrf_protection.js"></script>
{% endblock %}

{% block inner_header %}
    {% ifnotequal LANGUAGES|length 1 %}|{% endifnotequal %}
    {% if user.is_authenticated %}
        {% trans "You are logged in as" %} <a href="{% url profile %}">
        {{user.username}}</a>,
        <a href="{% url logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url login %}">{% trans "Login" %}</a>
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if user.is_authenticated %}
        <div id="mainmenu" class="menu">
            <ul>
                <li><a href="{% url index %}">{% trans "Overview" %}</a></li>
                {% shot main_menu %}{% endshot %}
                {% if user.is_superuser %}
                <li><h3>{% trans "Admin" %}</h3></li>
                    {% shot admin_menu %}{% endshot %}
                    {% if user.is_superuser %}
                        <li><a href="{% url user-list %}">{% trans "Users" %}</a></li>
                    {% endif %}
                    {% if user.is_superuser or group_admin %}
                        <li><a href="{% url group-list %}">{% trans "Groups" %}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

    {% endif %}
{% endblock %}
