{% load i18n %}
{% if is_paginated %}
<ul class="paginator">
    {% if page_obj.has_previous %}
    <li class="previous">
        <a href="{% url virtualmachine-list %}?page={{ page_obj.previous_page_number }}&{{ sort_query }}">&laquo; {% trans "Previous" %}</a>
    </li>
    {% endif %}

    {% for page in paginator.page_range %}
    <li class="{% if page == page_obj.number%}active {% endif %}page">
        <a href="{% url virtualmachine-list %}?page={{ page }}&{{ sort_query }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="next">
        <a href="{% url virtualmachine-list %}?page={{ page_obj.next_page_number }}&{{ sort_query }}">{% trans "Next" %} &raquo;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
