{% extends "menu_base.html" %}
{% block title %}Cluster {{ cluster.id }}: {{ cluster.hostname|safe }}{% endblock %}
{% load i18n %}
{% load webmgr_tags %}
{% block head %}
    <link href="{{STATIC_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.ajax.delete.js"></script>
    <script src="{{STATIC_URL}}/js/jquery-ui.min.js"></script>
    <script src="{{STATIC_URL}}/js/jquery.progressbar.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/ajax_tab_handler.js"></script>

    <script type="text/javascript">
        var job_poller;
        var PBAR_CONF = {
            steps: 0,
            showText: true,
            textFormat: 'fraction',
            boxImage: '/static/images/progressbar/progressbar.gif',
            barImage: {
                0: '{{STATIC_URL}}/images/progressbar/progressbg_green.gif',
                30: '{{STATIC_URL}}/images/progressbar/progressbg_yellow.gif',
                50: '{{STATIC_URL}}/images/progressbar/progressbg_orange.gif',
                75:  '{{STATIC_URL}}/images/progressbar/progressbg_red.gif'
            }
        };

        $(document).ready(function() {
            $('#tabs').tabs({
                spinner: false,
                select: function(event, ui) {
                    window.location.hash = ui.tab.hash;
                    var loadingMsg = '{% trans "Loading" %}';
                    var tabID = ui.panel;
                    if (tabID.id != "overview") {
                        $(tabID).html("<div class='spinner'><br/>"+loadingMsg+"...<br/><br/><img src='{{STATIC_URL}}/images/ajax-loader.gif'></div>");
                    }
                },
                ajaxOptions: {
                    error: function(xhr, status, index, anchor) {
                        $(anchor.hash).html("{% trans "Couldn't load this tab. We'll try to fix this as soon as possible" %}.");
                    }
                },
                load: function(event, ui) {
                    init_ajax_tab_handler(event, ui, ".pagination a, .sortable a");
                }
            });

            $("#resources .ram, #resources .disk").progressBar(PBAR_CONF);

            $("a.delete").live("click", function(){
                if (confirm("{% trans 'Are you sure you want to delete this cluster' %}?")) {

                    $("a.delete").text("{% trans 'Deleting' %}...");
                    $("a.delete").removeAttr("href");
                    $("a.delete").addClass("deleting");
                    $("a.delete").removeClass("delete");

                    var href = "{% url cluster-edit cluster.slug %}";
                    $.delete_(href, function(){
                        window.location = "{% url cluster-list %}";
                    });
                }
                return false;
            });

            $("#actions a.redistribute-config").live("click", function(event) {
                event.preventDefault();
                if(!$(this).hasClass('disabled')) {
                    if(!confirm('Are you sure you want to '
                           +'redistribute master node config to '
                           +'all other nodes?')) {
                        return false;
                    }
                    $.post(this.href, action_response);
                }
            });

            var job_status_url = "{% url cluster-job-status cluster.id %}";
            var cluster_detail_url = "{% url cluster-detail cluster.slug %}";
            job_poller = new JobPoller();
            job_poller.init(job_status_url, cluster_detail_url, job_complete);
            {% if cluster.last_job_id %}
                job_poller.get_jobs();
            {% else %}
                job_poller.poll();
                {% if cluster.error %}
                    display_ganeti_error("{{cluster.error}}");
                {% endif %}
            {% endif %}
        });

        function job_complete() {
            window.location.reload();
        }

        function action_response(result) {
            if(result.ops == undefined) {
                display_ganeti_error(result['__all__'][0]);
                $('#actions a').removeClass('disabled');
            } else {
                job_poller.render_job(result);
                job_poller.poll(job_poller.FAST);
            }
        }

        /* XXX: temporarily (maybe permanently) using this for reporting
         when a quota limit has been encountered on startup */
        function display_ganeti_error(msg) {
            $("#messages").empty();
            var html = "<li class='error'>Error:<p>" + msg + "</p></li>";
            $("#messages").append(html);
        }
    </script>

<script type="text/javascript" src="{{STATIC_URL}}/js/job_status.js"></script>
{% endblock %}

{% block content %}
<h1 class="breadcrumb"><a href="{% url cluster-list %}">{% trans "Cluster" %}</a> : {{ cluster.hostname }}
    {% if not cluster.username %}
        {% trans " - READ ONLY" %}
   {% endif %}

</h1>

<ul id="messages">
    {%if cluster.error%}<li class="error">{% trans "Error in Ganeti API" %}:<p>{{cluster.error}}</p></li>{%endif%}
</ul>
<div id="tabs">
    <ul>
        <li><a href="#overview"><span>{% trans "Overview" %}</span></a></li>
        {% if admin %}
            <li><a title="virtual machines" href="{% url cluster-vm-list cluster.slug %}"><span>{% trans "Virtual Machines" %}</span></a></li>
            <li><a title="nodes" href="{% url cluster-nodes cluster.slug %}"><span>{% trans "Nodes" %}</span></a></li>
            <li><a title="user" href="{% url cluster-users cluster.slug %}"><span>{% trans "Users" %}</span></a></li>
            <li><a title="log" href="{% url cluster-object_log cluster.slug %}"><span>{% trans "Log" %}</span></a></li>
            <li><a title="jobs" href="{% url cluster-job-list cluster.slug %}"><span>{% trans "Jobs" %}</span></a></li>
        {% elif create_vm %}
            <li><a title="jobs" href="{% url cluster-job-list cluster.slug %}"><span>{% trans "Jobs" %}</span></a></li>
        {%endif%}
    </ul>
    <div id="overview" class="tab_content">
        <ul id="actions">
            {% if admin %}
                <li><a class="button edit" title="edit cluster" href="{% url cluster-edit cluster.slug %}">{% trans "Edit" %}</a></li>
                <li><a class="button delete" title="delete cluster" href="{% url cluster-edit cluster.slug %}">{% trans "Delete" %}</a></li>
                <li><a class="button refresh" title="refresh cluster" href="{% url cluster-refresh cluster.slug %}">{% trans "Refresh" %}</a></li>
				{% if instance.username %}
                	<li><a class="button redistribute-config" title="redistribute cluster config" href="{% url cluster-redistribute-config cluster.slug %}">{% trans "Redistribute Config" %}</a></li>
				{% endif %}
            {% endif %}
        </ul>
        <table class="overview horizontal">
            {% with cluster.info as info %}
            <tr><th>{% trans "Architecture" %}</th><td>{{ info.architecture.0 }}</td></tr>
            <tr><th>{% trans "Ganeti Version" %}</th><td>{{info.software_version}}</td></tr>
            <tr><th>{% trans "Default hypervisor" %}</th>
                <td>{{ info.default_hypervisor|hv }}</td>
            </tr>
            <tr><th>{% trans "Available hypervisors" %}</th>
                <td>{{ info.enabled_hypervisors|hvs|join:", " }}</td>
            </tr>
            <tr><th>{% trans "Master node" %}</th><td>
            {% if info.master %}
                <a href="{% url node-detail cluster.slug info.master %}">{{ info.master }}</a>
            {% else %}
                <em>{% trans "unknown" %}</em>
            </td></tr>
            {% endif %}
            <tr><th>{% trans "Created" %}</th><td>
            {% if cluster.ctime %}
                {{ cluster.ctime|date }}
            {% else %}
                <em>{% trans "unknown" %}</em>
            {% endif %}
            </td></tr>
            <tr><th>{% trans "Last modified" %}</th><td >{{ cluster.mtime|date }}</td></tr>
            <tr><th>{% trans "Virtual Machines" %}</th><td>{{ cluster.virtual_machines.count }}</td></tr>
            <tr><th>{% trans "Nodes" %}</th><td>{{ cluster.nodes.count }}</td></tr>
            {% endwith %}
        </table>

        <h3>{% trans "Resource Usage" %}</h3>
        <table id="resources" class="horizontal">
            <tr><th>{%trans "Ram Allocated "%}</th><td class="ram">{% cluster_memory cluster %}</td></tr>
            <tr><th>{% trans "Ram Used " %}</th><td class="ram">{% cluster_memory cluster 0 %}</td></tr>
            <tr><th>{% trans "Disk Allocated " %}</th><td class="disk">{% cluster_disk cluster %}</td></tr>
            <tr><th>{% trans "Disk Used " %}</th><td class="disk">{% cluster_disk cluster 0 %}</td></tr>
        </table>

        <h3>{% trans "Default Quota" %}</h3>
        <table class="horizontal">
        <tr><th>{% trans "Virtual CPUs" %}</th><td>{% if cluster.virtual_cpus %}{{ cluster.virtual_cpus }}{% else %}{% trans "unlimited" %}{% endif %}</td></tr>
            <tr><th>{% trans "Disk Space" %}</th><td>
                {% if cluster.disk %}
                    {{ cluster.disk|mult:"1048576"|filesizeformat }}
                {% else %}{% trans "unlimited" %}{% endif %}
                </td></tr>
            <tr><th>{% trans "Memory" %}</th><td>{% if cluster.ram %}{{ cluster.ram|mult:"1048576"|filesizeformat }}{% else %}{% trans "unlimited" %}{% endif %}</td></tr>
        </table>
    </div>
</div>
{% endblock %}

