{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}
{% if cluster %}
{% trans "Edit" %} {{ cluster.slug }}
{% else %}
{% trans "Add a new cluster" %}
{% endif %}
{% endblock %}

{% block head %}
    <style>
    #id_kernel_path {
        float:left;
    }
    span.icon, span.add {
        float:left;
        cursor:pointer;
    }
    .submit {
        margin-top:1em;
    }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".add").live("click", function(event) {
                event.preventDefault();
                $('.qtip').qtip('destroy');
                $(this).qtip({
                    content: {
                       url: $(this).attr('href'),
                       title: {text: $(this).siblings("label").html(), button:"close"}
                    },
                    position: {  corner:{target:'topMiddle', tooltip:'bottomLeft'}},
                    style: {
                        name: 'dark', 
                        border:{radius:5}, 
                        width:400, 
                        background:'#eeeeee'
                    },
                    show: {when:false, ready:true},
                    hide: {fixed: true, when:false},
                    api:{onShow:function(){
                        $(".ajax_form input[type!=hidden], .ajax_form select")
                            .first().focus();
                    }}
                });
                return false;
            });
        });
    </script>
{% endblock head %}


{% block content %}

<h1 class="breadcrumb"><a href="{% url cluster-list %}">{% trans "Cluster" %}</a> :
{% if cluster %}
    <a href="{% url cluster-detail cluster.slug %}">{{ cluster.hostname }}</a>
    : {% trans "Edit" %}
{% else %}{% trans "Add" %}{% endif %}</h1>


<form method="post">
    {% csrf_token %}
    <fieldset class="first_fieldset">
        {% if form.hostname.errors %}<p class="error">{{form.hostname.errors}}</p>{%endif%}
        <p><label for="id_hostname" class="required">{{form.hostname.label}}:</label> {{form.hostname}}</p>
        {% if cluster %}
        {% if form.slug.errors %}<p class="error">{{form.slug.errors}}</p>{%endif%}
        <p><label for="id_slug" class="required">{{form.slug.label}}:</label> {{form.slug}}</p>
        {% endif %}
        {% if form.port.errors %}<p class="error">{{form.port.errors}}</p>{%endif%}
        <p><label for="id_port" class="required">{{form.port.label}}:</label> {{form.port}}</p>
        {% if form.description.errors %}<p class="error">{{form.description.errors}}</p>{%endif%}
        <p><label for="id_description">{{form.description.label}}:</label> {{form.description}}</p>
        {% if form.username.errors %}<p class="error">{{form.username.errors}}</p>{%endif%}
        <p><label for="id_username">{{form.username.label}}:</label> {{form.username}}</p>
        {% if form.password.errors %}<p class="error">{{form.password.errors}}</p>{%endif%}
        <p><label for="id_password">{{form.password.label}}:</label> {{form.password}}</p>
    </fieldset>
    
    <fieldset>
        <legend>{% trans "Default Quota" %}</legend>
        {% if form.virtual_cpus.errors %}<p class="error">{{form.hostname.errors}}</p>{%endif%}
        <p><label for="id_virtual_cpus">{{form.virtual_cpus.label}}:</label> {{form.virtual_cpus}}</p>
        {% if form.disk.errors %}<p class="error">{{form.hostname.errors}}</p>{%endif%}
        <p><label for="id_disk">{{form.disk.label}}:</label> {{form.disk}}</p>
        {% if form.ram.errors %}<p class="error">{{form.hostname.errors}}</p>{%endif%}
        <p><label for="id_ram">{{form.ram.label}}:</label> {{form.ram}}</p>
    </fieldset>
    
    <fieldset>
        <legend>{% trans "Cluster Defaults" %}</legend>
        {% if form.kernel_path.errors %}<p class="error">{{form.kernel_path.errors}}</p>{%endif%}
        <p>
            <label for="id_kernel_path">{{form.kernel_path.label}}:</label> 
            {{form.kernel_path}}
            <span href="{% url choice-add cluster.slug form.kernel_path.html_name %}" class="icon add"></span>
        </p>
    </fieldset>

    {% if cluster %}
    <input class="submit" type="submit" value="{% trans 'Save' %}">
    {% else %}
    <input class="submit" type="submit" value="{% trans 'Add' %}">
    {% endif %}
</form>
{% endblock %}
