{% comment  %} Form for setting user quota within a Cluster {% endcomment %}
{% load i18n %}
<form id="quota_form" class="ajax_form" method="post" action="{%url cluster-quota cluster.slug%}">
    <ul id="errors"></ul>
    {{form.user}}
    <table>
        <tr><th scope="col">{{form.disk.label}}</th><th scope="col">{{form.disk}}</th></tr>
        <tr><td>{{form.ram.label}}</td><td>{{form.ram}}</td></tr>
        <tr><td>{{form.virtual_cpus.label}}</td><td>{{form.virtual_cpus}}</td></tr>
    </table>
    <input type="submit" class="submit" value="{% trans "Update" %}"/>
    <input type="button" class="delete" value="{% trans "Delete" %}"/>
</form>
