<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title> Ganeti Cluster Graphical Modelling</title>
  <meta name="description" content="Graphical Viusalization of a Ganeti Clusters via Ganeti Web Manager">
	<link rel="stylesheet" href="style/graph-visualisation.css" type="text/css" charset="utf-8">
</head>
<body>

<div id="arbor">
  <canvas id="grapharea" width="1200" height="600"></canvas>
</div>  

  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/arbor.js"></script>
  <script src="{{ STATIC_URL }}js/arbor-tween.js"></script>
  <script src="{{ STATIC_URL }}js/arbor-graphics.js"></script>

  <!-- This is the path to the Javascript file which defines the objects required for the Visual Modelling -->
  <script src="/graph.js?cluster=ganeti"></script>

  <!-- This is the script responsible for rendering the Graph taking help of arbor functions, jquery and webworkers -->
  <script src="{{ STATIC_URL }}js/render-graph.js"></script>
</body>
</html>
