{% extends "menu_base.html" %}
{% load i18n %}
{% load webmgr_tags %}
{% block title %}
    {% if template %}
        {% trans "Edit Template" %} {{ template }}
    {% else %}
        {% trans "Create a new Virtual Machine Template" %}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/virtual_machine_create.css"/>
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/help_tips.css"/>
    <!-- javascript includes -->
    <script src="{{MEDIA_URL}}/js/disableSingletonDropdown.js"></script>
    <script src="{{MEDIA_URL}}/js/createTemplate_formUpdater.js"></script>
    <script src="{{MEDIA_URL}}/js/helpTips.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /* run when document is fully loaded */
           
            // init the live-form updater
            var frmUpdater = new formUpdater(
                '{% url instance-create-cluster-options %}',
                '{% url instance-create-cluster-defaults %}'
            );
            frmUpdater.init();

            // init help tips
            initHelpTips('#virtualmachineform');
        });
    </script>
{% endblock %}


{% block content %}
<h1 class="breadcrumb">
    {% if from_vm %}
        <a href="{% url cluster-detail from_vm.cluster.slug %}">{{from_vm.cluster|abbreviate_fqdn}}</a> :
        <a href="{% url instance-detail from_vm.cluster.slug from_vm.hostname %}">{{from_vm}}</a>
    {% else %}
        <span>
            <a href="{% url template-list %}">{% trans "Template" %}</a>
        </span>    
    {% endif %}
    {% if template %}
       : <a href="{% url template-detail template.cluster.slug template %}">{{ template }}</a>
       : {% trans "Edit" %}
    {% else %}
        {% if from_vm %}
            : {% trans "Template" %}
        {% else %}
            : {% trans "Create" %}
        {% endif %}
    {% endif %}
</h1>
<div id="virtualmachineform">
    <form method="post" action="{{ action }}">{% csrf_token %}
        <fieldset class="first_fieldset">
            {% vmfield form.template_name %}
            {% vmfield form.description %}
            {% vmfield form.cluster %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Instance Options" %}</legend>
            {% vmfield form.start %}
            {% vmfield form.name_check %}
            {% vmfield form.disk_template %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Operating System" %}</legend>
            {% vmfield form.os %}
        </fieldset>
        <fieldset>
            <legend>{% trans "General Parameters" %}</legend>
            {% vmfield form.vcpus %}
            {% vmfield form.memory %}
            {% vmfield form.disk_type %}
            {% vmfield form.nic_type %}
        </fieldset>
        <fieldset id="disks">
            <h3>{% trans "Disks" %}<div class="icon add"></div></h3>
            {{ form.disk_count }}
            {% for index in form.disk_fields %}
                {% vmfield_disk form index %}
                {% if forloop.first %}
                    <div class="icon delete"></div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset id="nics">
            <h3>{% trans "Network Devices" %}<div class="icon add"></div></h3>
            {{ form.nic_count }}
            {% for index in form.nic_fields %}
                {% vmfield_nic form index %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Hypervisor Parameters" %}</legend>
            {% vmfield form.kernel_path %}
            {% vmfield form.root_path %}
            {% vmfield form.serial_console %}
            {% vmfield form.boot_order %}
            {% vmfield form.cdrom_image_path %}
            {% vmfield form.cdrom2_image_path %}
        </fieldset>
        <input class="submit" type="submit" value="{% trans "Save" %}">
    </form>
</div>

<div id="help">
    <h3></h3>
    <div></div>
</div>
<div id="help-contents">
    {% include "ganeti/helptips/vm.html" %}
    {% include "ganeti/helptips/vm_create.html" %}
</div>
{% endblock content %}

