{% extends "menu_base.html" %}
{% load i18n %}
{% load webmgr_tags %}

{% block title %}{% trans "Template" %}{% endblock title %}
{% block head %}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("a.delete").live("click", function(){
        if (confirm("{% trans 'Are you sure you want to delete this template' %}?")) {
            $("a.delete").text("{% trans 'Deleting' %}...");
            $("a.delete").removeAttr("href");
            $("a.delete").addClass("deleting");
            $("a.delete").removeClass("delete");

            var href = "{% url template-delete template.id %}";
            $.delete_(href, function(data){
                window.location = "{% url template-list %}";
            });
        }
        return false;
    });
});
</script>
{% endblock head %}
{% block content %}
<h1>
    <a class="breadcrumb" href="{% url template-list %}">{% trans "Template" %}</a>
     : {{template.template_name}}
</h1>
<ul id="actions">
    <li>
        <a class="button add" href="{% url instance-create-from-template template.id %}">
            {% trans "Create VM" %}
        </a>
    </li>
    <li>
        <a class="button edit" href="{% url template-edit template.id %}">
            {% trans "Edit" %}
        </a>
    </li>
    <li>
        <a class="button edit" href="{% url template-copy template.id %}">
            {% trans "Copy" %}
        </a>
    </li>
    <li>
        <a class="button delete" href="{% url template-delete template.id %}">
            {% trans "Delete" %}
        </a>
    </li>
</ul>

<table class="horizontal overview">
    <tr><th>{% trans "Description" %}</th><td>{{ template.description }}</td></tr>
    <tr>
        <th>{% trans "Operating System" %}</th>
        <td>{{ template.operating_system|render_os }}</td>
    </tr>
    <tr><th>{% trans "Autostart" %}</th><td>{{ template.start|checkmark }}</td></tr>
    <tr><th>{% trans "DNS Name Check" %}</th><td>{{ template.name_check|checkmark }}</td></tr>
</table>
<h3>Hardware</h3>
<table class="horizontal">
    <tr><th>{% trans "VCPUs" %}</th><td>{{ template.vcpus }}</td></tr>
    <tr><th>{% trans "Memory" %}</th><td>{{ template.memory }}</td></tr>
    <tr><th>{% trans "NIC type" %}</th><td>{{ template.nic_type }}</td></tr>
</table>

<h3>{% trans "Disks" %}</h3>
<table>
    <tr>
        <th>{% trans "Disk" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Size" %}</th>
    </tr>
    <tr>
        <td>{% trans "disk" %}/0</td>
        <td>{{ template.disk_type }}</td>
        <td>{{ template.disk_size }}</td>
    </tr>
</table>

<h3>{% trans "Network Devices" %}</h3>
<table>
    <tr>
        <th>{% trans "Nic" %}</th>
        <th>{% trans "Mac" %}</th>
        <th>{% trans "IP" %}</th>
        <th>{% trans "Mode" %}</th>
        <th>{% trans "Link" %}</th>
    </tr>
    <tr>
        <td>{% trans "nic" %}/0</td>
        <td>{{ template.nic_mac }}</td>
        <td></td>
        <td>{{ template.nic_mode }}</td>
        <td>{{ template.nic_type }}</td>
    </tr>
</table>

<h3>Hypervisor</h3>
<table class="horizontal">
    <tr><th>{% trans "Boot Order" %}</th><td>{{ template.boot_order }}</td></tr>
    <tr>
        <th>{% trans "CDROM Image Path" %}</th>
        <td>{{ template.cdrom_image_path }}</td>
    </tr>
    <tr>
        <th>{% trans "Kernel Path" %}</th><td>{{ template.kernel_path }}</td>
    </tr>
    <tr><th>{% trans "Root Path" %}</th><td>{{ template.root_path }}</td></tr>
    <tr>
        <th>{% trans "Serial Console" %}</th>
        <td>{{ template.serial_console|checkmark }}</td>
    </tr>
</table>
{% endblock content %}

