{% extends "base.html" %}
{% block title %} User Group: {{ group.name }}{% endblock %}

{% block head %}
<style>
    #users {width:100%;}
    #users .permissions {cursor:pointer;}
</style>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Add user button
        $('#add_user').click(function(){
            $('.qtip').qtip('destroy');
            $(this).qtip({
                content: {
                   url: '{{SITE_ROOT}}/user_group/{{group.id}}/user/add/',
                   title: {text:'Add User', button:'close'},
                },
                position: {  corner:{target:'center', tooltip:'center'}},
                style: {name: 'blue', border:{radius:5}},
                show: {when:false, ready:true},
                hide: {fixed: true, when:false}
            });
        });
        
        // submit button
        $(".ajax_form .submit").live("click", function(){
            $("#errors").empty();
            $(this).parent('.ajax_form').ajaxSubmit({success: update});
        });
        
        // Delete user button
        $('#users .delete').live("click", function() {
            id = this.parentNode.parentNode.id.substring(5);
            $.post('/user_group/{{group.id}}/user/remove/', {'user':id},
                function(code){
                    if(code==1) {$('#user_'+id).remove();}
                }, "json");
        });
        
        // Update Permission Button
        $(".permissions").live("click", function() {
            id = this.parentNode.id.substring(5);
            $('.qtip').qtip('destroy');
            $(this).qtip({
                content: {
                   url: "{{SITE_ROOT}}/user_group/{{group.id}}/user/?user="+id,
                   title: {text:'Permissions: '+id, button:'close'},
                },
                position: {corner:{ target:"topMiddle", tooltip:"bottomMiddle"}},
                style: {name: 'blue', border:{radius:5}, tip: 'bottomMiddle'},
                show: {when:false, ready:true},
                hide: {fixed: true, when:false}
            });
        });
    });
    
    function update(responseText, statusText, xhr, $form) {
        if (xhr.getResponseHeader('Content-Type') == 'application/json') {
            // parse errors
            for (key in responseText) {
                $("#errors").append("<li>"+ responseText[key] +"</li>")
            }
        } else {
            // successful permissions change.  replace the user row with the
            // newly rendered html
            $('.qtip').qtip('hide');
            html = $(responseText);
            id = html.attr('id')
            $row = $('#users #' + id);
            if ($row.length == 1) {
                $row.replaceWith(html)
            } else {
                $("#users").append(html);
            }
        }
    }
</script>
{% endblock %}

{% block content %}

<h2>{{group.name}}</h2>
<h2>Users<h2>
<div id="add_user" class="add">Add User</div>
<table id="users">
    <tr>
        <th>Name</th>
        <th>Permissions</th>
    </tr>
    {% for user in group.users.all %}
        {% include "user_group/user_row.html" %}
    {% endfor %}
</table>

{% endblock %}
