{% load webmgr_tags %}
{% load i18n %}
<table class="used_resources">
    <thead>
        <tr>
            <th>{% trans "Cluster" %}</th>
            <th>{% trans "Your VMs" %}</th>
            <th>{% trans "Disk" %}</th>
            <th>{% trans "RAM" %}</th>
            <th>{% trans "Virtual CPUs" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for cluster, res in resources.items %}
        <tr>
            <td>{{ cluster|abbreviate_fqdn }}</td>
            <td title="Running / total">{{ res.running }} / {{ res.total }}</td>

            {% if not res.set.disk %}
                <td>{{ res.used.disk|render_storage }}</td>
            {% else %}
                {% if res.used.disk > res.set.disk %}
                <td>
                    <div class="icon_error"></div>
                    {% trans "Exceeded by" %} {% diff_render_storage res.used.disk res.set.disk %}
                </td>
                {% else %}
                <td class="disk">{{ res.used.disk }} / {{ res.set.disk }}</td>
                {% endif %}
            {% endif %}

            {% if not res.set.ram %}
                <td>{{ res.used.ram|render_storage }}</td>
            {% else %}
                {% if res.used.ram > res.set.ram %}
                <td>
                    <div class="icon_error"></div>
                    {% trans "Exceeded by" %} {% diff_render_storage res.used.ram res.set.ram %}
                </td>
                {% else %}
                <td class="ram">{{ res.used.ram }} / {{ res.set.ram }}</td>
                {% endif %}
            {% endif %}

            {% if not res.set.virtual_cpus %}
                <td>{{ res.used.virtual_cpus }}</td>
            {% else %}
                {% if res.used.virtual_cpus > res.set.virtual_cpus %}
                <td>
                    <div class="icon_error"></div>
                    {% trans "Exceeded by" %} {% diff res.used.virtual_cpus res.set.virtual_cpus %}
                </td>
                {% else %}
                <td class="vcpus">{{ res.used.virtual_cpus }} / {{ res.set.virtual_cpus }}</td>
                {% endif %}
            {% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="100%" class="none">{% trans "You do not own any virtual machines" %}</td></tr>
        {% endfor %}
    </tbody>
</table>

