<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Ganeti Cluster Visualization" />
<script src="{{ STATIC_URL }}js/cytoscape-lib/jquery.js"></script>
<meta charset=utf-8 />
<title>Ganeti Cluster Mapping</title>
  <script src="{{ STATIC_URL }}js/cytoscape-lib/cytoscape.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/graph.css" />
</head>
<body>
  <input type="text" id="vertexInput" name="vertex" onkeypress="vertexSearch(event)""></input>
  <hr/>
  <div id="cy"></div>
  <script src="{{ STATIC_URL }}/js/utility-functions.js"></script>

  <script>
    //TODO: Try to swtich to an aysnchronus solution.

    $.ajaxSetup({
        async: false
    });

    $.getJSON("/ganetiviz/vms/{{ cluster_hostname }}",function( json ) {
      vms_json = json
      console.log( "JSON Data: " + json);
    });

    $.getJSON("/ganetiviz/nodes/{{ cluster_hostname }}",function( json ) {
      gnodes_json = json
      console.log( "JSON Data: " + json);
    });

    $.ajaxSetup({
        async: true
    });
  </script>

  <script src="{{ STATIC_URL }}/js/graph.js"></script>
</body>
</html>
