<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Ganeti Cluster Visualization" />
<script src="{{ STATIC_URL }}/js/cytoscape-lib/jquery.js"></script>
<meta charset=utf-8 />
<title>Ganeti Cluster Mapping</title>
  <script src="{{ STATIC_URL }}/js/cytoscape-lib/cytoscape.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/graph.css" />
</head>
<body>
<div>
    <input type="button" value="Refresh Cluster" style="float:right" onClick="window.location.href='/ganetiviz/refresh/{{ cluster_hostname }}'">
    <div style="float:left"> <b>Press 'h' for help..</b> </div>
</div>

  <div id="cy"></div>
  <input id="instancelookup-div" placeholder="Filter instances by name">
  <script src="{{ STATIC_URL }}/js/utility-functions.js"></script>

  <script>
    //TODO: Try to swtich to an aysnchronus solution.

    $.ajaxSetup({
        async: false
    });

    $.getJSON("/ganetiviz/vms/{{ cluster_hostname }}",function( json ) {
      vms_json = json
    });

    $.getJSON("/ganetiviz/nodes/{{ cluster_hostname }}",function( json ) {
      gnodes_json = json
    });

    $.ajaxSetup({
        async: true
    });
  </script>

  <script src="{{ STATIC_URL }}/js/graph-abstract-modelling.js"></script>
  <script src="{{ STATIC_URL }}/js/graph-rendering-interactivity.js"></script>
</body>
</html>
