{% load i18n %}

{% if view_cluster %}
    <li>
        <a href="{% url cluster-list %}">
            {% trans "Clusters" %}
        </a>
    </li>
{% endif %}
<li>
    <a href="{% url virtualmachine-list %}">
        {% trans "Virtual Machines" %}
    </a>
</li>
<li>
    <a href="{% url template-list %}">
        {% trans "Templates" %}
    </a>
</li>
{% if user.is_superuser or cluster_admin or create_vm %}
    <li>
        <a href="{% url instance-create %}">
            {% trans "Create VM" %}
        </a>
    </li>
{% endif %}
<li>
    <a href="{% url cluster-errors %}">
        {% trans "Error Log" %}
    </a>
</li>
<li>
    <a href="{% url metrics-general %}">
        {% trans "Metrics" %}
    </a>
</li>
