{% block head %}
{% load i18n %}
{% load include_strip %}

{{ wizard.form.media }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/vm_wizard/base.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/help_tips.css"/>

<script type='text/javascript'>
  $(document).ready(function() {
    // Inputs which have a help tip.
    var $help_items = $('input, select', '#wizard');
    /* Binds the event to our inputs,
    passing the focused element to the handler. */
    $help_items.live('focus, click', this, getHelpTips);

    function getHelpTips(event) {
      // Store the main help container for reuse.
      var $help_container = $('#help');
      // The name of the input corresponds to the help tip's help attribute.
      var help_name = $(this).attr('name');
      var $tip = $help_container.find('div[help="'+help_name+'"]');

      // Hide the previous help tips.
      $help_container.find('div[help]').hide();
      // Make sure the help container isn't hidden
      $help_container.show();
      // Show the tip.
      $tip.show();
    }

    // Attach a keydown listener to the form inputs
    // and when ENTER (magic number 13) is fired, click
    // either 'Next' or 'Create VM.'
    $("input").keydown(function(e) {
        if (e.which == 13) {
            $("input[type=submit]").click();
        }
    });
  });
</script>

{% endblock %}

<form action="" method="POST">
    {% csrf_token %}
    <table id='wizard'>
      {{ wizard.management_form }}
      {{ wizard.form.non_field_errors }}

      {% for hidden in wizard.forms.invisible_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in wizard.form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>{{ field.errors }} {{ field }}</td>
      </tr>
      {% endfor %}
      <tr >
        <td></td>
        <td id="step_controls">
          {% if wizard.steps.prev %}
              <button class="select" name="wizard_goto_step" type="submit"
                  value="{{ wizard.steps.first }}">
                  {% trans "Start Over" %}
              </button>
              <button class="select" name="wizard_goto_step" type="submit"
                  value="{{ wizard.steps.prev }}">
                  {% trans "Previous" %}
              </button>
           {% endif %}
          {% if wizard.steps.next %}
              <input class="select" type="submit"
                  value="{% trans "Next"%} "/>
          {% else %}
              <input class="select" type="submit"
                  value="{% trans "Create" %} {% include_strip "ganeti/forms/create_choice.html" with choices=summary.cluster_form.choices vm="VM" %}" />
          {% endif %}
        </td>
      </tr>
   </table>

</form>

<div id="help">
{% for field in wizard.form %}
  {% if field.help_text != '' %}
    <div help='{{ field.html_name }}' class='help_tip'>
      <h3>{{ field.label }}</h3>
      <div>{{ field.help_text|safe }}</div>
    </div>
  {% endif %}
{% endfor %}
</div>
