{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %} Virtual Machine {{ instance.hostname }}{% endblock %}

{% block head %}

    <script type="text/javascript">
        $(document).ready(function() {
            {# process job, check for already completed job #}
            {% ifequal job.status "success" %}
                job_complete();
            {% else %}
                {% ifequal job.status "error" %}
                    job_error();
                {% endifequal %}
                get_job_status("{% url cluster-detail cluster.slug %}",
                    '{{job.job_id}}', job_complete, job_error);
                poll_job_status("{% url cluster-detail cluster.slug %}",
                    '{{job.job_id}}', job_complete, job_error);
            {% endifequal %}
        });

        function job_complete() {
            window.location.reload();
        }

        function job_error() {
            $("#vm_edit").show();
        }
    </script>
{% endblock %}

{% block content %}
    <h1>
        {% if cluster_admin %}
        <a class="breadcrumb" href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
        {% else %}
        <span class="breadcrumb">{{cluster.hostname|abbreviate_fqdn}}</span>
        {% endif %}
        : <span class="breadcrumb">{{ instance.hostname }}</span>
        : deploying
    </h1>

    {% include "job_status.html" %}

    <ul id="messages"></ul>

    <div id="vm_edit" style="display:none;">
        <ul>
            <li></li><a class="button edit" href="{% url instance-create-recover cluster.slug instance.hostname %}">{% trans "Edit" %}</a></li>
            <li></li><a class="button delete" href="{% url instance-delete cluster.slug instance.hostname %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>



{% endblock %}
