{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block title %}Delete In Progress{% endblock %}

{% block head %}
    <style>
        #success {display:none;}
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            job_id = '{{instance.last_job.job_id}}';
            if (job_id == '') {
                {# job was finished before we loaded the page #}
                job_complete();
            } else {
                get_job_status(job_id, job_complete);
                poll_job_status(job_id, job_complete);
            }
        });
        
        function job_complete() {
            $('#messages').hide()
            $('#success').show()
        }
    </script>
{% endblock %}

{% block content %}
    <h1>
    {% if cluster_admin %}
    <a class="breadcrumb" href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span class="breadcrumb">{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <span class="breadcrumb">{{ instance.hostname }}</span>
    : {% trans "deleting" %}
    </h1>

    {% include "job_status.html" %}
    <ul id="messages"></ul>
    
    <div id="success">{% trans "Deleted" %}.</div>
{% endblock %}