{% extends "menu_base.html" %}
{% load webmgr_tags %}

{% block content %}
<h1>Edit {{ instance.hostname }}</h1>
<fieldset>
    <form id="vmeditform" method="post">
        <fieldset>
            <legend>General Parameters</legend>
            {% vmfield form.vcpus %}
            {% vmfield form.memory %}
            {% vmfield form.disk_type %}
            {% vmfield form.nic_link %}
            {% vmfield form.nic_type %}
            {% vmfield form.nic_mac %}
        </fieldset>
        <fieldset>
            <legend>Operating System Parameters</legend>
            {% vmfield form.os_name %}
        </fieldset>
        <fieldset>
            <legend>Hypervisor Parameters</legend>
            {% vmfield form.boot_order %}
            {% vmfield form.cdrom_image_path %}
            {% vmfield form.acpi %}
            {% vmfield form.use_localtime %}
            {% vmfield form.vnc_bind_address %}
        </fieldset>
        <input class="submit" type="submit" value="Continue" />
    </form>
</fieldset>
{% endblock %}
