{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" type="text/css"
            href="{{MEDIA_URL}}/css/virtual_machine_create.css"/>
    <script src="{{MEDIA_URL}}/js/modifyVM_formUpdater.js"></script>
    <script src="{{MEDIA_URL}}/js/helpTips.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var formUpdate = new modifyFormUpdater();
            formUpdate.init();
            initHelpTips("#vmeditform");
        });
    </script>
{% endblock %}

{% block content %}
<h1>
    {% if cluster_admin %}
    <a class="breadcrumb" href="{% url cluster-detail cluster.slug %}#virtual_machines">{{cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span class="breadcrumb">{{cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <a class="breadcrumb" href="{% url instance-detail cluster.slug instance.hostname %}">{{ instance.hostname }}</a>
    : {% trans "Edit" %}
</h1>

<div id="vmeditform">
    <form method="post">
        <fieldset class="first_fieldset">
            <legend>{% trans "General Parameters" %}</legend>
            {% vmfield form.vcpus %}
            {% vmfield form.memory %}
            {% vmfield form.disk_type %}
            {% vmfield form.nic_link %}
            {% vmfield form.nic_type %}
            {% vmfield form.nic_mac %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Operating System Parameters" %}</legend>
            {% vmfield form.os %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Hypervisor Parameters" %}</legend>
            {% vmfield form.kernel_path %}
            {% vmfield form.root_path %}
            {% vmfield form.serial_console %}
            {% vmfield form.boot_order %}
            {% vmfield form.cdrom_image_path %}
            {% vmfield form.acpi %}
            {% vmfield form.disk_cache %}
            {% vmfield form.initrd_path %}
            {% vmfield form.kernel_args %}
            {% vmfield form.kvm_flag %}
            {% vmfield form.mem_path %}
            {% vmfield form.migration_downtime %}
            {% vmfield form.security_model %}
            {% vmfield form.security_domain %}
            {% vmfield form.usb_mouse %}
            {% vmfield form.use_chroot %}
            {% vmfield form.use_localtime %}
            {% vmfield form.vnc_bind_address %}
            {% vmfield form.vnc_tls %}
            {% vmfield form.vnc_x509_path %}
            {% vmfield form.vnc_x509_verify %}
        </fieldset>
        <input class="submit" type="submit" value="{% trans "Continue" %}" />
    </form>
</div>
<div id="help">
    <h3></h3>
    <div></div>
</div>
<div id="help-contents">
    {% include "helptips/vm.html" %}
    {% include "helptips/vm_edit.html" %}
    {% include "helptips/vm_edit_kvm.html" %}
    {% include "helptips/vm_edit_hvm.html" %}
    {% include "helptips/vm_edit_pvm.html" %}
</div>
{% endblock %}
