{% extends "menu_base.html" %}
{% load i18n %}
{% block title %}{% trans "Import VMs" %}{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.multi_checkbox_selector.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#missing_form").select_all();
            $("#orphanlist").tablesorter({
                    headers: {
                            0: { sorter: 'false' },
                    }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1 class="breadcrumb"><span>{% trans "Admin" %}</span> : {% trans "Import Virtual Machines" %}</h1>
    
    <p class="info">
        {% trans "If you manually create virtual machines they will exist in ganeti, and must be manually imported" %}.
    </p>
    
    <form id="missing_form" action="{% url import-missing_db %}" method="post">
        {{form.errors}}
        {{form.owner.label}} {{form.owner}}
        <input type="submit" value="{% trans "Import Selected" %}" {%if not vms%}disabled{%endif%}>
        <table id="orphanlist" class="sorted">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Cluster" %}</th>
                <th>{% trans "Hostname" %}</th>
            </tr>
        </thead>
        <tbody id="orphans">
                {% for vm in vms %}
                    <tr><td><input type="checkbox" name="virtual_machines" value="{{vm.0}}" /></td><td>{{vm.1}}</td><td>{{vm.2}}</td></tr>
                {% empty %}
                    <tr><td colspan="3">{% trans "All virtual machines are synchronized" %}.</td></tr>
                {% endfor %}
        </tbody>
        </table>
    </form>
{% endblock %}
