{% extends "no_menu_base.html" %}

{% block head %}

<!-- ===========================================================================
   500 error page.

   The background behind this page is that the manatee is the unofficial mascot
   of the OSU Open Source Lab.  Matt Inman, author of the OatMeal has kindly
   allowed us to us his artwork dipicting something going horribly wrong for a
   pair of manatees.  Feel free to edit this page, but please do not remove this
   message unless you remove the artwork.
============================================================================ -->

<style>
    h1{margin-top:10px;}
    
    #content {
        text-align:center;
        padding-bottom:30px;
    }
    
    img {margin:30px; border:0;}
    
    .options {
        background:white;
        border: 1px solid #dddddd;
        margin: 0 auto 0 auto;
        padding: 25px;
        text-align:left;
        width:37em;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }
    
    .options li {
        list-style:square;
        margin:3px 0 0 10px;
    }
    
    
</style>
{% endblock %}

{% block header_title %}{%endblock%}

{% block content %}
    <h1>Something Has Gone Terribly Wrong</h1>
    <a href="http://theoatmeal.com/comics/polar_bear">
       <img src="{{MEDIA_URL}}/images/polar_bear_destroys_manatees.png" title="Polar bears hilariously ripping manatees into little bits."/>
    </a>
    <ul class="options">
        <li><a href="http://code.osuosl.org/projects/ganeti-webmgr/issues">Submit a bug.</a></li>
        <li>Return to  <a href="/">Ganeti Web Manager.</a></li>
        <li>Or read cartoons from <a href="http://theoatmeal.com">The Oatmeal</a>, and forget this ever happened.</li>
    </ul>
{% endblock %}