<html>
    <head>
    <title>{% block title %}Ganeti Web Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/color.js"></script>
    <script type="text/javascript" src="/static/js/highlight.js"></script>
    </head>
    <body>
    <div id="header">
        <div id="title">
            <a href="/">Ganeti Web Manager</a>
        </div>
        <div id="menu">
            {% block navigation %}
            <ul>
                {% if user.is_staff %}
                <li><a href="{% url cluster-list %}">Clusters</a></li>
                <li><a>More Greek</a></li>
                {% endif %}
                <li><a href="http://www.noc.grnet.gr">External Link</a>
            </ul>
            {% endblock %}
        </div>
        {% if not user.is_authenticated %}
        <form id="searchbar" method="post" action="{% url login %}">
            <label for="username">Username: </label>
              <input name="username" type="text"></input> 
            <label for="password">Password: </label>
              <input name="password" type="password"></input>
              <input type="submit" value="Login" />
        </form>
        {% else %}
        <div id="searchbar">
            <a href="{% url logout %}">Logout</a>
        </div>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <div id="footer">
        <a href="http://www.djangoproject.com/">
            <img src="/static/django.gif" alt="A Django site" title="A Django site" border=0 />
        </a>
    </div>
    
    </body>
</html>