<html>
    <head>
    <title>{% block title %}Ganeti Web Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css"/>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.qtip.js"></script>
    {% block head %}{% endblock %}
    </head>
    <body>
    <div id="header">
        <div id="title">
            <a href="/">Ganeti Web Manager</a>
        </div>
    </div>

    <div id="content_wrapper">
    <div id="content_column">
        {% block navigation %}
            {% if user.is_authenticated %}
            <div id="mainmenu" class="menu">
            <p class="user">You are logged in as: <a href="{% url profile %}">{{user.username}}</a><p>
            
            <h3></h3>
            <ul>
                <li><a href="{% url cluster-list %}">Clusters</a></li>
                <li><a href="{% url virtualmachine-list %}">Virtual Machines</a></li>
                <li><a href="{% url instance-create %}">Create VM </a></li>
                <li>
                    <span id="searchbar">
                        <a href="{% url logout %}">Logout</a>
                    </span>
                </li>
            </ul>
            {% if user.is_superuser %}
            <h3>Admin</h3>
            <ul>
                <li><a href="{% url instance-orphans %}">Orphan VMs</a></li>
                <li><a href="{% url user_group-list %}">User Groups</a></li>
            </ul>
            {% endif %}
            </div>
            {% endif %}
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </div>
    
    <div id="footer">
        <p>
        <a href="http://www.djangoproject.com/">
             <img src="{{ MEDIA_URL }}/django.gif" alt="A Django site" title="A Django site" border=0 />
        </a>
        </p>
    </div>
    
    </body>
</html>