{% extends "base.html" %}
{% load i18n %}
{% load object_permission_tags %}
{% load webmgr_tags %}


{% block basehead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/content.css"/>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.qtip.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/ajax_csrf_protection.js"></script>
{% endblock %}

{% block inner_header %}
    {% ifnotequal LANGUAGES|length 1 %}|{% endifnotequal %}
    {% trans "You are logged in as" %} <a href="{% url profile %}">{{user.username}}</a>,
    <a href="{% url logout %}">{% trans "Logout" %}</a>
{% endblock %}
    
{% block navigation %}
    {% if user.is_authenticated %}
    <div id="mainmenu" class="menu">
    <ul>
        <li><a href="{% url overview %}">{% trans "Overview" %}</a></li>
        {% if view_cluster %}
        <li><a href="{% url cluster-list %}">{% trans "Clusters" %}</a></li>
        {% endif %}
        <li><a href="{% url virtualmachine-list %}">{% trans "Virtual Machines" %}</a></li>
        {% if user.is_superuser or cluster_admin or create_vm %}
        <li><a href="{% url instance-create %}">{% trans "Create VM" %}</a></li>
        {% endif %}
    </ul>
    {% with user|group_admin as group_admin %}
    {% if user.is_superuser or group_admin or cluster_admin %}
    <h3>{% trans "Admin" %}</h3>
    <ul>
        {% if user.is_superuser or cluster_admin %}
            <li><a href="{% url import-orphans %}">{% trans "Orphan VMs" %}</a></li>
            <li><a href="{% url import-missing_db %}">{% trans "Import VMs" %}</a></li>
            <li><a href="{% url import-missing %}">{% trans "Missing VMs" %}</a></li>
            <li><a href="{% url import-nodes-missing_db %}">{% trans "Import Nodes" %}</a></li>
            <li><a href="{% url import-nodes-missing %}">{% trans "Missing Nodes" %}</a></li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="{% url user-list %}">{% trans "Users" %}</a></li>
        {% endif %}
        {% if user.is_superuser or group_admin %}
            <li><a href="{% url group-list %}">{% trans "Groups" %}</a></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>
    {% endif %}
{% endblock %}
