{% extends "base.html" %}
{% load i18n %}
{% load object_permission_tags %}
{% load webmgr_tags %}


{% block basehead %}
<!-- Include CSS -->
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/content.css"/>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery-ui.css"/>

<!-- Include Javascript -->
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.qtip.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/ajax_csrf_protection.js"></script>

<style>
    .ui-autocomplete{
        background: white;
        border:     1px solid #BBBBBB;
    }
</style>

<script type="text/javascript">

    var DOMAIN = "{% current_domain %}";
    var ENTER_KEYCODE = 13; // code for the enter/return key

    $(function(){
        /* "Main" */

        // Autocomplete search box
        $("#search").autocomplete({
            source: "{% url search-json %}",
            minLength: 2

        // make the search form submit if the enter key is pressed, even if the
        // autocomplete suggestion box is open
        }).keypress(function(event){
            if(event.keyCode == ENTER_KEYCODE){
                $("#search_form").submit();
            }
        });

        // Remove the widget-content class b/c it is customized for tab use in
        // other parts of the site. We'll then redefine it in the style tags 
        // above.
        $('.ui-autocomplete').removeClass('ui-widget-content');
    });

    function setlang(lang){
		$("#langsel").val(lang);
		$("#langform").submit();
	}
</script>
{% endblock %}

{% block inner_header %}
<div id="user_menu">
	{% ifnotequal LANGUAGES|length 1 %}
	<form action="/i18n/setlang/" method="post" id="langform">
		<input name="next" type="hidden" value="" />
		<input id="langsel" name="language" type="hidden" value="" />
		{% for lang in LANGUAGES %}<a class="select_lang" href="#" onclick="setlang('{{ lang.0 }}'); return false;" title="{{lang.1}}">{% ifequal LANGUAGE_CODE lang.0 %}<strong>{% endifequal %}{{ lang.0 }}{% ifequal LANGUAGE_CODE lang.0 %}</strong>{% endifequal %}</a>{% if not forloop.last %} -{% endif %}
		{% endfor %}
		{% csrf_token %}
	</form>
    |
	{% endifnotequal %}
	{% trans "You are logged in as" %} <a href="{% url profile %}">{{user.username}}</a>,
    <a href="{% url logout %}">{% trans "Logout" %}</a>
	
</div>
{% endblock %}
    
{% block navigation %}
    {% if user.is_authenticated %}
    <div id="mainmenu" class="menu">
    <ul>
        <li><a href="{% url overview %}">{% trans "Overview" %}</a></li>
        {% if view_cluster %}
        <li><a href="{% url cluster-list %}">{% trans "Clusters" %}</a></li>
        {% endif %}
        <li><a href="{% url virtualmachine-list %}">{% trans "Virtual Machines" %}</a></li>
        {% if user.is_superuser or cluster_admin or create_vm %}
        <li><a href="{% url instance-create %}">{% trans "Create VM" %}</a></li>
        {% endif %}
    </ul>
    {% with user|group_admin as group_admin %}
    {% if user.is_superuser or group_admin or cluster_admin %}
    <h3>{% trans "Admin" %}</h3>
    <ul>
        {% if user.is_superuser or cluster_admin %}
            <li><a href="{% url import-orphans %}">{% trans "Orphan VMs" %}</a></li>
            <li><a href="{% url import-missing_db %}">{% trans "Import VMs" %}</a></li>
            <li><a href="{% url import-missing %}">{% trans "Missing VMs" %}</a></li>
            <li><a href="{% url import-nodes-missing_db %}">{% trans "Import Nodes" %}</a></li>
            <li><a href="{% url import-nodes-missing %}">{% trans "Missing Nodes" %}</a></li>
        {% endif %}
        {% if user.is_superuser %}
            <li><a href="{% url user-list %}">{% trans "Users" %}</a></li>
        {% endif %}
        {% if user.is_superuser or group_admin %}
            <li><a href="{% url usergroup-list %}">{% trans "Groups" %}</a></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- autocomplete search box -->
    <h3>{% trans "Search" %}</h3>
    <form id="search_form" action="{% url search %}" method="get">
        <input id="search" type="text" name="q" />
    </form>

    </div>
    </div>
    {% endif %}
{% endblock %}
