{% load object_permission_tags %}

<html>
    <head>
    <title>{% block title %}Ganeti Web Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css"/>
    
    <style>
        #content {
            background:#eeeeee;
            border:0;
            float: none;
            margin:0 auto 0 auto;
            
        }
    </style>
    
    {% block head %}{% endblock %}
    
    
    
    </head>
    <body>
    <div id="header">
        <div id="title">
            <a href="/">{% block header_title %}Ganeti Web Manager {%endblock%}</a>
        </div>
    </div>

    <div id="content_wrapper">
    <div id="content_column">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </div>
    
    <div id="footer">
        <p>
        <a href="http://www.djangoproject.com/">
            <img src="{{ MEDIA_URL }}/django.gif" alt="A Django site" title="A Django site" border=0 />
        </a>
        </p>
        <p>
            Created in <a href="https://osuosl.org">Oregon State University Open Source Lab</a>.
        </p>
    </div>
    
    </body>
</html>
