{% load object_permission_tags %}
{% load webmgr_tags %}

<html>
    <head>
    <title>{% block title %}Ganeti Web Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/registration.css"/>
    {% block head %}{% endblock %}
    </head>
    <body>
    <div id="header">
        <div id="title">
            <a href="/"><img src="{{MEDIA_URL}}/logo.png"/></a>
        </div>
    </div>
    <div id="content_wrapper">
        <div id="content_column">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="floatfix"></div>
        </div>
    </div>
    
    <div id="footer">
        <p>
        <a href="http://www.djangoproject.com/">
             <img src="{{ MEDIA_URL }}/django.png" alt="A Django site" title="A Django site" border=0 />
        </a>
        </p>
    </div>
    
    </body>
</html>
