{% extends "base.html" %}

{% block basehead %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/registration.css"/>
{% endblock %}

{% block head %}
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
	<script type="text/javascript">
		function setlang(lang){
			$("#langsel").val(lang);
			$("#langform").submit();
		}
	</script>

{% endblock %}

{% block inner_header %}
{% ifnotequal LANGUAGES|length 1 %}
<div id="user_menu">
	<form action="/i18n/setlang/" method="post" id="langform">
		<input name="next" type="hidden" value="" />
		<input id="langsel" name="language" type="hidden" value="" />
		{% for lang in LANGUAGES %}<a class="select_lang" href="#" onclick="setlang('{{ lang.0 }}'); return false;" title="{{lang.1}}">{% ifequal LANGUAGE_CODE lang.0 %}<strong>{% endifequal %}{{ lang.0 }}{% ifequal LANGUAGE_CODE lang.0 %}</strong>{% endifequal %}</a>{% if not forloop.last %} -{% endif %}
		{% endfor %}
		{% csrf_token %}
	</form>
</div>
{% endifnotequal %}
{% endblock %}