{% with log_item.data as data %}
    {% if log_item.object_id2 %}
        <a href="{% url job-detail data.cluster_slug data.job_id %}">Job #{{ data.job_id }}</a> -
    {% endif %}
    {% if user.is_superuser %}
        <a href="{{ log_item.user.get_absolute_url }}">{{log_item.user}}</a>
    {% else %}
        {{ log_item.user }}
    {% endif %}
    renamed virtual machine
    {% if log_item.object_id1 %}
        {{data.hostname}}
        {% if data.newname %}
             to {{data.newname}}
        {% endif %}
    {% else %}[deleted]{% endif %}
{% endwith %}
