{% extends "no_menu_base.html" %}
{% load i18n %}
{% block content %}

{% if validlink %}
<div id="passwordreset2">
    <h1>{% trans "Reset Password" %}</h1>
    <fieldset>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="submit" type="submit" value="{% trans "Submit" %}" />
        </form>
    </fieldset>
</div>
{% else %}
<h1>{% trans "Error" %}</h1>
<p>{% trans "There was an error processing your password change request." %}</p>
{% endif %}

{% endblock %}
