{% load i18n %}
<div id="help-initrd_path">
    <p>
        {% blocktrans %}This option specifies the path (on the node) to the initrd 
        to boot the instance with. Xen PVM instances can use this 
        always, while for KVM if this option is only used if the 
        Kernel Path option is also specified.{% endblocktrans %} 
    </p>
    <p>
        {% blocktrans %}You can pass here either an absolute filename (the path to 
        the initrd) if you want to use an initrd, or use the 
        format no_initrd_path for no initrd.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
</div>
<div id="help-kernel_args">
    <p>
        {% blocktrans %}This options specifies extra arguments to the kernel that will 
        be loaded. device. This is always used for Xen PVM, while for
        KVM it is only used if the kernel_path option is also specified.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}The default setting for this value is simply "ro", which mounts
        the root disk (initially) in read-only one. For example, setting
        this to single will cause the instance to start in single-user mode.{% endblocktrans %}
    </p>
    <p>{% trans "Valid for the Xen PVM and KVM hypervisors" %}.</p>
</div>
