{% comment  %} Form for adding users {% endcomment %}

<link rel="stylesheet" type="text/css" href="{{SITE_ROOT}}/object_permissions_media/css/form.css"/>
<script type="text/javascript" src="{{SITE_ROOT}}/object_permissions_media/js/jquery.form.js"></script>
<script type="text/javascript" src="{{SITE_ROOT}}/ganeti_web_media/js/autocomplete_user_search.js"></script>

<script>
     $(function(){
       autocomplete_user_search($("#id_user"),'{% url user-search %}?groups=False');
     });
</script>

<form class="add_user_form" method="post" action="{% url group-add-user group.id %}">
    <ul id="errors"></ul>
    <table>
    {# only show user when one hasn't been preselected #}
    {% if user_id %}
        <input type="hidden" name="user" value="{{user_id|default:''}}"/>
    {% else %}
        <tr class="user"><td><b>{{form.user.label}}:</b></td><td>{{form.user}}</td></tr>
    {% endif %}
    </table>
    <input type="submit" class="submit" value="Save"/>
</form>

