{% extends "menu_base.html" %}
{% load i18n %}

{% block title %} User Group: {{ object.name }}{% endblock %}

{% block head %}
    <link href="{{MEDIA_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <style>
    #users {width:100%;}
    #users .permissions {cursor:pointer;}
    .ui-widget-header {background:none; border-width:0 0 1px 0; -moz-border-radius:0px;}
    .ui-widget-content {border:0;}
    </style>
    <script src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabs').tabs({
                spinner: false,
                cache: true,
                select: function(event, ui) {
                    window.location.hash = ui.tab.hash;
                },
                ajaxOptions: {
                    error: function(xhr, status, index, anchor) {
                        $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block content %}
<h1><a class="breadcrumb" href="{%url group-list %}">{% trans "Groups" %}</a> : {{ group.name }}</h1>
<div id="tabs">
    <ul>
        <li><a href="#users"><span>Users</span></a></li>
        <li><a title="permissions" href="{% url group-all-permissions group.pk %}"><span>Permissions</span></a></li>
        {% block tabs %}{% endblock %}
    </ul>
    <div id="users">
        {% include "object_permissions/group/users.html" %}
    </div>
</div>
{% endblock content %}
