{% extends "user/detail.html" %}
{% load i18n %}

{% block tabs %}
    <li><a title="permissions" href="{% url user-all-permissions user_detail.pk %}"><span>{% trans "Permissions" %}</span></a></li>
    <li><a title="usage" href="{% url used_resources %}?id={{user_detail.get_profile.pk}}"><span>{% trans "Resource Usage" %}</span></a></li>
    <li><a title="user actions" href="{% url user-object_log-actions user_detail.pk %}"><span>{% trans "User Actions" %}</span></a></li>
    <li><a title="log" href="{% url user-object_log user_detail.pk %}"><span>{% trans "Log" %}</span></a></li>
{% endblock %}

{% block detail %}

    {%  with user_detail.ssh_keys.all as keyslist %}
    <h3>SSH keys</h3>
    <a class="button add" id="add_key" href="{% url user-key-add user_detail.pk %}">{% trans "Add SSH key" %}</a>
    {% include "ganeti/ssh_keys/table.html" %}
    {% endwith %}
{% endblock %}