{% extends "menu_base.html" %}
{% load webmgr_tags %}

{% block title %}Delete Cluster{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/delete.css"/>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#delete').click(function(){
                href = "{% url cluster-delete vm.cluster.slug %}";
                $.delete_(href, function(){
                    $("#confirm").hide();
                    $("#success").show();
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
<div id="confirm">
    <div class="message">
        Are you sure you want to delete this cluster?  This action
        can not be undone.  The cluster and all associated virtual machines will
        be removed from the database.
        
        The virtual machines on the cluster will remain unchanged.
        <ul><li>{{cluster.hostname}}</li></ul>
    </div>
    <input id="delete" type="button" value="Delete" />
</div>

<div id="success">
    Deleted.
</div>
{% endblock %}
