{% extends "base.html" %}

{% block title %}Cluster {{ cluster.id }}: {{ cluster.hostname|safe }}{% endblock %}
{% block content %}

<div class="ticket" id="ticket_{{ cluster.id }}">
<h1>Cluster: {{ cluster.hostname }}</h1>
<p><a href="{% url instance-create cluster.slug %}">Add Virtual Machine</a></p>
<h2>Information</h2>
{% with cluster.info as info %}
<ul>
<li>Architecture: {{ info.architecture.0 }}</li>
<li>Default hypervisor: {{ info.default_hypervisor }}</li>
<li>Available hypervisors: {{ info.enabled_hypervisors|join:", " }}</li>
<li>Master node: {{ info.master }}</li>
<li>Created: 
  {% if cluster.ctime %}
    {{ cluster.ctime|date }}
  {% else %}
    <em>unknown</em>
  {% endif %}
<li>Last modified: {{ cluster.mtime|date }}</li>
{% endwith %}

<h2>Instances</h2>
{% include "virtual_machine/vm_table.html" %}
</div>
{% endblock %}
