{% extends "menu_base.html" %}
{% block title %}Cluster {{ cluster.id }}: {{ cluster.hostname|safe }}{% endblock %}

{% block head %}
    <link href="{{MEDIA_URL}}/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <style>
    .ui-widget-header {background:none; border-width:0 0 1px 0; -moz-border-radius:0px;}
    .ui-widget-content {border:0;}
    </style>
    
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
    <script src="{{MEDIA_URL}}/js/jquery-ui.min.js"></script>
    <script src="{{MEDIA_URL}}/js/jquery.progressbar.js"></script>
    <script type="text/javascript">
        var PBAR_CONF = {
            steps: 0,
            showText: true,
            textFormat: 'fraction',
            boxImage: '/media/images/progressbar/progressbar.gif',
            barImage: {
                0:  '/media/images/progressbar/progressbg_red.gif',
                30: '/media/images/progressbar/progressbg_orange.gif',
                50: '/media/images/progressbar/progressbg_yellow.gif',
                75: '/media/images/progressbar/progressbg_green.gif',
            }
        };
        
        $(document).ready(function() {
            $('#tabs').tabs({
                spinner: false,
                select: function(event, ui) {
                    window.location.hash = ui.tab.hash;
                    var tabID = ui.panel;
                                       if (tabID.id != "overview") {
                                               $(tabID).html("<div class='spinner'><br/>Loading...<br/><br/><img src='{{MEDIA_URL}}/images/ajax-loader.gif'></div>");
                                       }
                 },
                ajaxOptions: {
                    error: function(xhr, status, index, anchor) {
                        $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
                    }
                }
            });
	    
            $("a.delete").live("click", function(){
                if (confirm("Are you sure you want to delete this cluster?")) {
					
                    $("a.delete").text("Deleting...");
                    $("a.delete").removeAttr("href");
                    $("a.delete").addClass("deleting");
                    $("a.delete").removeClass("delete");

                    href = "{% url cluster-edit cluster.slug %}";
                    $.delete_(href, function(){
                        window.location = "{% url cluster-list %}";
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
<h1>Cluster: {{ cluster.hostname }}</h1>

<ul id="messages">
    {%if cluster.error%}<li class="error">Error in Ganeti API:<p>{{cluster.error}}</p></li>{%endif%}
</ul>
<div id="tabs">
    <ul>
        <li><a href="#overview"><span>Overview</span></a></li>
        <li><a title="virtual machines" href="{% url cluster-vms cluster.slug %}"><span>Virtual Machines</span></a></li>
        <li><a title="nodes" href="{% url cluster-nodes cluster.slug %}"><span>Nodes</span></a></li>
        {% if admin %}<li><a title="user" href="{% url cluster-users cluster.slug %}"><span>Users</span></a></li>{%endif%}
    </ul>
    <div id="overview" class="tab_content">
        <ul id="actions">
            {% if admin %}
                <li><a class="button edit" title="edit cluster" href="{% url cluster-edit cluster.slug %}">Edit</a></li>
                <li><a class="button delete" title="delete cluster" href="{% url cluster-edit cluster.slug %}">Delete</a></li>
            {% endif %}
        </ul>
        <table class="overview">
            {% with cluster.info as info %}
            <tr><td>Architecture</td><td>{{ info.architecture.0 }}</td></tr>
            <tr><td>Ganeti Version</td><td>{{info.software_version}}</td></tr>
            <tr><td>Default hypervisor</td><td>{{ info.default_hypervisor }}</td></tr>
            <tr><td>Available hypervisors</td><td>{{ info.enabled_hypervisors|join:", " }}</td></tr>
            <tr><td>Master node</td><td>{{ info.master }}</td></tr>
            <tr><td>Created</td><td>
            {% if cluster.ctime %}
                {{ cluster.ctime|date }}
            {% else %}
                <em>unknown</em>
            {% endif %}
            </td></tr>
            <tr><td>Last modified</td><td >{{ cluster.mtime|date }}</td></tr>
            {% endwith %}
        </table>
    </div>
</div>
{% endblock %}
