{% extends "base.html" %}

{% block title %}Edit {{ cluster.slug }} {% endblock %}

{% block content %}
<div id="clusterform">
    <fieldset>
        {% if cluster %}
        <legend>{{ cluster.hostname }}</legend>
        {% else %}
        <legend> Cluster </legend>
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% if cluster %}
            <input type="submit" value="Save">
            {% else %}
            <input class="submit" type="submit" value="Add">
            {% endif %}
        </form>
    </fieldset>
</div>
{% endblock %}