{% extends "base.html" %}

{% block title %}Clusters{% endblock %}

{% block content %}
<h1>Clusters</h1>

{% if user.is_superuser %}
<div class="add"><a href="{% url cluster-create %}">Add Cluster</a></div>
{% endif %}

<table>
    <tr>
        <th>Hostname</th>
        <th>Slug</th>
        <th>Nodes</th>
        {% comment %}
        <!-- This should be changed to instance-list at a later date -->
        {% endcomment %}
        <th>VMs</th>
        <th>Tags</th>
        <th></th>
        <th></th>
    </tr>
{% for cluster in cluster_list %}
    {% with cluster.info as info %}
    {% with cluster.nodes as nodes %}
    {% with cluster.instances as vms %}
        <tr>
            <td class="name">
                {% if cluster.error %}<div class="icon_error" title="Ganeti API Error: {{cluster.error}}"></div>{% endif %}
                <a href="{% url cluster-detail cluster.slug %}">{{ cluster.hostname }}</a></td>
            <td>{{ cluster.slug }}</td>
            <td>{{ nodes|length }}</td>
            <td>{{ vms|length }}</td>
            <td>{{ info.tags|join:", "}}</td>
            <td><a href="{% url cluster-edit cluster.slug %}"><div class="edit"></div></a></td>
            <td><a href="{% url cluster-delete cluster.slug %}"><div class="delete"></div></a></td>
        </tr>
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% empty %}
    <tr class="none"><td colspan="100%">No Clusters</td></tr>
{% endfor %}
</table>
{% endblock %}