{% extends "base.html" %}

{% load webmgr_tags %}

{% block title %}Clusters{% endblock %}

{% block head %}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ajax.delete.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.progressbar.js"></script>
<script type="text/javascript">
    var PBAR_CONF = {
        steps: 0,
        showText: true,
        textFormat: 'fraction',
        // XXX there's issue, bars doesn't scale the progress to the given width
        width: 120,
        boxImage: '/media/images/progressbar/progressbar.gif',
        barImage: {
            0:  '/media/images/progressbar/progressbg_red.gif',
            30: '/media/images/progressbar/progressbg_orange.gif',
            50: '/media/images/progressbar/progressbg_yellow.gif',
            75: '/media/images/progressbar/progressbg_green.gif',
        },
    };
    $(document).ready(function() {
        
    });
</script>
{% endblock %}

{% block content %}
<h1>Clusters</h1>

{% if user.is_superuser %}
<a class="button add" href="{% url cluster-create %}">Add Cluster</a>
{% endif %}

<table id="clusters" class="sorted">
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Desc.</th>
            <th>Version</th>
            <th>Hypervisor</th>
            <th>Master node</th>
            <th>Nodes</th>
            {% comment %}
            <!-- This should be changed to instance-list at a later date -->
            {% endcomment %}
            <th>VMs</th>
        </tr>
    </thead>
    <tbody>
    {% for cluster in cluster_list %}
        {% with cluster.info as info %}
        {% with cluster.nodes as nodes %}
            <tr id="cluster_{{cluster.id}}">
                <td class="name">
                    {% if cluster.error %}<div class="icon_error" title="Ganeti API Error: {{cluster.error}}"></div>{% endif %}
                    <a href="{% url cluster-detail cluster.slug %}">
                        {{ cluster.hostname|abbreviate_fqdn }}
                    </a>
                </td>
                <td>{{ cluster.description }}</td>
                <td>{{ info.software_version }}</td>
                <td>{{ info.default_hypervisor }}</td>
                <td>{{ info.master }}</td>
                <td>{{ nodes|length }}</td>
                <td>{{ cluster.virtual_machines.count }}</td>
            </tr>
        {% endwith %}
        {% endwith %}
    {% empty %}
        <tr class="none"><td colspan="100%">No Clusters</td></tr>
    {% endfor %}
    </tbody>
</table>

<!-- Progress bars for free memory/disk and sorting -->
<script type="text/javascript">
    $("#clusters .ram, #clusters .disk").progressBar(PBAR_CONF);
    $("#clusters").tablesorter();
</script>

{% if ganeti_errors or job_errors %}
<div class="errors_list">
    <h2>Errors and failures</h2>

    {% if ganeti_errors %}
    <h3>Ganeti errors</h3>
    <table>
        <thead>
            <tr>
                <th>Cluster</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">gwm</a></td>
                <td><a href="">Authorization failed</a></td>
                <td>01/05/11 16:21</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if job_errors %}
    <h3>Jobs failures</h3>
    <table>
        <thead>
            <tr>
                <th>Cluster</th>
                <th>Related object</th>
                <th>Info</th>
                <th>Finish time</th>
            </tr>
        </thead>
        <tbody>
            {% for jerror in job_errors %}
            <tr>
                <td><a href="">{{ jerror.cluster|abbreviate_fqdn }}</a></td>
                <td><a href="">{{ jerror.obj }}</a></td>
                <td>{{ jerror.info.ops.0.OP_ID|format_job_op }}</td>
                <td>{{ jerror.finished }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endif %}

{% if orphaned or import or missing %}
<div class="administration">
    <h2>Administration</h2>
    {% if orphaned %}
    <h3>Orphaned VMs</h3>
    <p><a href="{% url import-orphans %}">Adopt {{ orphaned }} VMs.</a></p>
    {% endif %}

    {% if import_ready %}
    <h3>Ready to import VMs</h3>
    <p><a href="{% url import-missing %}">Import {{ import_ready }} VMs.</a></p>
    {% endif %}

    {% if missing %}
    <h3>Missing VMS from ganeti</h3>
    <p><a href="{% url import-missing_db %}">Remove {{ missing }} VMs.</a></p>
    {% endif %}

</div>
{% endif %}
{% endblock %}
