{% comment %} user row for cluster {% endcomment %}

{% load object_permission_tags %}
{% load webmgr_tags %}

<tr id="user_{{user.id}}" class="user">
    <td class="name">{{user.username}}</td>
    <td>
        <a href="{{SITE_ROOT}}/cluster/{{cluster.slug}}/permissions/user/{{user.id}}" class="permissions">
        {% for permission in user|permissions:cluster %}
            {{permission}}{%if not forloop.last%}, {%endif%}
        {% empty %}
            <i>None</i>
        {% endfor %}
    </td>
    {% with user.profile as cluster_user %}
        {% include "cluster/user_quota.html" %}
    {% endwith %}
    <td><div class="delete"></div></td>
</tr>