{#  snippet for rendering quota of a User or UserGroup #}
{% load webmgr_tags %}

{% with cluster_user|quota:object as quota %}
    <td>
        <a href="{% url cluster-quota object.slug cluster_user.id %}"
           class="quota {%if quota.default%}default{%endif%}">
        {%if quota.virtual_cpus or quota.ram or quota.disk %}
            {%if quota.virtual_cpus%}CPUs:{{quota.virtual_cpus}} {%endif%}
            {%if quota.ram%}Memory:{{quota.ram}} {%endif%}
            {%if quota.disk%}Disk:{{quota.disk}} {%endif%}
        {% else %}
            &#8734;
        {% endif %}
        </a>
    </td>
{% endwith %}