{% load webmgr_tags %}
<td class="timestamp">{{log_item.timestamp|date}}</td>
<td>{% if user.is_superuser %}
        <a href="{% url user-detail log_item.user.pk %}">{{log_item.user}}</a>
    {% else %}
        {{ log_item.user }}
    {% endif %}
modified permissions for
    {% with log_item.object2|class_name as klass %}
        {{ klass }}
        {% if user.is_superuser %}
            {% ifequal klass "User" %}
                <a href="{% url user-detail log_item.object2.pk %}">{{log_item.object2}}</a>
            {% else %}
                <a href="{% url usergroup-detail log_item.object2.pk %}">{{log_item.object2}}</a>
            {% endifequal %}
        {% else %}
            {{ log_item.object2 }}
        {% endif %}
    {% endwith %}
    on {{log_item.object_type1}} {{log_item.object1}}</td>