{% load webmgr_tags %}
{% with log_item.data as data %}
{% if user.is_superuser %}
        <a href="{% url user-detail log_item.user.pk %}">{{log_item.user}}</a>
    {% else %}
        {{ log_item.user }}
    {% endif %}
modified permissions for
    {{ data.affected_user_class }}
    {% if user.is_superuser %}
        {% ifequal data.affected_user_class "User" %}
            <a href="{% url user-detail data.affected_user_id %}">{{data.affected_user}}</a>
        {% else %}
            <a href="{% url usergroup-detail data.affected_user_id %}">{{data.affected_user}}</a>
        {% endifequal %}
    {% else %}
        {{ data.affected_user }}
    {% endif %}
    on {{log_item.object_type1}} {{data.object_str}}
{% endwith %}