{% extends "menu_base.html" %}
{% load webmgr_tags %}
{% load i18n %}
{% block head %}

{% endblock %}

{% block content %}

<h1 class="breadcrumb">
    {% if cluster_admin %}
    <a href="{% url cluster-detail job.cluster.slug %}#virtual_machines">{{job.cluster.hostname|abbreviate_fqdn}}</a>
    {% else %}
    <span>{{job.cluster.hostname|abbreviate_fqdn}}</span>
    {% endif %}
    : <span>Jobs</span>
    : {{ job.job_id }}
</h1>


    {% with job.info as info %}

    <table>
        <tr><th colspan="100%">{% trans "Overview" %}</th></tr>
        <tr><td>{% trans "Status" %}</td><td>{{ job.status }}</td></tr>
        <tr><td>{{ job.obj|class_name }}</td>
            {% with job as error %}
                {% include "ganeti/overview/object_link.html" %}
            {% endwith %}
        </tr>
        <tr><td>{% trans "Completed" %}</td><td>{{ job.finished|date }}</td></tr>
    </table>

    {% for op in info.ops %}

        <table>
            <tr><th colspan="100%">{{op.OP_ID|format_job_op}}</th></tr>
            <tr><td>{% trans "Status" %}:</td><td>{{ info.opstatus|index:forloop.counter0 }}</td></tr>
            <tr><td>{% trans "Started" %}:</td><td>{{ info.start_ts|index:forloop.counter0|timestamp|date }}</td></tr>
            <tr><td>{% trans "Finished" %}:</td>
                {% with info.end_ts|index:forloop.counter0 as finished %}
                    <td>{% if finished %}{{ finished|timestamp|date }}{% endif %}</td></tr>
                {% endwith %}
        </table>

        {% with info.opresult|index:forloop.counter0 as job_result %}
            {% if job_result %}
                <pre>{{ job_result.1.0|format_job_log }}</pre>
            {% endif %}
        {% endwith %}

        

    {% endfor %}

    {% endwith %}

{% endblock %}