{% extends "menu_base.html" %}
{% load i18n %}
{% load webmgr_tags %}

{% block title %}{% trans "Thresholds" %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.delete").click(function() {
                answer = confirm('{% trans "Do you really want to delete this threshold?" %}');
                if (!answer) {
                    return false;
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<h1>{% trans "Thresholds" %}</h1>
{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if thresholds %}
{% include "ganeti/metrics/thresholds_table.html" %}
{% else %}
    <h3>{% trans "No thresholds were defined." %}</h3>
{% endif %}

<ul>
    <li><a href="{% url threshold-add %}">{% trans "Add new threshold" %}</a></li>
    <li><a href="{% url thresholds-generate %}">{% trans "Save and restart" %}</a>
</ul>

{% endblock %}
