html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */


body{
  font-family: "athelas-1","athelas-2",serif;
  font-size:15px;
  line-height:20px;
  color:#330;
}

#arbor{
  position:absolute;
  min-height:100%;
  min-width:100%;
}

/*
#nav{
  background:transparent url(logo.png) 40px 0 no-repeat;
  font-style:italic;
  color:#887;
  padding:17px 0 0 160px;
  height:30px;
  margin:9px 0px 0 0px;
  border-bottom:1px solid #bbb;
}

#nav > p{
  display:none;
}
#nav .back{
  width:140px;
  height:36px;
  display:none;
  position:absolute;
  left:10px;
  top:11px;
}

#nav .back.active{
  display:block;
}

*/
#grapharea{
  margin:8px 0 0 0;
}

#grapharea.linkable{
  cursor:pointer;
}
