{% with log_item.data as data %}
    {% if log_item.object_id2 %}
        <a href="{% url job-detail data.cluster_slug data.job_id %}">Job #{{ data.job_id }}</a> -
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url user-detail log_item.user.pk %}">{{log_item.user}}</a>
    {% else %}
        {{ log_item.user }}
    {% endif %}
    attempted recovery of virtual machine
    {% if log_item.object_id1 %}<a href="{% url instance-detail data.cluster_slug data.hostname %}">{{data.hostname}}</a>
    {% else %}[deleted]{% endif %}
{% endwith %}