body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 90%;
  width: 98%;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -2;
}


#overlay-help {
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: 0px;
  height: 100%;
  width: 25%;
  z-index: -1;
  background: #FFEBCD;
  opacity:0.9;
}

#instancelookup-div {
  visibility: visible;
  position: absolute;
  max-height:1em; 
  top: 10px;
  left: 42%;
  height: 3%;
  width: 14%;
  z-index: -2;
  background: #FFEBCD;
  overflow: hidden;
}
