body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  overflow: hidden;
}

#cy {
  height: 90%;
  width: 98%;
  position: absolute;
  left: 5;
  top: 20px;
  z-index: -3;
}


#overlay-help {
  visibility: hidden;
  position: absolute;
  top: 45px;
  left: 0px;
  height: 100%;
  width: 25%;
  z-index: -1;
  background: #FFEBCD;
  opacity:0.9;
  overflow: scroll;
}

#instancelookup-div {
  visibility: visible;
  position: absolute;
  max-height:1em; 
  top: 10px;
  left: 42%;
  height: 3%;
  width: 14%;
  z-index: -3;
  background: #FFEBCD;
  overflow: hidden;
}

#instancelist-div {
  visibility:hidden;
  position: absolute;
  top: 45px;
  right: 0px;
  min-height: 0%;
  max-height: 80%;
  width: 16%;
  z-index: -2;
  background: #FFF8DC;
  opacity:0.9;
  text-align:center;
  overflow: auto;
  oveflow-y:hidden;
  contenteditable:true;
}

#instancelist {
  list-style-type: none;
  margin:2%;
  padding: 2%;
  cursor: pointer;
}

.active-list-element {
    background: #FFA07A;
}
