{% load webmgr_tags %}
{% load object_log_tags %}
{% with log_item.data as data %}
    {% if user.is_superuser %}
        <a href="{{ log_item.user.get_absolute_url }}">{{log_item.user}}</a>
    {% else %}
        {{ log_item.user }}
    {% endif %}
added
    {{ data.affected_user_class }}
    {% if user.is_superuser and log_item.object_id2 %}
        {% ifequal data.affected_user_class "User" %}
            <a href="{% url user-detail log_item.object_id2 %}">{{data.affected_user}}</a>
        {% else %}
            <a href="{% url group-detail log_item.object_id2 %}">{{data.affected_user}}</a>
        {% endifequal %}
    {% else %}
        {{ data.affected_user|default:"[deleted user]"}}
    {% endif %}
    to {{log_item.object_type1_id|ct_for_id}} {% contenttypelink log_item.object_type1_id log_item.object_id1 %}{{log_item.data.object_str}}{% endcontenttypelink %}
{% endwith %}
